<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>관리자 페이지 - 회원 관리</title>
  <link rel="stylesheet" th:href="@{/css/user/loginModal.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment/adminSideBar.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/adminUser.css}" />
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
  <style>
    body {
      font-family: "NanumSquareLight";
      font-family: "NanumSquare";
      font-family: "NanumSquareBold";
      font-family: "NanumSquareExtraBold";
      font-family: "NanumSquareAcb";
      font-family: "NanumSquareAceb";
      font-family: "NanumSquareAcl";
      font-family: "NanumSquareAcr";
    }
  </style>
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<div class="admin-main">
  <div class="admin-app">
  <!-- 관리자 사이드바 메뉴 -->
    <div class="admin-container" th:replace="fragment/adminSideBar :: adminSideBar"></div>
    <!-- 관리자 사이드 메뉴 끝 -->

    <!-- 관리자 카테고리  -->
    <div class="admin-category">
      <div class="category">
        <div class="big-category">
          <h2>회원 관리</h2>

          <div class="small-category">
            <a href="#" class="small-category-a">
              <h4>회원 정보</h4>
            </a>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- 회원 정보 검색 및 테이블 -->
      <form action="/admin/result" method="get">
        <div class="search">
          <span>아이디 : </span>
          <input name="id" type="text" placeholder="아이디" class="search-text" style="font-family: NanumSquareAcr;">
          <span>신원 :  </span>
          <select name="identity" id="identity" class="search-text2" style="font-family: NanumSquareAcr;">
            <option value="" class="officeWorkers" style="font-family: NanumSquareAcr;">선택</option>
            <option value="직장인" class="officeWorkers" style="font-family: NanumSquareAcr;">직장인</option>
            <option value="대학생" class="collegeStudent" style="font-family: NanumSquareAcr;">대학생</option>
            <option value="고등학생" class="highSchool" style="font-family: NanumSquareAcr;">고등학생</option>
          </select>
          <span>부서/학과 : </span>
          <select name="mainCode" id="department" class="select-btn" style="font-family: NanumSquareAcr;">
            <option value="201" style="font-family: NanumSquareAcr;" class="hideNone">서비스업</option>
            <option value="202" style="font-family: NanumSquareAcr;" class="hideNone">금융·은행업</option>
            <option value="203" style="font-family: NanumSquareAcr;" class="hideNone">IT·정보통신업</option>
            <option value="204" style="font-family: NanumSquareAcr;" class="hideNone">판매·유통업</option>
            <option value="205" style="font-family: NanumSquareAcr;" class="hideNone">제조·생산·화학업</option>
            <option value="206" style="font-family: NanumSquareAcr;" class="hideNone">교육업</option>
            <option value="207" style="font-family: NanumSquareAcr;" class="hideNone">건설업</option>
            <option value="208" style="font-family: NanumSquareAcr;" class="hideNone">의료·제약업</option>
            <option value="209" style="font-family: NanumSquareAcr;" class="hideNone">미디어·광고업</option>
            <option value="210" style="font-family: NanumSquareAcr;" class="hideNone">문화·예술·디자인업</option>
            <option value="211" style="font-family: NanumSquareAcr;" class="hideNone">기관·협회</option>
            <option value="101" style="font-family: NanumSquareAcr;" class="hide">인문사회계열</option>
            <option value="102" style="font-family: NanumSquareAcr;" class="hide">자연과학계열</option>
            <option value="103" style="font-family: NanumSquareAcr;" class="hide">예체능계열</option>
            <option value="104" style="font-family: NanumSquareAcr;" class="hide">공학계열</option>
            <option value="105" style="font-family: NanumSquareAcr;" class="hide">의학계열</option>
            <option value="" style="font-family: NanumSquareAcr;" class="hide2" selected> -- </option>
          </select>
          <span>멘토/멘티 : </span>
          <select name="position" id="mandm" class="search-text2" style="font-family: NanumSquareAcr;">
            <option value="" style="font-family: NanumSquareAcr;">선택</option>
            <option value="멘토" style="font-family: NanumSquareAcr;">멘토</option>
            <option value="멘티" style="font-family: NanumSquareAcr;">멘티</option>
          </select>
          <button type="text" class="search-btn" style="font-family: NanumSquareAcr;">검색</button>
        </div>
      </form>

      <div class="border-box">
        <table class="user-table" border="1px" width="100%" height="300">
          <thead>
          <tr class="user-table-category">
            <td class="checkbox">
              <input type="checkbox" name="" id="checkAll">
            </td>
            <td class="user-name" align="center">이름</td>
            <td class="user-id" align="center">아이디</td>
            <td class="user-dep" align="center">부서/학과</td>
            <td class="user-register-date" align="center">생년월일</td>
            <td class="user-phonenumber" align="center">전화번호</td>
            <td class="user-mento-menti" align="center">멘토/멘티</td>
            <td class="user-email" align="center">회원상태관리</td>
            <td class="user-email" align="center">회원상태</td>
          </tr>
          </thead>

          <tbody>
          <tr class="user-table-category" th:each="admin : ${adminVoList}">
            <td class="checkbox">
              <input type="checkbox" name="" class="check check-box" id="checking" th:data-number="${admin.userNumber}">
            </td>
            <td class="user-id" align="center" th:text="${admin.userName}"></td>
            <td class="user-job" align="center" th:text="${admin.userId}"></td>
            <td class="user-dep" align="center" th:text="${admin.mainName}"></td>
            <td class="user-register-date" align="center"th:text="${admin.userRrnumber}"></td>
            <td class="user-phonenumber" align="center" th:text="${admin.userPhonenumber}"></td>
            <td class="user-mento-menti" align="center">
              <button th:if="${admin.userPosition == '멘토'}" type="button" class="mento-button Y" style="font-family: NanumSquareAcr;" th:text="멘토"></button>
              <button th:if="${admin.userPosition == '멘티'}" type="button" class="mento-button N" style="font-family: NanumSquareAcr;" th:text="멘티"></button>
            </td>
<!--            <td class="user-email" align="center" th:text="${admin.userEmail}"></td>-->
            <td class="board-public-secret" align="center">
              <select name="user-report-select" class="user-report-select" style="font-family: NanumSquareAcr;">
                <option value="">선택</option>
                <option value="1">일반 회원</option>
<!--                <option value="2">신고 회원</option>-->
                <option value="3">영구 정지</option>
              </select>
            </td>
            <td class="report-resulting-success" align="center">
              <div th:if="${admin.userStatus} == 1"  class="blind-button Y" th:text="일반회원"></div>
<!--              <div th:if="${admin.userStatus} == 2"  class="blind-button A" th:text="신고회원"></div>-->
              <div th:if="${admin.userStatus} == 3"  class="blind-button B" th:text="영구정지"></div>
              <div th:if="${admin.userStatus} == 0"  class="blind-button B" th:text="탈퇴회원"></div>
            </td>
          </tr>
          </form>
          </tbody>
        </table>
      </div>
      <!--  -->
    </div>

    <div class="remove-delete-button">
      <button type="button" class="remove-button-btn" id="changeStatusBtn" style="font-family: NanumSquareAcr;">변경</button>
    </div>
  </div>
</div>
</div>


<footer class="header" th:replace="fragment/footer :: footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<script th:src="@{/js/fragment/footer.js}" ></script>
<script th:src="@{/js/fragment/header.js}" ></script>
<script th:src="@{/js/admin/adminUser.js}" ></script>
<script th:src="@{/js/admin/adminReport.js}" ></script>
<script th:src="@{/js/admin/userStatus.js}" ></script>
<script th:src="@{/js/user/loginModal.js}"></script>
</body>
</html>