<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>관리자 페이지 - 게시글 관리 - 포인트 관리</title>
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment/adminSideBar.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/adminPoint.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/datepicker.css}">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />

  <style>
    body {
      font-family: "NanumSquareLight";
      font-family: "NanumSquare";
      font-family: "NanumSquareBold";
      font-family: "NanumSquareExtraBold";
      font-family: "NanumSquareAcb";
      font-family: "NanumSquareAceb";
      font-family: "NanumSquareAcl";
      font-family: "NanumSquareAcr";
    }
  </style>
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<div class="admin-main">
  <div class="admin-app">
    <!-- 관리자 사이드 메뉴 -->
    <div class="admin-container" th:replace="fragment/adminSideBar :: adminSideBar"></div>
    <!-- 관리자 사이드 메뉴 끝 -->

    <!-- 관리자 카테고리  -->
    <div class="admin-category">
      <div class="category">
        <div class="big-category">
          <h2>포인트 관리</h2>

          <div class="small-category-kind">
            <div class="small-category1">
              <a href="#" class="small-category-a">
                <h4>포인트 정보</h4>
              </a>
            </div>

          </div>
        </div>
      </div>
      <!--  -->

      <!-- 회원 정보 검색 및 테이블 -->
      <form action="#">
        <div class="search">
          <span>이름 : </span>
          <input type="text" placeholder="이름" class="search-text">
          <span>아이디 :  </span>
          <input type="text" placeholder="아이디" class="search-text">
          <span>가입일 : </span>
          <input class="datepicker">
          <span>멘토/멘티 : </span>
          <select name="public-secret" id="public-secret" class="search-text2">
            <option value="public">멘토</option>
            <option value="secret">멘티</option>
          </select>
          <button type="button" class="search-btn">검색</button>
        </div>
      </form>

      <div class="border-box">
        <table class="user-table" border="1px" width="100%" height="300">
          <thead>
          <tr class="user-table-category">
            <td class="checkbox">
              <input type="checkbox" name="" id="checkAll">
            </td>
            <td class="user-name" align="center">이름</td>
            <td class="user-id" align="center">아이디</td>
            <td class="point-cnt" align="center">포인트 수량</td>
            <td class="user-register-date" align="center">가입일</td>
            <td class="user-status" align="center">멘토/멘티</td>
          </tr>
          </thead>

          <tbody>
          <tr class="user-table-category">
            <td class="checkbox">
              <input type="checkbox" name="" class="check"id="checking">
            </td>
            <td class="user-name" align="center">홍길동</td>
            <td class="user-id" align="center">aaa</td>
            <td class="point-cnt" align="center">30윙</td>
            <td class="user-register-date" align="center">2023-06-01</td>
            <td class="user-status" align="center">
              <div class="mento-button">멘토</div>
            </td>
          </tr>

          <tr class="user-table-category">
            <td class="checkbox">
              <input type="checkbox" name="" class="check"id="checking">
            </td>
            <td class="user-name" align="center">김철수</td>
            <td class="user-id" align="center">bbb</td>
            <td class="point-cnt" align="center">320윙</td>
            <td class="user-register-date" align="center">2023-06-01</td>
            <td class="user-status" align="center">
              <div class="menti-button">비공개</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--  -->
    </div>


  </div>
</div>

<footer class="header" th:replace="fragment/footer :: footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<script th:src="@{/js/admin/adminUser.js}"></script>
<script th:src="@{/js/fragment/header.js}" ></script>
<!-- 작성일 jquery-ui -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(function(){
    $.datepicker.setDefaults({
      dateFormat: "yy-mm-dd",
      prevText: "이전 달",
      nextText: "다음 달",
      monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
      monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
      dayNames: ["일", "월", "화", "수", "목", "금", "토"],
      dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
      dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
      showMonthAfterYear: true,
      yearSuffix: "년",
    });

    $('.datepicker').datepicker();
  })
</script>
<!--  -->
</body>
</html>