<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 페이지 - 신고 내역</title>
    <link rel="stylesheet" th:href="@{/css/user/loginModal.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/adminSideBar.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminCommentReport.css}" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
        body {
            font-family: "NanumSquareLight";
            font-family: "NanumSquare";
            font-family: "NanumSquareBold";
            font-family: "NanumSquareExtraBold";
            font-family: "NanumSquareAcb";
            font-family: "NanumSquareAceb";
            font-family: "NanumSquareAcl";
            font-family: "NanumSquareAcr";
        }
    </style>
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<div class="admin-main">
    <div class="admin-app">
        <!-- 관리자 사이드 메뉴 -->
        <div class="admin-container" th:replace="fragment/adminSideBar :: adminSideBar"></div>
        <!-- 관리자 사이드 메뉴 끝 -->

        <!-- 관리자 카테고리  -->
        <div class="admin-category">
            <div class="category">
                <div class="big-category">
                    <h2>신고 관리</h2>

                    <div class="report-category">
                    <div class="small-category1">
                        <a th:href="@{/admin/report}" class="small-category-a">
                            <h4>게시글 신고</h4>
                        </a>
                    </div>
                    <div class="small-category2">
                        <a href="#" class="small-category-a">
                            <h4>댓글 신고</h4>
                        </a>
                    </div>
                        </div>

                </div>
            </div>
            <!--  -->

            <!-- 회원 정보 검색 및 테이블 -->
            <form action="/admin/commentReport" method="get">
                <div class="search">
                    <span>이름 : </span>
                    <input name="userName" type="text" placeholder="이름" class="search-text" style="font-family: NanumSquareAcr;">
                    <span>게시판 :  </span>
                    <select name="bigCode" id="identity" class="search-text2" style="font-family: NanumSquareAcr;">
                        <option value="">선택</option>
<!--                        <option value="200">진로정보</option>-->
                        <option value="300">QnA</option>
                        <option value="400">커뮤니티</option>
<!--                        <option value="500">모임</option>-->
<!--                        <option value="600">나눔</option>-->
<!--                        <option value="700">문의사항</option>-->
                    </select>
                    <span>신고사유 : </span>
                    <select name="categoryNumber" id="reason" style="font-family: NanumSquareAcr;">
                        <option value="">선택</option>
                        <option value="1">욕설/비방글</option>
                        <option value="2">저작권침해</option>
                        <option value="3">음란성</option>
                        <option value="4">불법광고</option>
                        <option value="5">개인정보 침해 및 명예 훼손</option>
                        <option value="6">폭력/잔인/혐오</option>
                        <option value="7">도배성</option>
                    </select>
                    <span>상태 : </span>
                    <select name="status" id="result" class="search-text2" style="font-family: NanumSquareAcr;">
                        <option value="">선택</option>
                        <option value="1">공개</option>
                        <option value="0">비공개</option>
                    </select>
                    <button type="text" class="search-btn" style="font-family: NanumSquareAcr;">검색</button>
                </div>

            </form>
            <div class="border-box">
                <table class="user-table" border="1px" width="100%" height="300">
                    <thead>
                    <tr class="user-table-category">
                        <td class="checkbox">
                            <input type="checkbox" name="" id="checkAll" >
                        </td>
                        <td class="user-name" align="center">이름</td>
                        <td class="user-id" align="center">아이디</td>
                        <td class="user-board" align="center">게시판(댓글)</td>
                        <td class="user-content" align="center">댓글 내용</td>
                        <td class="user-report-date" align="center">신고 일자</td>
                        <td class="report-reason" align="center">신고 사유</td>
                        <td class="user-report-status" align="center">신고 상태</td>
                        <td class="status" align="center">상태</td>
                    </tr>
                    </thead>


                    <tbody class="userBody">
                    <tr class="user-table-category" th:each="admin : ${adminCommentReportList}">
                        <input type="hidden" th:value="${admin.commentNumber}" class="commentNumber1"/>
                        <td class="checkbox">
                            <input type="checkbox" name="" class="check check-box" id="checking" style="font-family: NanumSquareAcr;" th:data-number="${admin.commentNumber}" th:data-code="${admin.bigCode}">
                        </td>

                        <td class="user-name" align="center" th:text="${admin.userName}"></td>
                        <td class="user-id" align="center" th:text="${admin.userId}"></td>
                        <td class="user-board" align="center" th:text="${admin.bigName}"></td>

                        <td class="user-content" align="center" th:text="${admin.content}"></td>
                        <td class="user-report-date" align="center" th:text="${admin.commentDate}"></td>
                        <td class="report-reason" align="center" th:text="${admin.categoryName}"></td>
                        <input type="hidden" th:value="${admin.status}" class="status1"/>
                        <td class="board-public-secret" align="center">
                            <select name="user-report-select" class="user-report-select" style="font-family: NanumSquareAcr;">
                                <option value="">선택</option>
                                <option value="1">공개</option>
                                <option value="0">비공개</option>
                            </select>
                        </td>
                        <td class="report-resulting-success" align="center">
                            <div th:if="${admin.status == '1'}"  class="blind-button Y" th:text="공개"></div>
                            <div th:if="${admin.status == '0'}"  class="blind-button N" th:text="비공개"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
        </div>
        <div class="remove-delete-button">
            <button type="button" class="remove-button-btn" id="changeStatusBtn" style="font-family: NanumSquareAcr;">변경</button>
        </div>
    </div>
</div>
</div>


<footer class="header" th:replace="fragment/footer :: footer"></footer>
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<script th:src="@{/js/admin/adminUser.js}"></script>
<script th:src="@{/js/admin/adminReport.js}"></script>
<!--<script th:src="@{/js/admin/adminJobBoard.js}"></script>-->
<script th:src="@{/js/admin/commentReportStatus.js}"></script>
<script th:src="@{/js/fragment/header.js}" ></script>
<script th:src="@{/js/user/loginModal.js}"></script>
</body>
</html>