<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!-- 나눔, 나눔 파일 Dto, Vo -->
        <typeAlias type="com.example.winwin.dto.share.ShareDto" alias="shareDto"/>
        <typeAlias type="com.example.winwin.vo.share.ShareVo" alias="shareVo"/>
        <typeAlias type="com.example.winwin.dto.file.ShareFileDto" alias="shareFileDto"/>
        <!--        -->

        <!-- 신고 Dto -->
        <typeAlias type="com.example.winwin.dto.police.PoliceBoardDto" alias="policeBoardDto"/>
        <!--        -->
    </typeAliases>
</configuration>