<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ActivityComment</title>
    <link rel="stylesheet" href="/winwin/css/mypage/activityComment.css" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <header></header>
    <main>
      <div class="wrap">
        <div class="container">
          <div class="side-container">
            <!-- 본인 프로필 -->
            <div class="profile">
              <div class="profile-wrap">
                <label for="profile-img-upload"> 
                  <div class="profile-icon">
                    <img class="pfp-icon-image" src="https://cdn.comento.kr/images/illust/illust-photo-upload.svg"></img>
                  </div>
                </label>
                <input type="file" id="profile-img-upload" name="profile-upload" />
                <div class="user-info">
                  <span class="user-name">정소이</span>
                  <span class="user-email">aaa@naver.com <img src="../springProject/img/kakao-2.png" alt="" /></span>
                </div>
              </div>
            </div>
            <!-- 사이드 바 -->
            <div class="side-bar">
              <div class="list">
                <a href="">내 멘토 : 멘티</a>
                <a href="">내 기록</a>
                <hr/>
                <a href="" id="point-list" class="list-plus">활동 내역</a>
                <a href="">진로 정보</a>
                <a href="" >이력 관리</a>
                <a href="">회원 정보 수정</a>
              </div>
            </div>
          </div> 
          <!-- 마이페이지 메인 카테고리 -->
          <div class="mypage-main">
            <div class="title"><h2>활동 내역</h2></div>
            <div class="category">
              <div class="category-contain">
                <h4 id="point-page">커뮤니티</h4>
              </div>
              <div class="category-contain">
                <h4 >프로젝트</h4>
              </div>
              <div class="category-contain">
                <h4>나눔</h4>
              </div>
            </div>
            <div class="sub-category">
              <span>내 글</span>
              <span id="sub-point">내 댓글</span>
            </div>
            <!-- 내용 메인페이지 -->
            <div class="activity-content">
              <!-- 작성한 글이 없을 때 -->
              <!-- <div class="community-main-box"> -->
                <!-- <span>앗! 아직 활동내역이 없습니다. <br/> -->
                  <!-- 여러 사람들의 고민들을 해결해 주세요!</span> -->
              <!-- </div> -->
              <!-- 해당 페이지 이동 -->
              <!-- <div class="page-move-btn"> -->
              <!-- <button>커뮤니티 입장하기</button> -->
              <div class="reply-box">
                <!-- <span class="reply-title">오늘 저녁 뭐먹지?</span>
                <span class="reply-content">퇴근하고 싶다 아무것도 하기 싫다 집가고 싶다 엉엉</span>
                <div class="reply-bottom">
                  <span>추천수//////조회수///////////////몇분전</span>
                </div> -->

                
                
                
                
                
                <!-- div.commentAi-->
                <div class="commentAi">
                  <div class="profil">
                      <img src="../img/corgi-g5894d3ae3_1920.jpg" height="50px" width="50px">
                      <div class="Commento"><p>truluvkis</p></div>
                      <div class="dropdown2">
                          <button class="dropbtn2"> 
                            <span class="dropbtn_icon2"> <svg data-v-bd9f2bcc="" data-v-3035bc76="" width="24" height="24" fill="black" xmlns="http://www.w3.org/2000/svg" class="c-Applicatio c-icon" style="fill: rgb(148, 155, 160);"><circle data-v-bd9f2bcc="" cx="12" cy="5.5" r="1.5"></circle><circle data-v-bd9f2bcc="" cx="12" cy="12" r="1.5"></circle><circle data-v-bd9f2bcc="" cx="12" cy="18.5" r="1.5"></circle></svg></span>
                          </button>
                          <div class="dropdown-content2">
                            <a href="#">신고</a>
                            <a href="#">수정</a>
                            <a href="#">삭제</a>
                          </div>
                        </div>
              </div>
              <div class="description"><p>OpenAi</p></div>
                  <div class="Aicontent">면접준비를 하기 전에 자신이 맡은 프로젝트에 대해 상세하게 설명할 수 있도록 준비하시길 권장합니다.</div>
                  <div class="parent">
                  <div class="icon2">
                      <div class="date1">2023.06.08</div>
                  </div>
              </div>
              </div>
            </div>
            <!-- div.commentAi-->
             
            <div class="activity-content">
              <!-- 작성한 글이 없을 때 -->
              <!-- <div class="community-main-box"> -->
                <!-- <span>앗! 아직 활동내역이 없습니다. <br/> -->
                  <!-- 여러 사람들의 고민들을 해결해 주세요!</span> -->
              <!-- </div> -->
              <!-- 해당 페이지 이동 -->
              <!-- <div class="page-move-btn"> -->
              <!-- <button>커뮤니티 입장하기</button> -->

              <!-- <div class="reply-box">
                <span class="reply-title">오늘 저녁 뭐먹지?</span>
                <span class="reply-content">퇴근하고 싶다 아무것도 하기 싫다 집가고 싶다 엉엉</span>
                <div class="reply-bottom">
                  <span>추천수//////조회수///////////////몇분전</span>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script src="../springProject/myMentor.js"></script>
  </body>
</html>