<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CareerInfo</title>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/careerInfo.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/myPageSide.css}"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <header class="header"  th:replace="fragment/header :: header"></header>
    <main>
      <div class="wrap">
        <div class="container">
          <div th:replace="fragment/myPageSide :: myPageSide"></div>
          <!-- 마이페이지 메인 카테고리 -->
          <div class="mypage-main">
            <div class="title"><h2>진로 정보</h2></div>
            <div class="category">
              <a th:href="@{/myPage/careerInfoLike}">
                <div class="category-contain">
                  <h4>관심 글</h4>
                </div>
              </a>
              <div class="category-contain">
                <h4 id="point-page">내 글</h4>
              </div>
            </div>
            <!-- 내용 메인페이지 -->
            <div class="career-info-content">
              <!-- 작성한 글이 없을 때 -->
              <!-- <div class="community-main-box">
                <span>앗! 아직 작성한 글이 없습니다. <br/>
                  게시글을 등록하고 자유롭게 이야기를 나눠보세요.</span>
              </div> -->
              <!-- 해당 페이지 이동 -->
              <!-- <div class="page-move-btn">
                <button>진로정보 입장하기</button>
              </div> -->
              <!-- 여기서부터 작성 시작 -->

<!--              <a class="career-click">-->
<!--                <div class="career-box">-->
<!--                  <div class="career-info">-->
<!--                    <div class="career-top">-->
<!--                      <span class="career-tag">금융어쩌고저쩌고</span>-->
<!--                      <span class="career-title">안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용</span>-->
<!--                    </div>-->
<!--                    <span class="career-content">안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용</span>-->
<!--                  </div>-->
<!--                  <div class="career-bottom">-->
<!--                    <div class="career-user-profile-box">-->
<!--                      <div class="career-profile-img">-->
<!--                        <img th:src="@{/img/profile-basic.png}"/>-->
<!--                      </div>-->
<!--                      <div class="career-user-info">-->
<!--                        <span class="career-user-name">뚜디뚜</span>-->
<!--                        <span class="career-user-tag">유저정보?</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="career-icon">-->
<!--                      <div class="select-count-box">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="rgb(148, 155, 160)" class="bi bi-eye" viewBox="0 0 16 16">-->
<!--                          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>-->
<!--                          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>-->
<!--                        </svg>-->
<!--                        <span class="select-count">12</span>-->
<!--                      </div>-->
<!--                      <div class="career-like-box">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="rgb(148, 155, 160)" class="bi bi-heart" viewBox="0 0 16 16">-->
<!--                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>-->
<!--                        </svg>-->
<!--                        <span class="like-count">12</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->

<!--              <a class="career-click">-->
<!--                <div class="career-box">-->
<!--                  <div class="career-info">-->
<!--                    <div class="career-top">-->
<!--                      <span class="career-tag">금융어쩌고저쩌고</span>-->
<!--                      <span class="career-title">안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용</span>-->
<!--                    </div>-->
<!--                    <span class="career-content">안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용</span>-->
<!--                  </div>-->
<!--                  <div class="career-bottom">-->
<!--                    <div class="career-user-profile-box">-->
<!--                      <div class="career-profile-img">-->
<!--                        <img th:src="@{/img/profile-basic.png}"/>-->
<!--                      </div>-->
<!--                      <div class="career-user-info">-->
<!--                        <span class="career-user-name">뚜디뚜</span>-->
<!--                        <span class="career-user-tag">유저정보?</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="career-icon">-->
<!--                      <div class="select-count-box">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="rgb(148, 155, 160)" class="bi bi-eye" viewBox="0 0 16 16">-->
<!--                          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>-->
<!--                          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>-->
<!--                        </svg>-->
<!--                        <span class="select-count">12</span>-->
<!--                      </div>-->
<!--                      <div class="career-like-box">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="rgb(148, 155, 160)" class="bi bi-heart" viewBox="0 0 16 16">-->
<!--                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>-->
<!--                        </svg>-->
<!--                        <span class="like-count">12</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->

<!--              <a class="career-click">-->
<!--                <div class="career-box">-->
<!--                  <div class="career-info">-->
<!--                    <div class="career-top">-->
<!--                      <span class="career-tag">금융어쩌고저쩌고</span>-->
<!--                      <span class="career-title">안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용</span>-->
<!--                    </div>-->
<!--                    <span class="career-content">안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용안녕하세용</span>-->
<!--                  </div>-->
<!--                  <div class="career-bottom">-->
<!--                    <div class="career-user-profile-box">-->
<!--                      <div class="career-profile-img">-->
<!--                        <img th:src="@{/img/profile-basic.png}"/>-->
<!--                      </div>-->
<!--                      <div class="career-user-info">-->
<!--                        <span class="career-user-name">뚜디뚜</span>-->
<!--                        <span class="career-user-tag">유저정보?</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="career-icon">-->
<!--                      <div class="select-count-box">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="rgb(148, 155, 160)" class="bi bi-eye" viewBox="0 0 16 16">-->
<!--                          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>-->
<!--                          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>-->
<!--                        </svg>-->
<!--                        <span class="select-count">12</span>-->
<!--                      </div>-->
<!--                      <div class="career-like-box">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="rgb(148, 155, 160)" class="bi bi-heart" viewBox="0 0 16 16">-->
<!--                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>-->
<!--                        </svg>-->
<!--                        <span class="like-count">12</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->


          </div>
        </div>
      </div>
    </div>

    </main>
    <footer class="footer"  th:replace="fragment/footer :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/fragment/header.js}" ></script>
    <script th:src="@{/js/myPage/activityCareerInfo.js}"></script>
  </body>
</html>
