<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loveMentor</title>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/loveMentor.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/myPageSide.css}"/>
    <link rel="stylesheet" th:href="@{/css/chatting/inputModal.css}" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <header class="header"  th:replace="fragment/header :: header"></header>
    <!--쪽지 모달창-->
    <div th:replace="chatting/inputModal :: inputModal(nickname='', chattingTo='')"></div>
    <!--쪽지 모달창 끝-->
    <!-- 모달창 -->
    <article class="modal-wrap1 none">
      <input type="hidden" class="addNumber"/>
      <div class="select-box">
        <div class="profile-box">
          <div class="mento-profile-photo-box2">
            <img th:if="${mentor == null}" class="img-box" src="/img/profile-basic.png"/>
<!--            <img th:unless="${mentor.pfpSystemName == null}" class="img-box"-->
<!--                 th:style="${'background-image: url(/profile/' + mentor.pfpUuid + '_' + mentor.pfpSystemName + ')'}"/>-->
          </div>
          <span class="mentor-name">[ <span class="mentorName"></span> ] 멘토님</span>
        </div>
        <hr />
        <div class="wing">
          <span class="wing-span"><span class="mentorName"></span> 멘토님에게 신청하는게 맞으신가요?</span>
        </div>
        <hr />
        <span id="agree">해당 멘토에게 신청할 경우 아래 신청하기를 눌러주세요</span>
        <button class="um-btn">신청하기</button>
      </div>
    </article>
    <!-- /모달창 -->
    <main>
      <div class="wrap">
        <div class="container">
          <div th:replace="fragment/myPageSide :: myPageSide"></div>
          <!-- 마이페이지 메인 -->
          <div class="mypage-main">
            <div class="title"><h2>내 멘토 : 멘티</h2></div>
            <div class="category">
              <th:block th:if="${user == '멘티'}">
                <div class="category-contain point-mentor">
                  <h4>내 멘토</h4>
                </div>
                <div class="category-contain like-mentor">
                  <h4 id="point-page1">관심 멘토</h4>
                </div>
              </th:block>
              <th:block th:if="${user == '멘토+멘티'}">
                <div class="category-contain point-mentor">
                  <h4>내 멘토</h4>
                </div>
                <div class="category-contain point-mentee">
                  <h4>내 멘티</h4>
                </div>
                <div class="category-contain like-mentor">
                  <h4 id="point-page2">관심 멘토</h4>
                </div>
              </th:block>

              <th:block th:if="${user == '멘토'}">
                <div class="category-contain point-mentee">
                  <h4 id="point-page3">내 멘티</h4>
                </div>
                <!--                <div class="category-contain like-mentor">-->
                <!--                  <h4>관심 멘토</h4>-->
                <!--                </div>-->
              </th:block>

            </div>
            <div class="my-mentor-content">
              <!-- 멘토 프로필 -->
              <article class="item" th:each="mentor : ${like}">
                <section class="mento-profile">
                  <div class="item__box">
                    <input type="hidden" class="mentor-num" th:data-num="${mentor.mentorNumber}" th:value="${mentor.mentorNumber}"/>
                    <a href="" class="page-move">
                      <div class="flex">
                        <div class="mento-profile-photo-box">
                          <img th:if="${mentor.pfpSystemName == null}" class="img-box" src="/img/profile-basic.png"/>
                          <img th:unless="${mentor.pfpSystemName == null}" class="img-box"
                               th:style="${'background-image: url(/profile/' + mentor.pfpUuid + '_' + mentor.pfpSystemName + ')'}"/>
                        </div>

                        <div class="flex text-wrap">
                          <div class="mento-name"><span th:text="${mentor.userName}"/></div>
                          <div class="mento-career"><span th:text="${mentor.userBelong}"/>&nbsp; · &nbsp;<span th:text="${mentor.careerAnnual}"/>년차</div>
                        </div>
                      </div>
                    </a>
                    
                    <div class="mento-button-box">
                      <input type="hidden" class="mentor-num" th:value="${mentor.mentorNumber}"/>
                      <input type="hidden" class="add-num" th:value="${mentor.mentorNumber}"/>
                      <button class="like-button" th:value="${mentor.likeCnt}">
                        <div th:if="${mentor.likeCnt} == 0" class="like-up like0" th:value="${mentor.likeCnt}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg>

                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill none2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg>
                        </div>
                        <div th:if="${mentor.likeCnt} == 1" class="like-down like0" th:value="${mentor.likeCnt}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg>

                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart none2" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg>
                        </div>
                      </button>
                      <th:block th:if="${mentor.umStatus} == 'N'">
                        <button class="d-button">대기중</button>
                      </th:block>
                      <th:block th:if="${mentor.umStatus} == '0'">
                        <button class="message-button">신청하기</button>
                      </th:block>
                      <th:block th:if="${mentor.umStatus} == 'Y'">
                        <button class="chatting-button">쪽지 보내기</button>
                      </th:block>
                    </div>
                  </div>
                  <div class="skill-tags">
                    <!--            스킬 나열 -->
                    <div class="skill" th:each="skill : ${mentor.skill}">
                      <span class="skill2" th:text="${skill.skillName}"/>
                    </div>
                    <!--                    <div class="skill">커뮤니케이션</div>-->
                    <!--                    <div class="skill">글쓰기</div>-->
                    <!--            /스킬 나열 -->
                  </div>

                  <!-- 경력 -->
                  <div class="career" th:each="career : ${mentor.career}">
                    <div class="career-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
                        <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
                        <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
                      </svg>
                    </div>

                    <div>
                      <span class="point" th:text="${career.careerCompany}" /> <span class="point" th:text="${career.careerTitle}"/>
                      <span class="date"> <span th:text="${career.careerStartDate}"/> -
                  <span th:if="${career.careerStatus} == 'N'">
                  <span th:text="${career.careerEndDate}"/>
                  </span>
                  <span th:if="${career.careerStatus} =='Y'">
                    <span>재직 중</span>
                  </span>
                  </span>
                      <span class="date">&nbsp; · <span class="date" th:text="${career.careerAnnual}"/>년차</span>
                    </div>
                  </div>
                  <!-- /경력 -->
                </section>
                <div class="mento-more-info-box">
                  <div class="mento-more-info">
                    더보기
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-chevron-down"
                      viewBox="0 -2 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                      />
                    </svg>
                  </div>
                  <div class="mento-more-info none">
                    닫기
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-chevron-up"
                      viewBox="0 -2 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"
                      />
                    </svg>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer"  th:replace="fragment/footer :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/fragment/header.js}" ></script>
    <script th:src="@{/js/myPage/loveMentor.js}" ></script>
    <script th:src="@{/js/chatting/inputModal.js}"></script>
  </body>
</html>
