<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myMentee</title>
      <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
      <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
      <link rel="stylesheet" th:href="@{/css/myPage/myMentee.css}" />
      <link rel="stylesheet" th:href="@{/css/fragment/myPageSide.css}"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <header class="header"  th:replace="fragment/header :: header"></header>
    <main>
      <div class="wrap">
        <div class="container">
          <div th:replace="fragment/myPageSide :: myPageSide"></div>
          <!-- 마이페이지 메인 -->
          <div class="mypage-main">
            <div class="title"><h2>내 멘토 : 멘티</h2></div>
            <div class="category">
              <div class="category-contain">
                <h4>내 멘토</h4>
              </div>
              <div class="category-contain">
                <h4 id="point-page">내 멘티</h4>
              </div>
              <div class="category-contain">
                <h4>관심 멘토</h4>
              </div>
            </div>
            <div class="my-mentee-content">
              <!-- 멘티 프로필 -->
             <div class="mentee-box">
              <div class="mentee-profile">
                <div class="mentee-img"><img src="" alt=""></div>
                <span class="mentee-name">WinWin</span>
              </div>
              <div class="mentee-age">
                <span>23세</span>
              </div>
              <div class="mentee-gender">
                <span>남자</span>
              </div>
              <div class="mentee-date">
                <span>23일째</span>
              </div>
             </div>
             <!-- 멘티 프로필 끝 -->
             <div class="mentee-box">
              <div class="mentee-profile">
                <div class="mentee-img"><img src="" alt=""></div>
                <span class="mentee-name">WinWin</span>
              </div>
              <div class="mentee-age">
                <span>23세</span>
              </div>
              <div class="mentee-gender">
                <span>남자</span>
              </div>
              <div class="mentee-date">
                <span>23일째</span>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer"  th:replace="fragment/footer :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script src="../springProject/myMentor.js"></script>
  </body>
</html>
