<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/user/loginModal.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/myRecord.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/myPageSide.css}"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
        body {
            font-family: "NanumSquareLight";
            font-family: "NanumSquare";
            font-family: "NanumSquareBold";
            font-family: "NanumSquareExtraBold";
            font-family: "NanumSquareAcb";
            font-family: "NanumSquareAceb";
            font-family: "NanumSquareAcl";
            font-family: "NanumSquareAcr";
        }
    </style>
</head>
<body>
<header class="header"  th:replace="fragment/header :: header"></header>
<input type="hidden" th:value="${session.userNumber}"/>
<div class="wrap">
    <div class="container">
        <div th:replace="fragment/myPageSide :: myPageSide"></div>
            <div class="main">
                <div class="title1"><h2>내 기록</h2></div>
                <div class="category">
                  <div class="category-contain">
                    <h4 id="point-page">내 글</h4>
                  </div>
                </div>

      <input type="hidden" class="userNumber" th:value="${session.userNumber}"/>
                <!-- 새로운 다이어리 작성 버튼 -->
              <div class="diary-container">
                <div class="plus-btn"><button class="plusBtn" type="button"><img th:src="@{/img/plus-icon-21722.png}"></button></div>

                <!-- 버튼 눌렀을 때 나타나는 요소 -->
                <div class="diary-sub">
                <div class="diary">
<!--                    <form method="post" class="diary-form" th:action="@{/mypage/diary}">-->
                        <div class="mypageDiary-title"><input type="text" class="title" name="diaryTitle" placeholder="제목을 입력해주세요" style="font-family: NanumSquareAcr;"></div>
                        <textarea id="summernote" class="summernote" name="diaryContent" style="font-family: NanumSquareAcr;"></textarea>
                        <div class="btn-box">
                            <div class="cancle-btn"><button type="button" class="cancle" style="font-family: NanumSquareAcr;">취소</button></div>
                            <div class="submit-btn"><button type="submit" class="submit" style="font-family: NanumSquareAcr;">작성 완료</button></div>
                        </div>
<!--                    </form>-->
                </div>
                <!-- 버튼 눌렀을 때 나타나는 요소 끝 -->


                <div class="diary-list">

                    <!-- 저장된 다이어리 리스트 -->
                    <!-- 저장된 다이어리 리스트 끝 -->
                </div>
                </div>
              </div>

            </div>
    </div>
</div>

<footer class="footer"  th:replace="fragment/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $('.summernote').summernote({
        height: 300,
        minHheight: 300,
        maxHeight: 300,
        disableResizeEditor: true,
        lang: "ko-KR",
        toolbar: [
            ['fontsize', ['fontsize']],
            ['style', ['style']],
            ['style', ['bold', 'italic', 'underline']],
            ['font', ['strikethrough']],
            ['color', ['color']],
            ['para', ['paragraph']],
            ['height', ['height']],
            ['Insert', ['table']],
            ['Insert', ['picture']],
            ['Insert', ['link']],
            ['misc', ['emoji']],
            ['insert',  ['map']],
            ['highlight', ['highlight']],
            ['code', ['fullscreen', 'codeview']]
        ]
    });
</script>

<script th:src="@{/js/user/loginModal.js}"></script>
<script th:src="@{/js/fragment/header.js}" ></script>
<script th:src="@{/js/myPage/myRecord.js}"></script>
</body>
</html>