<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ResumeModal</title>
    <link rel="stylesheet" th:href="@{/css/myPage/resumeModal.css}" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <article th:fragment="resumeModal" class="resumeModal none">
      <div class="modal-wrap">
        <div class="resumeModal-container">
          <div class="modal-box">
            <div class="header-box">
            <span class="resumeModal-title"
            ><strong>이력서 : </strong><br />
              최선을 다하겠습니다!</span
            >
              <img  class="modal-img" src="/winwin/img/me.jpg" alt="" />
            </div>
            <hr class="hr-dif" />
            <div class="personal-info">
              <div class="side-l"><span>인적사항</span></div>
              <div class="center">
              <span
              >성명<br />
                연락처<br />
                주소<br />
                E-mail<br />
                홈페이지
              </span>
              </div>
              <div class="side-r">
              <span
              >정소이 <br />
                010-2062-6339 <br />
                인천광역시 중구 운서동 3098-1 <br />
                aaa@naver.com <br />
                <a href=" https://www.notion.so/SPRING-2d36a418083b4719a9b6772c1adf4417?pvs=4" id="move-page"
                >사이트 이동</a
                >
              </span>
              </div>
            </div>
            <hr class="hr-dif" />
            <div class="school-info">
              <div class="side-l"><span>학력사항</span></div>
              <div class="school-content">
                <span class="font-weight">2016.03.02 ~ 2019.01.09</span>
                <span>분당고등학교 졸업</span>
              </div>
            </div>
            <hr class="hr-dif" />
            <div class="career">
              <div class="side-l"><span>경력사항</span></div>
              <div class="career-content">
                <span class="font-weight">2019.04 ~ 2019.09</span>
                <span>러빈잇</span>
                <span>사진 보정 및 기획전 포스터 제작</span>
              </div>
            </div>
            <hr class="hr-dif" />
            <div class="certificate">
              <div class="side-l"><span>자격사항</span></div>
              <div class="certificate-name">
                <span class="font-weight">자격명칭</span>
                <span>GTQ 포토샵</span>
                <span>ITQ 파워포인트</span>
              </div>
              <div class="certificate-grade">
                <span class="font-weight">등급</span>
                <span>1급</span>
                <span>A</span>
              </div>
              <div class="certificate-inst">
                <span class="font-weight">증빙기관</span>
                <span>한국생산성본부</span>
                <span>한국생산성본부</span>
              </div>
            </div>
            <hr class="hr1"/>
          </div>
        <div class="download-btn">
          <button type="button" class="save-btn">다운로드</button>
        </div>
        </div>

      </div>
    </article>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/lib/jspdf.min.js}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
      integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script th:src="@{/js/myPage/resumeModal.js}"></script>
  </body>
</html>
