<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ResumeModal</title>
    <link rel="stylesheet" th:href="@{/css/myPage/resumeModal.css}" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <article th:fragment="resumeModal" class="resumeModal none">
      <div class="modal-wrap">
        <div class="resumeModal-container">
          <div class="modal-box">
            <hr class="hr-dif" />
            <div class="personal-info">
              <div class="side-l1">
                <div>성명</div>
                <div>연락처</div>
                <div>주소</div>
                <div>E-mail</div>
                <div>홈페이지</div>
              </div>
              <div class="center1">
                <div class="rm-name"></div>
                <div class="rm-phone"></div>
                <div class="rm-address"></div>
                <div class="rm-email"></div>
                <div>
                  <a  class="rm-website" href="" id="move-page"></a>
                </div>
              </div>
              <div class="modal-img">
                <img src="/winwin/img/me.jpg" alt="" />
              </div>
            </div>
            <hr class="hr-dif" />
            <div class="school-info">
              <div class="side-l">학력사항</div>
                  <div class="center">
                    <div class="rm-school1"></div>
                    <div class="rm-school2"></div>
                  </div>
                <div class="side-r">
                    <div><span class="rm-school-start1"></span><span class="rm-school-end1"></span></div>
                    <div><span class="rm-school-start2"></span><span class="rm-school-end2"></span></div>
                </div>
            </div>
            <hr class="hr-dif" />
            <div class="school-info">
              <div class="side-l">경력사항</div>
                <div class="center">
                    <div class="rm-career1"></div>
                    <div class="rm-career2"></div>
                    <div class="rm-career3"></div>
                </div>
                <div class="side-r">
                    <div><span class="rm-career-start1"></span><span class="rm-career-end1"></span></div>
                    <div><span class="rm-career-start2"></span><span class="rm-career-end2"></span></div>
                    <div><span class="rm-career-start3"></span><span class="rm-career-end3"></span></div>
                </div>
            </div>
            <hr class="hr-dif" />
            <div class="school-info">
              <div class="side-l">자격사항</div>
              <div class="certificate-name">
                <div class="certi-title">자격명칭</div>
                <div class="rm-certi-name1"></div>
                <div class="rm-certi-name2"></div>
                <div class="rm-certi-name3"></div>
                <div class="rm-certi-name4"></div>
                <div class="rm-certi-name5"></div>
              </div>
              <div class="certificate-grade">
                <div class="certi-title">등급</div>
                <div class="rm-certi-grade1"></div>
                <div class="rm-certi-grade2"></div>
                <div class="rm-certi-grade3"></div>
                <div class="rm-certi-grade4"></div>
                <div class="rm-certi-grade5"></div>
              </div>
              <div class="certificate-inst">
                <div class="certi-title">증빙기관</div>
                <div class="rm-certi-noto1"></div>
                <div class="rm-certi-noto2"></div>
                <div class="rm-certi-noto3"></div>
                <div class="rm-certi-noto4"></div>
                <div class="rm-certi-noto5"></div>
              </div>
            </div>
            <hr class="hr1"/>
          </div>
        <div class="download-btn">
          <button type="button" class="save-btn">다운로드</button>
        </div>
        </div>

      </div>
    </article>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/lib/jspdf.min.js}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
      integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script th:src="@{/js/myPage/resumeModal.js}"></script>
  </body>
</html>
