<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>resumePrWrite</title>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/resumePrWrite.css}" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
  <header class="header"  th:replace="fragment/header :: header"></header>
    <main>
      <form th:action="@{/myPage/resumePrWrite}" method="post">
        <div class="wrap">
          <div class="container">
            <h3>제목</h3>
            <input name="prBigTitle" type="text" id="title" placeholder="제목을 입력하세요." />
            <h3>소제목</h3>
            <input name="prSmallTitle" type="text" id="title-s" placeholder="소제목을 입력하세요." />
            <h3>성장과정</h3>
            <textarea
              name="prContent1"
              id="growth"
              cols="80"
              rows="10"
              maxlenth="300"
              placeholder="성장과정을 입력해주세요. (400자 이내)"
            ></textarea>
            <div class="text-box">
              <span class="growth-count">0 </span>
              <span class="text-total">/300 자</span>
            </div>
            <h3>성격의 장단점</h3>
            <textarea
              name="prContent2"
              id="personality"
              cols="80"
              rows="10"
              maxlenth="300"
              placeholder="성격의 장단점을 입력해주세요. (400자 이내)"
            ></textarea>
            <div class="text-box">
              <span class="personality-count">0 </span>
              <span class="text-total"> /300 자 </span>
            </div>
            <h3>주요경험의 성공 및 실패 사례</h3>
            <textarea
              name="prContent3"
              id="case"
              cols="80"
              rows="10"
              maxlenth="300"
              placeholder="성공 및 실패 사례를 입력해주세요. (400자 이내)"
            ></textarea>
            <div class="text-box">
              <span class="case-count">0 </span>
              <span class="text-total"> /300 자 </span>
            </div>
            <div class="btn">
              <button id="delete">등록취소</button>
              <button>등록하기</button>
            </div>
          </div>
        </div>
      </form>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/fragment/header.js}" ></script>
    <script th:src="@{/js/myPage/resumePrWrite.js}" ></script>
  </body>
</html>
