<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/resume.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/myPageSide.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/resumeModal.css}" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <header class="header"  th:replace="fragment/header :: header"></header>
    <article th:replace="myPage/resumeModal::resumeModal"></article>
    <main>
      <div class="wrap">
        <div class="container">
          <div th:replace="fragment/myPageSide :: myPageSide"></div>
          <!-- 마이페이지 메인 -->
          <div class="mypage-main">
            <div class="title"><h2>이력 관리</h2></div>
            <div class="category">
              <div class="category-contain">
                <h4 id="point-page">이력서</h4>
              </div>
              <div class="category-contain">
                <h4><a class="no-point-page" th:href="@{/myPage/resumePr}">자기소개서</a></h4>
              </div>
            </div>
            <div class="my-mentor-content">
              <div class="resume-box">
                <div class="text-box">
                  <h3>최선을 다하겠습니다!</h3>
                  <span class="university">단국대학교 시각디자인과 졸업</span>
                  <span class="certificate">ITQ 파워포인트 취득 <br/> GTQ 포토샵 취득</span>
                </div>
                <div class="img-box">
                  <img th:src="@{/img/search.PNG}" alt="">
                </div>
              </div>
              <a th:href="@{/myPage/resumeWrite}">
                <div class="resume-plus">
                  <svg xmlns="http://www.w3.org/2000/svg" color="#c5c5c5" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer"  th:replace="fragment/footer :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/lib/jspdf.min.js}"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
            integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>
    <script th:src="@{/js/fragment/header.js}" ></script>
    <script th:src="@{/js/myPage/resumeModal.js}"></script>
  </body>
</html>
