<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ResumePrModal</title>
    <link rel="stylesheet" th:href="@{/css/myPage/resumePrModal.css}" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <article th:fragment="resumePrModal" class="resumePrModal none">
      <div class="modal-wrap">
        <div class="resumePrModal-container">
          <div class="modal-box">
            <div class="pr-header">
              <span class="resumePrModal-title">피할 수 없으면 즐겨라 ! :</span>
              <span class="title-s">실패는 나의 경험치</span>
            </div>
            <div class="pr-main">
              <div class="line-box">
                <div class="left-box">
                  <hr class="left-line" />
                </div>
                <div class="right-box">
                  <hr class="right-line" />
                </div>
              </div>
              <div class="prModal-text-box">
                <span class="ctg-title">성장 과정</span>
                <span class="ctg-content">
                삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자
              </span>
              </div>
              <div class="prModal-text-box">
                <span class="ctg-title">성격의 장단점</span>
                <span class="ctg-content">
                삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자
              </span>
              </div>
              <div class="prModal-text-box">
                <span class="ctg-title">주요경험의<br />실패 및 성공 사례</span>
                <span class="ctg-content">
                삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자삼백자
              </span>
              </div>
              <div class="line-box">
                <div class="left-box">
                  <hr class="left-line" />
                </div>
                <div class="right-box">
                  <hr class="right-line" />
                </div>
              </div>
            </div>
          </div>
            <div class="download-btn">
              <button type="button" class="save-btn">다운로드</button>
            </div>
        </div>

      </div>
      </article>
      <script
              src="https://code.jquery.com/jquery-3.6.3.js"
              integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
              crossorigin="anonymous"
      ></script>
      <script th:src="@{/lib/jspdf.min.js}"></script>
      <script
              src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
              integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
      ></script>
      <script th:src="@{/js/myPage/resumePrModal.js}"></script>
  </body>
</html>
