<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserDelete</title>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/userDelete.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment/myPageSide.css}"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <header class="header"  th:replace="fragment/header :: header"></header>
    <main>
      <div class="wrap">
        <div class="container">
          <div th:replace="fragment/myPageSide :: myPageSide"></div>
          <!-- 마이페이지 메인 카테고리 -->
          <div class="mypage-main">
            <div class="title"><h2>회원 정보 수정</h2></div>
            <div class="category">
              <div class="category-contain">
                <h4><a class="no-point-page" th:href="@{/myPage/userInfoModify}">프로필</a></h4>
              </div>
              <div class="category-contain">
                <h4 id="point-page">회원 탈퇴</h4>
              </div>
            </div>
            <!-- 내용 메인페이지 -->
            <div class="modify-content">
              <p><strong>정말 탈퇴하시겠어요?</strong><br/>
              보유하신 포인트는 모두 소멸됩니다.<br/>
              모든 이용내역은 삭제되며 복원이 불가능합니다.<br/>
              3개월간 동일한 정보로 가입이 불가능합니다.<br/>
              작성하신 글들은 모두 삭제됩니다.</p>
              <div class="delete-btn">
                <form th:action="@{/myPage/userDelete}" method="post">
                  <button>회원 탈퇴하기</button>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </main>
    <footer class="footer"  th:replace="fragment/footer :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/fragment/header.js}" ></script>
    <script th:src="@{/js/myPage/userDelete.js}" ></script>
  </body>
</html>
