<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/user/loginModal.css}"/>
    <link rel="stylesheet" th:href="@{/css/cs/csMain.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>

    <style>
        body {
            font-family: "NanumSquareLight";
            font-family: "NanumSquare";
            font-family: "NanumSquareBold";
            font-family: "NanumSquareExtraBold";
            font-family: "NanumSquareAcb";
            font-family: "NanumSquareAceb";
            font-family: "NanumSquareAcl";
            font-family: "NanumSquareAcr";
        }
    </style>
    <title>타임라인</title>
</head>

<body>
<header class="header" th:replace="fragment/header :: header"></header>
<div class="wrap">
    <div class="community">
        <!-- 회원 프로필&질문하기 버튼 / 로그인 했을 때 !-->

        <div class="community-pfp" th:unless="${session.userNumber == null}">
            <div class="community-user">
                <div class="community-pfp-img">
                    <label class="user-file">
                        <img th:if="${userPfp.pfpSystemName == null}" class="userpfp" src="/img/profile-basic.png"/>
                        <img th:unless="${userPfp.pfpSystemName == null}" class="userpfp"
                             th:style="${'background-image: url(/profile/' + userPfp.pfpUuId + '_' + userPfp.pfpSystemName + ')'}"/>
                        <input type="file" id="file"/>
                    </label>
                </div>
                <div>
                    <div class="community-user-name" th:text="${session.userNickname}"></div>
                    <div class="community-pfp-belong" th:text="${userPfp.userPosition}"></div>
                    <div class="community-pfp-department" th:text="'Lv. ' + ${userPfp.gradeName}"></div>
                </div>

            </div>
            <div>
                <div class="community-pfp.main-btn">
                    <a href="" th:data-userNumber="${session.userNumber}" class="pfp-main-btn">문의하기</a>
                </div>
            </div>
            <div class="community-pfp-sub-btn">
                <a th:href="@{/myPage/resume}"><button type="button" class="pfp-sub-btn">이력서</button></a>
                <a th:href="@{/myPage/resumePr}"><button type="button" class="pfp-sub-btn">자소서</button></a>
            </div>
        </div>
        <!-- 회원 프로필&질문하기 버튼 끝 -->

        <!-- 회원 프로필&질문하기 버튼 / 로그인 안 했을 때 -->
        <div class="community-pfp2" th:if="${session.userNumber == null}">
            <div class="community-user">
                <div class="community-pfp-img">
                    <img th:src="@{/img/profile-basic.png}" class="userpfp"/>
                </div>
                <div>
                    <div class="not-login">
                        <a href="" th:data-userNumber="${session.userNumber}" class="login-btn"><span>로그인</span>이 필요합니다.</a>
                    </div>
                    <div class="not-login-comment">나의 고민을 공유해보아요 :)</div>
                </div>
            </div>
            <div class="community-pfp-main-btn">
                <a href="" class="pfp-main-btn">질문하기</a>
            </div>


            <div class="community-pfp-sub-btn">
                <button type="button" class="pfp-sub-btn">이력서</button>
                <button type="button" class="pfp-sub-btn">자소서</button>
            </div>
        </div>
        <!-- 회원 프로필&질문하기 버튼 / 로그인 안 했을 때  끝-->
        <!-- 회원 프로필&질문하기 버튼 끝 -->

        <!-- 커뮤니티 시작 -->

        <div class="community-list">
            <span class="big-title">💡문의사항💡</span>
            <input type="hidden" class="community-number" th:value="${csNumber}">
            <!-- 리스트 끝! -->
        </div>
    </div>
</div>
<footer class="footer" th:replace="fragment/footer :: footer"></footer>

<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/cs/csMain.js}"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<!--  모달 js-->
<script th:src="@{/js/user/loginModal.js}"></script>
</body>
</html>






