<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommunityRead</title>
    <link rel="stylesheet" th:href="@{/css/user/loginModal.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/cs/csRead.css}"/>
    <link rel="stylesheet" th:href="@{/css/police/reportModal.css}"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>

    <style>
        body {
            font-family: "NanumSquareLight";
            font-family: "NanumSquare";
            font-family: "NanumSquareBold";
            font-family: "NanumSquareExtraBold";
            font-family: "NanumSquareAcb";
            font-family: "NanumSquareAceb";
            font-family: "NanumSquareAcl";
            font-family: "NanumSquareAcr";
        }
    </style>
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<section>
    <!-- 신고하기 모달창 -->
    <div class="reportModal">
        <div class="reportModal-content">
            <h2>신고하기</h2>
            <!-- 신고 카테고리 -->
            <form action="#">
                <div class="report-category">
                    <div class="report-list">
                        <input type="checkbox" id="report-language" name="report-checkbox" value="1"/>
                        <label for="report-language" class="label1 check">
                        </label>
                        <span>욕설/비방글</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-copyright" name="report-checkbox" value="2"/>
                        <label for="report-copyright" class="label2 check"></label>
                        <span>저작권 침해</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-adult" name="report-checkbox" value="3"/>
                        <label for="report-adult" class="label3 check"></label>
                        <span>음란성</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="false-maketing" name="report-checkbox" value="4"/>
                        <label for="false-maketing" class="label4 check"></label>
                        <span>불법 광고</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-info-honor" name="report-checkbox" value="5"/>
                        <label for="report-info-honor" class="label5 check"></label>
                        <span>개인정보 침해 및 명예훼손</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="reprot-disgust" name="report-checkbox" value="6"/>
                        <label for="reprot-disgust" class="label6 check"></label>
                        <span>폭력/잔인/혐오</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-castle" name="report-checkbox" value="7"/>
                        <label for="report-castle" class="label7 check"></label>
                        <span>도배성</span>
                    </div>
                </div>
            </form>
            <!--  -->

            <!-- 신고하기 버튼 -->
            <div class="report-button">
                <button type="submit" class="report-btn">신고하기</button>
            </div>
            <!--  -->
        </div>
    </div>
    <!--    -->
    <div class="big-box1">
        <div class="first1">
            <div class="first">
                <div class="Profil">
                    <img th:if="${cs.pfpSystemName == null}" class="img-box" th:src="@{/img/profile-basic.png}"
                         height="40px" width="40px"/>
                    <img th:unless="${cs.pfpSystemName == null}" class="img-box"
                         th:style="${'background-image: url(/profile/' + cs.pfpUuId + '_' + cs.pfpSystemName + ')'}"/>
                    <!-- -->
                    <input type="hidden" th:value="${cs.userNumber}"/>


                    <!--                                <div class="id-box">-->
                    <!--                    <div class="id"><p th:text="${cs.userNickname}"></p></div>-->
                    <!--                    <div class="id"><p th:text="${cs.gradeName}"></p></div>-->
                    <!--                                </div>-->

                    <div class="id-box">
                        <div class="id"><p th:text="${cs.userNickname}"></p></div>
                        <div class="id-2"><p th:text="'Lv. '+${cs.gradeName}"></p></div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">
                            <span class="dropbtn_icon"> <svg data-v-bd9f2bcc="" data-v-3035bc76="" width="24"
                                                             height="24" fill="black" xmlns="http://www.w3.org/2000/svg"
                                                             class="c-Applicatio c-icon"
                                                             style="fill: rgb(148, 155, 160);"><circle
                                    data-v-bd9f2bcc="" cx="12" cy="5.5" r="1.5"></circle><circle data-v-bd9f2bcc=""
                                                                                                 cx="12" cy="12"
                                                                                                 r="1.5"></circle><circle
                                    data-v-bd9f2bcc="" cx="12" cy="18.5" r="1.5"></circle></svg></span>
                        </button>

                        <!-- ↓ 아이디가 다르면 삭제 수정 못하게 -->
                        <div class="dropdown-content">
                            <a class="police-btn">신고</a>
                            <a th:onclick="'fn_modify('+${cs.csNumber} +');'"
                               th:if="${session.userNumber != null and session.userNumber == cs.userNumber}">수정</a>
                            <a th:onclick="'fn_remove('+${cs.csNumber} +');'"
                               th:if="${session.userNumber != null and session.userNumber == cs.userNumber}">삭제</a>
                            <input type="hidden" class="cs-num" th:value="${cs.csNumber}">
                        </div>

                        <!-- ↑ 아이디가 다르면 삭제 수정 못하게 -->

                    </div>
                </div>


                <div class="imfor"></div>
                <div class="question">
                    <div class="Q">Q.</div>
                    <div class="title"><p th:text="${cs.csTitle}"></p></div>
                </div>
                <div class="content"><p th:text="${cs.csContent}"></p></div>


                <div class="icon">
                    <div class="read-count">
                        <button class="readCount-btn" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                 style="fill: rgb(148, 155, 160);" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                        </button>
                        <div class="readCount-num"><p th:text="${cs.csReadCnt}"></p></div>
                    </div>
                    <div class="check">
                        <button class="check-btn" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 style="fill: rgb(148, 155, 160);" class="bi bi-chat-dots" viewBox="0 0 16 16">
                                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                            </svg>
                        </button>
                        <div class="checkCnt"><p th:text="${commentCnt}"></p></div>
                    </div>

                    <div class="date-board"
                         th:text="${#strings.substring(#strings.replace(cs.csDate, '-', '.'), 0, 10)}">>
                    </div>
                </div>
            </div>
            <div class="justbox"></div>
        </div>
        <div class="second1">
            <div class="second">
                <div class="empty-box"></div>

                <div class="comment" th:if="${session.userStatus} == 'a'">
                    <textarea class="comment1" style="font-family:NanumSquareLight;"
                              placeholder="답변을 남기고 채택을 받아보세요."></textarea>
                    <button type="button" class="commentBtn" style="font-family:NanumSquareLight;">답변 등록</button>
                </div>

                <div class="empty-box2"></div>
                <!-- 댓글 리스트 영역  -->
                <div id="csCommentList"> <!-- </th:block> 바로 닫는태그 밑에-->
                    <th:block th:each="reply : ${replyList}">
                        <div class="commentAi" th:data-num="${reply.commentNumber}">
                            <div class="reply-profile-box">
                            <input type="hidden" class="comment-num" th:value="${reply.commentNumber}">
                            <div class="profile">
                                <div class="profile-box">
                                    <img th:src="@{/img/profile-basic.png}" class="plusimg" height="40px" width="40px"/>
                                    <div class="profil-info">
                                        <!-- 대기 -->
<!--                                        <div class="id-2"><p th:text="${session.userNickname}"></p></div>-->

                                        <div class="id-2">관리자<p th:text="${userStatus}"></p></div>
<!--                                        <div class="id-2">-->
<!--                                            <p th:text="'관리자 ' + ${userStatus}"></p>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                                <input type="hidden" th:value="${session.userStatus}"/>
                            <div class="dropdown2" th:if="${session.userStatus == 'a'}">
                                <button class="dropbtn2">
                                    <span class="dropbtn_icon2"> <svg data-v-bd9f2bcc="" data-v-3035bc76=""
                                                                      width="24" height="24" fill="black"
                                                                      xmlns="http://www.w3.org/2000/svg"
                                                                      class="c-Applicatio c-icon"
                                                                      style="fill: rgb(148, 155, 160);"><circle
                                            data-v-bd9f2bcc="" cx="12" cy="5.5" r="1.5"></circle><circle
                                            data-v-bd9f2bcc="" cx="12" cy="12" r="1.5"></circle><circle
                                            data-v-bd9f2bcc="" cx="12" cy="18.5" r="1.5"></circle></svg></span>
                                </button>
                                <div class="dropdown-content2">
<!--                                    <a class="police-btn">신고</a>-->
<!--                                    <a href="#" class="btn-modify"-->
<!--                                       onclick="if (confirm('정말로 수정하시겠습니까?')) fn_modify(${reply.csNumber});"-->
<!--                                       th:if="${session.userNumber} == ${reply.userNumber}">수정</a>-->
<!--                                    <a href="#" class="btn-remove"-->
<!--                                       onclick="if (confirm('정말로 삭제하시겠습니까?')) fn_remove(${reply.csNumber});"-->
<!--                                       th:if="${session.userNumber} == ${reply.userNumber}">삭제</a>-->
                                    <a href="#" class="btn-modify"
                                       onclick="if (confirm('정말로 수정하시겠습니까?')) fn_modify(${reply.csNumber});"
                                       th:if="${session.userNumber == reply.userNumber && session.userStatus == 'a'}">수정</a>
                                    <a href="#" class="btn-remove"
                                       onclick="if (confirm('정말로 삭제하시겠습니까?')) fn_remove(${reply.csNumber});"
                                       th:if="${session.userNumber == reply.userNumber && session.userStatus == 'a'}">삭제</a>
                                    <input type="hidden" class="cs-num" th:value="${reply.csNumber}">
                                </div>
                            </div>
                            </div>
                            </div>
                            <div class="Aicontent" th:text="${reply.commentContent}"></div>
                            <div class="parent">
                                <div class="date"
                                     th:text="${#strings.substring(#strings.replace(cs.csDate, '-', '.'), 0, 10)}">>
                                </div>
                            </div>
                        </div>
                        <!--                            <div class="description"><p th:text="${reply.userId}"></p></div>-->



                    </th:block>
                </div><!--  csCommentList  닫는 태그 -->
            </div>
        </div>
    </div>
</section>
<footer class="footer" th:replace="fragment/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="text/javascript" th:src="@{/js/cs/csRead.js}"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<!--  모달 js-->
<script th:src="@{/js/user/loginModal.js}"></script>
<!-- 7월 5일 추가 (안되면 삭제) -->
<script th:inline="javascript">
    let loginNumber = [[${session.userNumber}]];
</script>
</body>
</html>
