*{
    padding: 0;
    margin: 0;
}

/* body 영역 css */
.main-wrap{
    width: 1050px;
    height: 100%;
    margin: 0px auto;
}

.main1{
    width: 1050px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main2{
    width: 1050px;
    height: 100%;
    margin-top: 30px;
}

.main-sub-wrap{
    /*display: flex;*/
    align-items: flex-end;
    justify-content: space-between;
}

.careerpath-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    height: 100px;
}

.careerpath-text{
    width: 100%;
}

.mssege{
    font-size: 12px;
    margin-left: 2px;
}

.tag-wrap{
    /* margin-left: 25px; */
}



.select-wrap{
    margin-top: 15px;
}

.select-tag{
    overflow-wrap: normal;
    width: 650px;
    margin-top: 10px;
}


.select .selected {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
}

.selected{
    margin-top: 3px;
}



.card-wrap{
    width: 1050px;
    margin: auto;
    display: flex;
    background-color: #fff;
    /*justify-content: center;*/
}

.inner-card-box {
    width: 340px;
    height: 340px;
    border: 1px solid #ccc;
    padding: 25px;
    margin: 10px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
}

.title{
    line-height: 25px;
    display: -webkit-box;
     -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.msg{
    line-height: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
}

.profile-like-wrap{
    display: flex;
    width: 100%;
    height: 50px;
    position:absolute;
    bottom: 25px;
}


.profile{
    display: flex;
    width: 100%;
    align-items: center;
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 70%;
}

.text-box{
    margin-left: 10px;
    width: 160px;
}
.user-bottom{
    display: block;
    margin-top: 5px;
    font-size: 15px;
    color: #515151;
}
.user-name{
    font-size: 17px;
    font-weight: 700;
}
.content{
    display: flex;
    margin-top: 10px;
}

.sec1{
    display: flex;
    width: 40px;
    height: 25px;
}

.sec2{
    display: flex;
    width: 50px;
    height: 25px;
}

.number1{
    margin-left: -3px;
    color: rgb(142, 142, 142);
}

.number2{
    margin-left: 5px;
    color: rgb(142, 142, 142);
}




























body {
    font-family: "NanumSquareLight";
    font-family: "NanumSquare";
    font-family: "NanumSquareBold";
    font-family: "NanumSquareExtraBold";
    font-family: "NanumSquareAcb";
    font-family: "NanumSquareAceb";
    font-family: "NanumSquareAcl";
    font-family: "NanumSquareAcr";
}


/* 계열 선택하는 영역 */
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}


ul {
    list-style-type: none;
    padding-left: 0px;
    /*overflow-y: scroll;*/
}

.select-wrap {
    margin-bottom: 15px;
}

.select-tag {
    overflow-wrap: normal;
    width: 700px;
}

.select .selected {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
}

.selected {
    margin-top: 3px;
}

.select ul li:hover {
    background-color: rgb(241, 245, 249);
}

.select ul li,
.select .selected .selected-value {
    white-space: nowrap;
    /* 줄바꿈 안함 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 말줄임 적용 */
    font-size: 12px;
    font-weight: 600;
}

.select ul {
    width: 220px;
    border: 1px solid #999;
    /*display: none;*/
    position: absolute;
    background: #fff;
    border-top: none;
    margin: 1px 0 0 -1px;
    cursor: pointer;
}

.select.active ul {
    display: initial;
}

.select ul li {
    padding: 8px 5px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    /*overflow-y: scroll;*/
}

.tag {
    display: inline-block;
    background-color: rgb(241, 245, 249);
    border-radius: 10px;
    font-size: 11px;
    padding: 10px 10px;
    color: rgb(148, 163, 184);
    font-weight: 600;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.tag:hover {
    /*box-shadow: 0 10px 10px -5px;*/
    -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.select {
    display: inline-block;
    width: 220px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.select:hover {
    /*box-shadow: 0 10px 10px -5px;*/
    -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12),
    0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.select .selected .selected-value {
    max-width: 90px;
}

.selected-value {
    color: #999;
}

.select .selected .arrow {
    background: url("https://uxwing.com/wp-content/themes/uxwing/download/02-arrow-direction/arrow-bottom.png")
    no-repeat 70% 50%;
    background-size: 50% 50%;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
}











.tag{
    display: inline-block;
    background-color: rgb(241, 245, 249);
    border-radius: 10px;
    font-size: 11px;
    padding: 10px 10px;
    color: rgb(148, 163, 184);
    font-weight: 600;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.tag:hover {
    /*box-shadow: 0 10px 10px -5px;*/
    -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.select {
    display: inline-block;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.select:hover {
    /*box-shadow: 0 10px 10px -5px;*/
    -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.12), 0 10px 10px -5px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}



.select .selected .selected-value {
    max-width: 90px;
}

.selected-value{
    color: #999;
}

.select .selected .arrow {
    background: url("https://uxwing.com/wp-content/themes/uxwing/download/02-arrow-direction/arrow-bottom.png") no-repeat 70% 50%;
    background-size: 50% 50%;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all ease 0.5s;
}

.arrow-after{
    transform:rotate(180deg);
    transform-origin:center;

}

.select ul li,
.select .selected .selected-value {
    white-space: nowrap;
    /* 줄바꿈 안함 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 말줄임 적용 */
    font-size: 12px;
    font-weight: 600;
}

.select ul {
    width: 250px;
    border: 1px solid #999;
    display: none;
    position: absolute;
    background: #fff;
    border-top: none;
    margin: 1px 0 0 -1px;
    cursor: pointer;
    z-index: 1;
}

.select.active ul {
    display: initial;
}

.select ul li {
    padding: 8px 5px;
}


.select ul li:hover {
    /*background: rgba(168, 156, 235, 0.35)*/
    background-color: rgb(241, 245, 249);
}





/*  HTML 125번째줄 작성하기 영역 CSS */

.modify{
    display: flex;
    margin-left: -130px;
    margin-bottom: 0px;
}

.go1{
    display: inline;
}

.go2{
    display: inline;
}

.go3{
    display: inline;
}
.modify{
    display: flex;
}

.weight{
    font-size: 15px;
    font-weight: 600;
}

.click1{
    background-color: #1b5192;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 10px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    width: 127px;
    height: 31px;
    margin-bottom: 5px;
}

/* .overflow-scroll {
  overflow: auto;
} */

.sungwon{
    width: 50px;
    height: 50px;
    border-radius: 70%;
}

.community-pfp {
    position: fixed;
    left: 250px;
    top: 200px;
    /* display: none; */
}

.community-user {
    display: flex;
    align-items: center;
    width: 250px;
    height: 80px;
}

.community-pfp-img {
    width: 70px;
    height: 70px;
    border-radius: 70%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.community-pfp-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community-user-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}

.community-pfp-belong,
.community-pfp-department {
    font-size: 12px;
    color: gray;
    margin-top: 2px;
}

.community-pfp-main-btn {
    display: flex;
    height: 45px;
    align-items: center;
}

.pfp-main-btn {
    border-radius: 7px;
    background-color: #1b5192;
    color: white;
    text-decoration: none;
    padding: 9px 97px;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
}

.pfp-main-btn:hover {
    background-color: #153f71;
    color: white;
}

.community-pfp-sub-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 245px;
    height: 100px;
    justify-content: space-around;
}

.pfp-sub-btn {
    width: 115px;
    height: 45px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    background-color: #ffffff;
    color: gray;
    margin-right: 3px;
    text-align: center;
    cursor: pointer;
}

.pfp-sub-btn:hover {
    border: 1px solid #e5e5e5;
    background-color: #f2f2f2;
}

/* 로그인 안했을 때 */
.community-pfp2 {
    position: fixed;
    left: 250px;
}

.not-login > a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    display: block;
    margin-bottom: 7px;
}

.not-login span {
    color: rgb(66, 66, 66);
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 2px solid rgb(66, 66, 66);
}

.not-login-comment {
    color: gray;
    font-size: 13px;
    padding: 0px 5px;
}
/* 작성하기 버튼 */
.write-btn{
    border-radius: 7px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #1b5192;
    padding: 10px 10px;
    width: 250px;
    border: none;
    cursor: pointer;
}

.write-btn:hover{
    background-color: #153f71;;
}

/* 진로정보 타이틀 a태그 css*/

.careerInfo-title-path{
    text-decoration: black;
    color: black;
}

.careerInfo-title-path:visited{
    text-decoration: black;
    color: black;
}

/* 진로정보 카드박스 수정사항 */
/* 진로정보 박스 */

.career-info-content{
    margin-top: 25px;
    display: flex;
}

.career-box{
    width: 320px;
    height: 320px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 30px;
}

.career-info{
    padding: 20px 20px 10px 20px;
    height: 200px;
}

.career-tag{
    background-color: rgb(242, 242, 242);
    border-radius: 2px;
    font-size: 10px;
    padding: 3px;
    color: #5e5e5e;
    font-weight: 600;
    padding: 3px 10px;
}

.career-title{
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.career-content{
    font-size: 13px;
    font-weight: lighter;
    color: gray;
    margin: 15px 0px;
    text-overflow: ellipsis;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.career-content > img {
    display: block;
    margin: 0 auto;
    width: 50% !important;
}

.career-bottom{
    display: flex;
    padding: 25px 20px;
    border-top: 1px solid #ddd;
    align-content: center;
    flex-direction: column;
}

.career-bottom-wrap{
    display: flex;
    justify-content: space-between;
}

.career-user-profile-box{
    display: flex;
    align-items: center;
}

.career-profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.career-profile-img > img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.career-user-info{
    margin-left: 10px;
}

.career-user-name{
    font-size: 15px;
    font-weight: 700;
    display: block;
}

.career-user-tag{
    font-size: 13px;
    color: #5e5e5e;
}

.career-icon{
    display: flex;
    align-items: flex-end;
}

.select-count-box{
    display: flex;
    align-items: center;
}

.career-like-box{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.select-count,
.like-count{
    color: rgb(148, 155, 160);
    font-size: 13px;
    margin-left: 3px;
}

.career-click{
    display: block;
    cursor: pointer;
    margin-right: 40px;
}

.career-click{
    color: black;
}