body {

}

.wrap {
  display: flex;
  justify-content: end;
  width: 1050px;
  margin: auto;
}

/* 회원 프로필&질문하기 버튼 */
/* 로그인 했을 때 */
.community-pfp {
  position: fixed;
  left: 250px;
}

.community-user {
  display: flex;
  align-items: center;
  width: 250px;
  height: 80px;
}

.community-pfp-img {
  width: 70px;
  height: 70px;
  border-radius: 70%;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.community-pfp-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community-user-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
}

.community-pfp-belong,
.community-pfp-department {
  font-size: 12px;
  color: gray;
  margin-top: 2px;
}

.community-pfp-main-btn {
  display: flex;
  height: 45px;
  align-items: center;
}

.pfp-main-btn {
  border-radius: 7px;
  background-color: #1b5192;
  color: white;
  text-decoration: none;
  padding: 9px 97px;
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
}

.pfp-main-btn:hover {
  background-color: #153f71;
  color: white;
}

.community-pfp-sub-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 245px;
  height: 100px;
  justify-content: space-around;
}

.pfp-sub-btn {
  width: 115px;
  height: 45px;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  background-color: #ffffff;
  color: gray;
  margin-right: 3px;
  text-align: center;
  cursor: pointer;
}

.pfp-sub-btn:hover {
  border: 1px solid #e5e5e5;
  background-color: #f2f2f2;
}

/* 로그인 안했을 때 */
.community-pfp2 {
  position: fixed;
  left: 250px;
}

.not-login > a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  display: block;
  margin-bottom: 7px;
}

.not-login span {
  color: rgb(66, 66, 66);
  font-weight: bold;
  padding-bottom: 1px;
  border-bottom: 2px solid rgb(66, 66, 66);
}

.not-login-comment {
  color: gray;
  font-size: 13px;
  padding: 0px 5px;
}
/* 회원 프로필&질문하기 버튼 끝 */

/* 이미지 버튼 눌렀을 때 */
.community-pfp-img img {
  cursor: pointer;
}

#file {
  display: none;
}

.plusimg {
  display: none;
  position: absolute;
}

.community-pfp-img:hover .plusimg {
  display: inline;
  filter: opacity(0.5) drop-shadow(0 0 0 white);
}
/* 이미지 버튼 눌렀을 때 끝! */

/* 메인 div */
.qna {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

/* 질문 게시판 메인 */
/* 유저 기본 카테고리(대/소 등) */
.user-main-category {
  display: flex;
}

.user-big-category{
  width: 90px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 3px 3px;
  text-align: center;
  margin-right: 10px;
}

.user-middle-category {
  width: 135px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 3px 3px;
  text-align: center;
  margin-right: 10px;
}

.user-small-category {
  width: 150px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 3px 3px;
  text-align: center;
}
/* 유저 기본 카테고리(대/소 등)끝 */

/* 유저 기본 카테고리 질문 요소 */
.category-qna {
  margin-top: 20px;
}

.qna-main-content {
  /* border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  width: 700px;
  height: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  width: 720px;
  height: 150px;
  border: 1px solid#ddd;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

/* 질문 게시판 제목 */
.qna-q {
  color : #1b5192;
}

.qna-title {
  font-size: 17px;
  font-weight: bold;
  margin: 15px;
}

/* 질문 게시판 내용 */
.qna-content {
  font-size: 13px;
  margin: 12px;
  height: 40px;
}

.user {
  display: flex;
  justify-content: space-between;
  margin: 7px 12px;
}

/* 조회수,좋아요,댓글 갯수 */
.qna-img {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.cnt ,
.comment {
  width: 20px;
  margin-right: 7px;
}

.good {
  width: 17px;
  margin-right: 7px;
}

.qna-img  span {
  margin-right: 10px;
  color : gray;
}

.qna-cnt,
.qna-good,
.qna-comment {
  display: flex;
  align-items: center;
  margin: 5px 4px;
}

.qna-cnt span,
.qna-good span,
.qna-comment span {
  font-size: 13px;
}
/* 조회수,좋아요,댓글 갯수 끝 */

/* 질문 게시판 업로드 시간 */
.user > .qna-date {
  margin: 7px;
  font-size: 13px;
}
/* 질문 게시판 업로드 시간 끝 */
/* 유저 기본 카테고리 질문 요소 끝 */

/* 전체 필터 카테고리 */
/* 유저 선택 필터 카테고리 */
.user-filter-category {
  display: flex;
}

.bi-hand-thumbs-up-fill{
  display: none;
}