/* 관리자 사이드 메뉴 css */

.admin-managementname {
    margin-bottom: 25px;
}

.admin-aside-menu {
    margin-right: 20px;
}

.admin-side-menu {
    margin-left: 25px;
}

.admin-side-menu > a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.admin-side-menu > a:hover {
    font-weight: 700;
}

.admin-nickname-email {
    margin-left: 9px;
    margin-top: 42px;
}

/*.user-management {*/
/*    font-weight: bold;*/
/*}*/

.category {
    margin-bottom: 20px;
}

.admin-category {
    margin-top: 30px;
    width: 800px;
}

.big-category > h2 {
    margin-bottom: 20px;
}

.small-category {
    width: 80px;
    border-bottom: 2px solid #595f63;
}

.small-category > a {
    text-decoration: none;
    color: black;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-category > a:hover {
    background-color: rgba(198, 198, 198, 0.251);
    border-radius: 5px;
}