<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.winwin.mapper.like.CommunityGoodMapper">

    <!-- 이전에 좋아요 눌렀는지 안눌렀는지 확인 -->
    <select id="findLike" resultType="long">
        SELECT COUNT(USER_NUMBER)
        FROM COMMUNITY_GOOD
        WHERE COMMUNITY_NUMBER = #{communityNumber}
        <choose>
          <when test="userNumber != null">
            AND USER_NUMBER = #{userNumber}
          </when>
          <otherwise>
            AND 1=0
          </otherwise>
        </choose>

    </select>

    <!--  좋아요 등록  -->
    <insert id="likeUp">
        INSERT INTO COMMUNITY_GOOD (COMMUNITY_NUMBER, USER_NUMBER)
        VALUES (#{communityNumber}, #{userNumber})
    </insert>

    <!--  좋아요 삭제  -->
    <delete id="unlike">
        DELETE FROM COMMUNITY_GOOD
        WHERE COMMUNITY_NUMBER = #{communityNumber} and USER_NUMBER = #{userNumber}
    </delete>

    <!--  좋아요 카운트  -->
    <select id="likeCnt" resultType="int">
        SELECT COUNT(USER_NUMBER)
        FROM COMMUNITY_GOOD
        WHERE COMMUNITY_NUMBER = #{communityNumber}
    </select>

</mapper>