
/*------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  justify-content: end;
  width: 1050px;
  margin: auto;
}

/* 회원 프로필&질문하기 버튼 */
/* 로그인 했을 때 */
.community-pfp {
  position: fixed;
  left: 250px;
  top: 170px;
}

.community-user {
  display: flex;
  align-items: center;
  width: 250px;
  height: 80px;
}

.community-pfp-img {
  width: 70px;
  height: 70px;
  border-radius: 70%;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.community-pfp-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community-user-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
}

.community-pfp-belong,
.community-pfp-department {
  font-size: 12px;
  color: gray;
  margin-top: 2px;
}

.pfp-main-btn{
  cursor: pointer;
}

.community-pfp-main-btn {
  display: flex;
  height: 45px;
  align-items: center;
}

.pfp-main-btn-css {
  border-radius: 7px;
  background-color: #1b5192;
  color: white;
  text-decoration: none;
  padding: 9px 97px;
  text-align: center;
  font-size: 13px;
  font-weight: lighter;

}

.pfp-main-btn-css:hover {
  background-color: #153f71;
  color: white;
}

.community-pfp-sub-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 245px;
  height: 100px;
  justify-content: space-around;
}

.pfp-sub-btn {
  width: 115px;
  height: 45px;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  background-color: #ffffff;
  color: gray;
  margin-right: 3px;
  text-align: center;
  cursor: pointer;
}

.pfp-sub-btn:hover {
  border: 1px solid #e5e5e5;
  background-color: #f2f2f2;
}

/* 로그인 안했을 때 */
.community-pfp2 {
  position: fixed;
  left: 250px;
}

.not-login > a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  display: block;
  margin-bottom: 7px;
}

.not-login span {
  color: rgb(66, 66, 66);
  font-weight: bold;
  padding-bottom: 1px;
  border-bottom: 2px solid rgb(66, 66, 66);
}

.not-login-comment {
  color: gray;
  font-size: 13px;
  padding: 0px 5px;
}
/* 회원 프로필&질문하기 버튼 끝 */

/* 이미지 버튼 눌렀을 때 */
.community-pfp-img img {
  cursor: pointer;
}

#file {
  display: none;
}

.plusimg {
  position: absolute;
}

.plusimg{
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 50px;
  background-size: cover;
}

/* 이미지 버튼 눌렀을 때 끝! */

/* 메인 div */
.community {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px; /* 마진 없애도 됨 */
}
/* 메인 div 끝 */

/* 직장인/대학생/고등학생 고민 */
.community-main-box {
  padding: 10px 0 10px 0;
}

.community-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 170px;
  border: 1px solid#ddd;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

.user-identity {
  border: 0.5px solid rgba(128, 128, 128, 0);
  border-radius: 3px;
  font-size: 10px;
  background-color: rgb(234, 234, 234);
  margin: 10px 0px 5px 0px;
  padding: 2px 1px 2px 1px;
  text-align: center;
}

.hsc {
  width: 45px;
}

.cs {
  width: 35px;
}

.ow {
  width: 35px;
}

.community-title {
  font-size: 17px;
  font-weight: bold;
  margin: 15px 0px;
}

.community-sub-content {
  margin-top: 5px;
}

.community-content {
  font-size: 13px;
  font-weight: lighter;
  color: gray;
  margin: 20px 0px;
  line-height: 20px;
}

.community-sub-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: -10px;
}

.community-btn {
  display: flex;
  align-items: center;
}

.community-cnt > img {
  width: 17px;
}

.community-like > img {
  width: 13px;
}

/*.community-comment{*/
/*  margin-left: 15px;*/
/*}*/

.community-comment > img {
  width: 15px;
}

.community-like,
.community-comment,
.community-cnt {
  display: flex;
  align-items: center;
  margin: 5px 4px;
  margin-left: 8px;

}

.community-like > span,
.community-comment > span{
  color: gray;
}

.community-cnt2 {
  padding: 0 5px;
  font-size: 13px;
  /*color: gray;*/
}

.community-time {
  font-size: 13px;
  color: gray;
}
/* 직장인/대학생/고등학생 고민 끝 */

/* 친목&나눔 */
.share-main-box {
  padding: 10px 0 10px 0;
}

.share-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  height: 150px;
  border: 1px solid#ddd;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

.share-sub-content {
  display: flex;
  height: 150px;
  flex-direction: column;
}

.share-sub-title {
  width: 500px;
  height: 130px;
}

.share-title {
  font-size: 17px;
  font-weight: bold;
  margin: 15px 0px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.share-content {
  height: 40px;
  font-size: 13px;
  font-weight: lighter;
  color: gray;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  margin: 5px 0px 5px 0px;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.share-sub-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-btn {
  display: flex;
}

.share-sub-box img {
  width: 15px;
}

.share-like > img {
  width: 20px;
}

.share-comment > img {
  width: 15px;
}

.share-like,
.share-comment {
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 0;
}

.community-cnt {
  /*padding: 0 5px;*/
  color: gray;
}

.share-img {
  border-radius: 3px;
}

.share-img > img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
/* 친목&나눔 끝 */

/* 나눔 전체 박스 주소이동 css */
.bi-hand-thumbs-up-fill{
  display: none;
}

.share-title-path{
  text-decoration : none;
  color: black;
}

/* 나눔 상태 */
.N {
  color: green;
  font-size: 17px;
}

.E {
  color: gray;
  font-size: 17px;
}

.hide{
  display: none;
}

.bi {
  color : gray;
}

/* 나눔 글 등록시 시간 폰트 사이즈*/
.share-time{
  font-size: 13px;
  color: gray;
}

/* 조회수 css 수정*/
.share-cnt > span{
  padding: 0 5px;
  color: gray;
}

.share-cnt {
  display: flex;
  align-items: center;
}

.share-cnt img {
  width: 20px;
  height: 20px;
}

.big-title{
  font-weight: bold;
  margin-left: 6px;
  font-size: 24px;
  display: block;
  margin-bottom: 15px;
}