<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
  <div class="f-container">
    <div class="f-cs">
      <h5>고객센터</h5>
      <span
      >운영시간 : 평일 10시 ~ 18시 30분 (주말, 공휴일 제외) <br />
            점심시간 : 12시 30분 ~
            <br /><br />
            관리자 이메일 : aaa@naver.com</span
      >
      <div class="q-a-btn">
        <a href="">Q&A 바로가기</a>
      </div>
    </div>
    <div class="f-service">
      <h5>서비스</h5>
      <br />
      <div class="box">
        <a th:href="@{/mentor/list}">멘토 : 멘티 </a>
        <a th:href="@{/community/list/all}">커뮤니티</a>
        <a th:href="@{/career/list}">진로정보</a>
        <a th:href="@{/share/list}">나눔</a>
      </div>
      <h5>계정</h5>
      <br />
      <div class="box-2">
        <a href="">로그인 </a>
        <a href="">회원가입</a>
      </div>
    </div>
    <div class="f-right">
          <span
          >(주)윈윈 | 대표이사 정소이 <br />06236 서울 강남구 테헤란로 146 3,4층 <br />사업자 등록번호 : 324-45-00192
            | 통신판매업신고번호 제 2018-서울중구-1245호 <br />직업정보제공사업신고 서울청 제
            2018-18호ㅣ원격평생교육시설신고 제 원격-376호 <br />유료직업소개사업 등록번호 제
            2022-3010165-14-5-00021호</span
          >
      <br /><br /><br /><span>이용약관 | <strong>개인정보 처리 방침</strong></span> <br /><span
    >Copyright by (주)윈윈. All right reserved.</span
    >
    </div>
  </div>
</footer>

</body>
</html>