<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
  <div class="myPageSide" th:fragment="myPageSide">
    <!-- 본인 프로필 -->
    <div class="profile">
      <div class="profile-wrap">
          <div class="profile-icon">
            <img th:if="${sideBar.userPfpDto == null}" class="pfp-icon-image" src="/img/defualt_camera.jpg">
            <div th:unless="${sideBar.userPfpDto == null}" class="img-box"
                 th:style="${'background-image: url(/profile/' + sideBar.userPfpDto.pfpUuid + '_' + sideBar.userPfpDto.pfpSystemName + ')'}">
            </div>
          </div>
        <div class="user-info">
          <span class="user-name" th:text="${sideBar.userNickname}"></span>
          <span class="user-email" th:text="${sideBar.userPosition}"></span>
          <span class="user-email" th:text="${sideBar.gradeName}"></span>
        </div>
      </div>
    </div>
    <!-- 사이드 바 -->
    <div class="side-bar">
      <div class="list">
          <a th:href="@{/myPage/myMentor}" id="point-list-1">내 멘토 : 멘티</a>
<!--        <th:block th:if="${session.userPosition == '멘티'}">-->
<!--          <a th:href="@{/myPage/myMentor}" id="point-list-12">내 멘토 : 멘티</a>-->
<!--        </th:block>-->
<!--        <th:block th:if="${session.userPosition == '멘토+멘티'}">-->
<!--          <a th:href="@{/myPage/myMentor}" id="point-list-13">내 멘토 : 멘티</a>-->
<!--        </th:block>-->
<!--        <a th:href="@{/myPage/myMentor}" id="point-list-1">내 멘토 : 멘티</a>-->
        <a th:href="@{/myPage/myRecord}" id="point-list-2">내 기록</a>
        <a th:href="@{/myPage/receiveMessage}" id="point-list-7">쪽지함</a>
        <hr class="side-hr"/>
        <a th:href="@{/myPage/activityDetail}" id="point-list-3" class="list-plus">활동 내역</a>
        <a th:href="@{/myPage/careerInfoLike}" id="point-list-4">진로 정보</a>
        <a th:href="@{/myPage/resume}" id="point-list-5">이력 관리</a>
        <a th:href="@{/myPage/userInfoModify}" id="point-list-6">회원 정보 수정</a>
      </div>
    </div>
  </div>
</body>
</html>