

body{
    margin: auto;
    background-color: #f7f8f8;
}

body {
    font-family: "NanumSquareLight";
    font-family: "NanumSquare";
    font-family: "NanumSquareBold";
    font-family: "NanumSquareExtraBold";
    font-family: "NanumSquareAcb";
    font-family: "NanumSquareAceb";
    font-family: "NanumSquareAcl";
    font-family: "NanumSquareAcr";
}



footer{
    height: 60px;
}

.big-box{
    height: 100%;
}


.first1{
    background-color: #fff;
    padding-top: 35px;
}

.first{
    width: 1050px;
    margin: 0 auto;
}

.Profil{
    display: flex;
    /*justify-content: space-around;*/
}

.profile{
    display: flex;
    justify-content: space-between;
}

.profil-info{
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.profile-box{
    display: flex;
}


.Profil>img{
    margin: 10px 200px;
    margin-right: -13px;
    border-radius: 70%;
    overflow: hidden;
}

.Profil>.id{
    margin: 17px 20px;

}

.id>p{
    font-size: 13px;
    font-weight: bold;
    /*margin-top: 15px;*/
}

.first{
    background-color: #fff;
}

.first>.imfor{
    height: 50px;
    margin: -2px 210px;
}

.imfor>p{
    font-size: 11px;
    color: gray;
}

.question{
    display: flex;
    margin-top: -20px;
}

.question>.Q{
    margin: -7px 200px;
    color: #1b5192;
    font-size: 16px;
    font-weight: bold;
}

.question>.title{
    margin: -7.5px -190px;
    font-size: 16px;
    font-weight: 600;
}

.content{
    margin: 15px 200px;
    font-size: 14px;
    white-space: pre-wrap;
    margin-bottom: 25px;
    line-height: 20px;
}

/* svg 아이콘 ================================ */
.icon{
    display: flex;
    margin: 0 180px;
    height: 40px;
}

.read-count{
    display: flex;
    height: 17px;
}

.readCount-btn{
    background-color: white;
    border: none;
    width: 10px;
    margin: 23px 10px;
}

.readCount-num{
    color: rgb(148, 155, 160);
    margin: 27px 5px;
    font-size: 13px;
}

.check{
    display: flex;
    margin-top: 1.5px;
    margin-left: -13px;
    height: 10px;
}

.check-btn{
    background-color: white;
    border: none;
    width: 10px;
    margin: 23px 18px;

}

.checkCnt{
    color: rgb(148, 155, 160);
    margin: -13px -2px;
    font-size: 13px;
}

.checkCnt > p {
    margin: 38.5px -4px;
}

.hide{
    display: none;
}

.like{
    display: flex;
    margin-top: -11px;
    margin-left: 11px;
}

.like-btn{
    border: none;
    background: none;
    margin: 33px 3px;
    cursor: pointer;
}

.likeCnt p{
    font-size: 13px;
    color: rgb(148, 155, 160);
    margin: 38px 0;
}
/* svg 아이콘 ================================ */

.date{
    /*margin: 27px 434px;*/
    /*margin: 27px 600px;*/
    font-size: 13px;
    color: rgb(148, 155, 160);
}

.date-board{
    /*margin: 27px 434px;*/
    margin: 27px 515px;
    font-size: 13px;
    color: rgb(148, 155, 160);
}

.date1{
    margin-left: 605px;
    font-size: 13px;
    color: rgb(148, 155, 160);
}

.justbox{
    height: 30px;
}

.second1{
    background-color: #f7f8f8;
}

.second{
    background-color: #f7f8f8;
    margin-top: 20px;
    margin: auto;
    width: 1050px;
}

.empty-box{
    height: 30px;
}

.comment{
    border-radius: 3.5px;
    height: 50px;
    margin: auto;
    display: flex;
    width: 700px;
    justify-content: flex-end;
}

.comment1{
    border: 1px solid #ddd;
    border-radius: 3.5px;
    height: 50px;
    width: 100%;
    margin: auto;
    resize: none;
    font-size: 15px;
    padding: 7px;
}

.comment2{
    border: 1px solid #ddd;
    border-radius: 3.5px;
    height: 250px;
    width: 700px;
    margin: auto;
    resize: none;
    font-size: 15px;
    padding: 7px;
    background-color: white;
}

.newComment3{
    border: none;
    width: 600px;
    resize: none;
    margin: -20px 60px;
    padding: 5px;
    height: 150px;
}

.commentProfil{
    display: flex;
    margin: 30px 20px;
}

.commentName{
    margin-left: 10px;
}

.commentProfil img{
    border-radius: 70%;
}

.commentBtn{
    height: 35px;
    color: #1b5192;
    border-radius: 5px;
    background-color: #c1d7f1;
    border: none;
    margin: auto;
    margin-top: 15px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    padding: 5px;
}

.empty-box2{
    height: 35px;
}

.commentCnt{
    width: 700px;
    margin: auto;
    font-weight: bold;
    font-size: 13.5px;
    color: gray;
}

.commentAi{
    width: 700px;
    margin: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3.5px;
    margin-bottom: 20px;
    padding: 30px;
}

.profil{
    display: flex;
    margin: 25px 25px;
}

.profil>img{
    border-radius: 70%;
}

.profil>.Commento{
    margin: 10px 10px;
    width: 100px;
    font-weight: bold;
}

.c-Application{
    margin-left: 450px;
}

.description{
    margin: 0 85px;
    color: gray;
}

.description>p{
    margin-left: -10px;
    font-size: 12px;
    margin-top: -41px;
}

.Aicontent{
    margin: 30px 0px;
    font-size: 15px;
    line-height: 20px;
}

.answer-box{
    width: 10px;
}

.answer{
    width: 650px;
    margin: auto;
    color: #1b5192;
    border-radius: 3.5px;
    background-color: #e8f1fc;
    height: 60px;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.icon2{
    /*display: flex;*/
    /*margin: 40px 0;*/
}

.goodorbad{
    margin-left: 372px;
    display: flex;
    margin-bottom: -9px;
}

.good{
    border: none;
    color: #1b5192;
    background-color: #e8f1fc;
    cursor: pointer;
    margin-top: -5px;
}

.empty-box3{
    width: 15px;
}

.bad{
    border:none;
    color: #1b5192;
    background-color: #e8f1fc;
    cursor: pointer;
}

.parent{
    /*height: 60px;*/
    /*border-bottom: 1px solid #ddd;*/
    display: flex;
    justify-content: flex-end;
}

.newComment{
    margin: 20px 20px;
    height: 50px;
    display: flex;
}

.newComment2{
    margin-top: -2px;
    resize: none;
    border-color: #ddd;
    border-radius: 3.5px;
    width: 630px;
    height: 40px;
    font-size: 13.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px;
}

.send{
    border: none;
    border-radius: 3.5px;
    background-color: #fff;
    margin-left: 10px;
    margin-bottom: -4px;
    cursor: pointer;
}

.c-pplication{
    background-color: #fff;
}

.img-box{
    flex-direction: column-reverse;
    margin: 30px 176px;
    margin-bottom: 24px;
    border-radius: 3.5px;
    width: 1000px;
}

.img-box img{
    border-radius: 3.5px;
    margin-left: 22px;
}

.dropdown{
    position: relative;
    display: inline-block;
    /*margin-left: 496px;*/
    margin-left: 527px;
    margin-top: -2px;
}

.dropbtn{
    border: none;
    background: none;
    font-weight: 400;
    color : rgb(37, 37, 37);
    padding : 5px;
    text-align: left;
    cursor : pointer;
    font-size : 12px;
}

.dropdown-content > a{
    cursor : pointer;
}
.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 100px;
    font-weight: bold;
    border-radius: 3.5px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 10px 20px;
}

.dropdown-content a:hover{
    background-color : #ececec
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown2{
    position : relative;
    display : inline-block;

}

.dropbtn2{
    border: none;
    background: none;
    font-weight: 400;
    color : rgb(37, 37, 37);
    padding : 5px;
    text-align: left;
    cursor : pointer;
    font-size : 12px;
}
.dropdown-content2{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 100px;
    font-weight: bold;
    border-radius: 3.5px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content2 a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 10px 20px;
}

.dropdown-content2 a:hover{
    background-color : #ececec
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.bi-hand-thumbs-up{
    margin-bottom: -2px;
}

/*댓글 수정 input*/
.modify-box {
    display: flex;
}

.modify-content {
    width: 80%;
    resize: none;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 25px;
    font-size: 15px;
    line-height: 20px;
}

.modify-content-btn {
    height: 40px;
    width: 70px;
    margin-right: 25px;
    color: #1b5192;
    border-radius: 5px;
    background-color: #c1d7f1;
    border: none;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
}

/* 프로필 처리 */
/*.cs-img{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*}*/

.img-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: pink;
    overflow: hidden;
    background-size: cover;
}

.img-box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.id-box{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 20px;
}

.id-box>.id{
    margin-bottom : 5px
}

.id-2{
    font-size: 14px;
    font-weight: 600;
}
/* 수정중 */


.id-box2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.id-box2>id3{
    margin-bottom : 5px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.id-4{
    font-size: 12px;
    color: gray;

}

.id-3>p{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
}



/* 수정중 */



















