<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>쪽지</title>
</head>
<link rel="stylesheet" th:href="@{/css/chatting/notebox.css}" />
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
<style>
  body {
    font-family: "NanumSquareLight";
    font-family: "NanumSquare";
    font-family: "NanumSquareBold";
    font-family: "NanumSquareExtraBold";
    font-family: "NanumSquareAcb";
    font-family: "NanumSquareAceb";
    font-family: "NanumSquareAcl";
    font-family: "NanumSquareAcr";
  }
</style>
<body>
<div class="note-flex">
  <div class="note-peple">
    <div class="note-peple-can">
      <p class="note-up">보낸쪽지함</p>
    </div>
    <div class="outbox-flex">
      <div class="outbox-scroll">
        <div class="board-bottom">
          <a href="" class="mento-profile-flex">
            <div class="mento-profile-img">
              <img
                      src="./img/img.png"
                      alt=""
                      style="
                      border-radius: 9999px;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      vertical-align: middle;
                      border-style: none;
                    "
              />
            </div>
          </a>
          <div class="name-flex">
            <div class="name-mid-flex">
              <p class="name">최성진</p>
              <p class="date">2023-06-16</p>
            </div>
            <p class="note-content">멘토님 자격증 어떻게 따요?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="in-note-flex">
    <div class="in-note">
      <p class="note-up">받은 쪽지함</p>
    </div>
    <div class="chatting-flex">
      <div class="chatting-content">
        <a href="" class="mento-profile-flex">
          <div class="mento-profile-img">
            <img
                    src="./img/img.png"
                    alt=""
                    style="
                    border-radius: 9999px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    vertical-align: middle;
                    border-style: none;
                  "
            />
          </div>
          <div class="name-flex2">
            <div class="name-mid-flex">
              <p class="name">임태종</p>
              <p class="date">2023-06-16</p>
            </div>
            <p class="note-content">책사서 공부를 하세요^_^</p>
          </div>
        </a>
      </div>
      <div class="chatting-content">
        <a href="" class="mento-profile-flex">
          <div class="mento-profile-img">
            <img
                    src="./img/img.png"
                    alt=""
                    style="
                    border-radius: 9999px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    vertical-align: middle;
                    border-style: none;
                  "
            />
          </div>
          <div class="name-flex2">
            <div class="name-mid-flex">
              <p class="name">임태종</p>
              <p class="date">2023-06-16</p>
            </div>
            <p class="note-content">책사서 공부를 하세요^_^</p>
          </div>
        </a>
      </div>
      <div class="chatting-content">
        <a href="" class="mento-profile-flex">
          <div class="mento-profile-img">
            <img
                    src="./img/img.png"
                    alt=""
                    style="
                    border-radius: 9999px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    vertical-align: middle;
                    border-style: none;
                  "
            />
          </div>
          <div class="name-flex2">
            <div class="name-mid-flex">
              <p class="name">임태종</p>
              <p class="date">2023-06-16</p>
            </div>
            <p class="note-content">책사서 공부를 하세요^_^</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="note-page-flex">
    <div class="note-high-page">
      <button type="button" class="back-btn">
        <svg
                width="24"
                height="24"
                stroke-width="0"
                viewBox="0 0 24 24"
                fill="current"
                xmlns="http://www.w3.org/2000/svg"
                class="tw-w-6 tw-h-6 md:tw-w-4 md:tw-h-4 tw-fill-slate-900"
        >
          <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.7071 4.2929C11.0976 4.68342 11.0976 5.31659 10.7071 5.70711L5.41423 10.9999H21C21.5523 10.9999 22 11.4477 22 11.9999C22 12.5522 21.5523 12.9999 21 12.9999H5.4142L10.7071 18.2929C11.0976 18.6834 11.0976 19.3166 10.7071 19.7071C10.3166 20.0976 9.68341 20.0976 9.29289 19.7071L2.29289 12.7071C2.10535 12.5195 2 12.2652 2 11.9999C2 11.7347 2.10536 11.4804 2.2929 11.2928L9.2929 4.29289C9.68342 3.90237 10.3166 3.90237 10.7071 4.2929Z"
                  fill="inherit"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"
></script>
<script src="./note.js"></script>
</html>
