<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>쪽지쓰기</title>
</head>
<link rel="stylesheet" th:href="@{/css/chatting/Sendnote.css}" />
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
<style>
  body {
    font-family: "NanumSquareLight";
    font-family: "NanumSquare";
    font-family: "NanumSquareBold";
    font-family: "NanumSquareExtraBold";
    font-family: "NanumSquareAcb";
    font-family: "NanumSquareAceb";
    font-family: "NanumSquareAcl";
    font-family: "NanumSquareAcr";
  }
</style>
<body>
<div class="note-write">
  <div class="send-window">

    <div class="replyMode">
          <span class="reply-tit">
            <span class="recipient">받는사람</span>
          </span>
      <span class="reply-cont">
            <span class="reply-id"></span>
          </span>
    </div>
    <div class="normalMode">
          <span class="normal-tit">
            <a href="" class="recipient" id="recipient" style="display: none">받는사람</a>
            <label for="who" class="recipient">받는사람</label>
            <input
                    type="checkbox"
                    id="chk_tome"
                    onclick="nWrite.toggleToMe();ccr(this,'wrm.tome',event)"
                    style="display: inline"
            />
          </span>
      <span class="normal-cont">
            <a href="#" id="targetName" style="display:none"></a>
            <span class="tx">
              <input type="text" id="who" placeholder="ex)rhflffk@naver.com">
              <input type="hidden" id="who_memberKey" value="">
            </span>
          </span>
      </span>
    </div>
    <div class="area-flex">
      <div class="write-area">
        <textarea id="writeNote" style="resize:none; border-radius: 10px;" placeholder=" 쪽지를 내용을 입력해주세요."></textarea>
      </div>
    </div>
    <div class="write-option">

      <div class="character">

        <span id="noteLen">0</span>
        /
        <span id="noteMaxLen">1000</span>
        자
      </div>
      <div class="today-sent">

        <span class="default">오늘보낸쪽지</span>
        <span class="sent-note" id="sentNoteCount">0</span>
        /
        <strong class="sendLimit">50</strong>
      </div>


    </div>
    <div class="buttonSet">
      <a href="" class="send-btn">
        <span class="ico-send"></span>
        보내기
      </a>
    </div>
  </div>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"
></script>
<script src=""></script>
</html>
