<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>spec</title>
</head>
<link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
<link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
<link rel="stylesheet" th:href="@{/css/mentorProfile/specUpdate.css}"/>
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
<style>
    body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
    }
</style>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<form class="career-box" th:action="@{/mentor/career}" method="post">
    <input type="hidden" value="6"/>
<nav class="tw-fixed">
    <button type="button" class="back-button">
        <svg width="24" height="24" stroke-width="0" viewBox="0 0 24 24" fill="current" xmlns="http://www.w3.org/2000/svg" class="tw-fill-slate-900">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7071 4.2929C11.0976 4.68342 11.0976 5.31659 10.7071 5.70711L5.41423 10.9999H21C21.5523 10.9999 22 11.4477 22 11.9999C22 12.5522 21.5523 12.9999 21 12.9999H5.4142L10.7071 18.2929C11.0976 18.6834 11.0976 19.3166 10.7071 19.7071C10.3166 20.0976 9.68341 20.0976 9.29289 19.7071L2.29289 12.7071C2.10535 12.5195 2 12.2652 2 11.9999C2 11.7347 2.10536 11.4804 2.2929 11.2928L9.2929 4.29289C9.68342 3.90237 10.3166 3.90237 10.7071 4.2929Z" fill="inherit"/>
        </svg>
    </button>
    <p class="tw-text-lg">스펙</p>
    <button type="submit" class="success-btn">완료</button>
</nav>
    <div class="specAll">
        <div class="tw-mp4">
            <div class="tw-flex">
                <label for="name">회사
                    <span class="name-ins">*</span>
                </label>
                <p class="writer-cnt"><span class="cnt">0</span>/50</p>
            </div>
            <input type="text" class="company-box company" placeholder="회사명을 입력해주세요." name="careerCompany" maxlength="150"/>
        </div>
        <div class="tw-mp4">
            <div class="tw-flex">
                <label for="name">직함
                    <span class="name-ins">*</span>
                </label>
                <p class="writer-cnt"><span class="cnt1">0</span>/50</p>
            </div>
            <input type="text" class="company-box title" placeholder="직함을 알려주세요.(예: 프로덕트 매니저)" name="careerTitle" maxlength="150"/>
        </div>
    </div>

    <div class="tw-mp4">
        <div class="tw-flexed">
            <label for="name">재직 기간
                <span class="name-ins">*</span>
            </label>
            <div class="tw-flexdate">
                <div class="tw-col">
                    <div class="tw-flexgap">
                        <input type="text" name="careerStartDate" class="startDate" placeholder="예 : 2000.12.01"/> - <span id="now-box"><input type="text" name="careerEndDate" class="endDate" placeholder="예 : 2010.12.01"/></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="custom-control2">
        <input type="hidden" id="status" name="careerStatus" value="N"/>
        <input type="checkbox" id="is-current-career" class="custom-control-input">
        <label for="is-current-career" class="custom-control-label"> 재직 중 </label>
    </div>
    <div class="tw-mp4">
        <div class="tw-flex">
            <label class="label-font-bold">링크 연결
            </label>
        </div>
        <input type="text" name="careerLink" class="form-control" placeholder="관련된 웹사이트가 있다면 URL을 추가해주세요."/>
    </div>
  </div>
</form>
<footer class="header" th:replace="fragment/footer :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script th:src="@{/js/mentor/specUpdate.js}"></script>
<script th:src="@{/js/fragment/header.js}"></script>
</html>
