<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/user/loginModal.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
  <link rel="stylesheet" th:href="@{/css/careerInfo/careerInfoWrite.css}"/>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
  <style>
    body {
      font-family: "NanumSquareLight";
      font-family: "NanumSquare";
      font-family: "NanumSquareBold";
      font-family: "NanumSquareExtraBold";
      font-family: "NanumSquareAcb";
      font-family: "NanumSquareAceb";
      font-family: "NanumSquareAcl";
      font-family: "NanumSquareAcr";
    }
  </style>
  <title>진로정보 글 작성하기</title>

</head>

<body>
<header class="header" th:replace="fragment/header :: header"></header>
<form th:action="@{/career/modify}" method="post" id="community-write">
  <input type="hidden" th:value="${career.careerInfoNumber}" name="careerInfoNumber">
  <input type="hidden" th:value="${session.mentorNumber}"/>
  <div class="write-main">
    <div class="main-title">
      <div class="sub1">
        <h2>진로 정보</h2>
        <img src="../img/k.png" class="k">
      </div>
      <span class="sub-title">나의 <span class="sub-title2">진로정보</span>를 나눠봐요 :)</span>
    </div>
    <div class="write-main-box">
      <div class="write-category">
                <span class="project-sub-text1" th:text="${career.subName}"><button type="button"
                                                                                    class="close">✖️</button></span>
      </div>
      <div class="write-title content-a">
        <input type="text" placeholder="제목을 입력하세요" name="careerInfoTitle" id="count_memo" required maxlength="20" style="font-family:NanumSquareLight;"/>
        <div class="count"><span id="cnt">(0 / 20)</span></div>
      </div>
      <div class="write-content content-a">
        <div style="width: 100%; margin: auto;">
          <textarea id="summernote" name="careerInfoContent" required th:text="${career.careerInfoContent}"></textarea>
        </div>
        <button type="submit" class="write-btn">작성하기</button>
      </div>
    </div>
  </div>
</form>
<!-- 서머노트 -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
  $('#summernote').summernote({
    height: 450,
    minHheight: 600,
    maxHeight: 600,
    disableResizeEditor: true,
    lang: "ko-KR",
    toolbar: [
      ['fontsize', ['fontsize']],
      ['style', ['style']],
      ['style', ['bold', 'italic', 'underline']],
      ['font', ['strikethrough']],
      ['color', ['color']],
      ['para', ['paragraph']],
      ['height', ['height']],
      ['Insert', ['table']],
      ['Insert', ['picture']],
      ['Insert', ['link']],
      ['misc', ['emoji']],
      ['insert',  ['map']],
      ['highlight', ['highlight']],
      ['code', ['fullscreen', 'codeview']]
    ]
  });
</script>
<!---->
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="../summernote/lang/summernote-ko-KR.js"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script type="module" th:src="@{/js/careerInfo/careerInfoWrite.js}"></script>
</body>

</html>