<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>진로 정보 상세게시판</title>
    <link rel="stylesheet" th:href="@{/css/user/loginModal.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/careerInfo/careerInfoDetail.css}"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <style>
        body {
            font-family: "NanumSquareLight";
            font-family: "NanumSquare";
            font-family: "NanumSquareBold";
            font-family: "NanumSquareExtraBold";
            font-family: "NanumSquareAcb";
            font-family: "NanumSquareAceb";
            font-family: "NanumSquareAcl";
            font-family: "NanumSquareAcr";
        }
    </style>
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<div class="container">
    <section class="sec1">
        <!-- 멘토 인증태그 가져오기 -->
        <div class="tag-wrap">
            <span class="tag" th:text="${career.subName}">@기타</span>
        </div>
        <!--        -->
        <div class="title" th:text="${career.careerInfoTitle}">
            <h1></h1>
        </div>
        <div class="views">
            <p class="view-line">
        <span class="view">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
               viewBox="0 0 16 16">
          <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
          </svg>
        </span>
                <span class="view-count" th:text="${career.careerInfoCnt}"></span>
            </p>
        </div>
        <div class="status-wrap">
            <!-- session으로 userNumber 가져와서 프로필 이미지 꽂아주기  -->
            <div class="icon-wrap">
                <img class="icon-img" th:src="@{/img/careerpathdetail.png}">
            </div>
            <!--            -->
            <div class="text-wrap">
                <div><span class="text-id" th:text="${career.userNickname}"></span></div>
                <div><span class="text-date" th:text="${#strings.substring(#strings.replace(career.careerInfoDate, '-', '.'), 0, 10)}"></span></div>
            </div>
        </div>
    </section>
    <section class="sec2">
        <div class="qna-wrap">
            <div class="qna-sub-wrap">
                <span class="qna-text">궁금한 내용을 확인하고 댓글과 추천을 남겨보세요!</span><br/><br/>
                <span class="qna-sub-text1">간편하게 내용을 확인하고,</span>
                <br/>
                <span class="qna-sub-text2">조금 더 궁금한 사항을 댓글로 문의해보세요:)</span>
                <br>
                <br>
            </div>
            <div class="qna-btn"><a href="#target">댓글 남기러 가기</a></div>
        </div>
        <div class="content-wrap">
            <div class="content" th:text="${career.careerInfoContent}">
                <!--[공감하면 추천]-->

                <!--1. 어제보다 나은 내일은 토요일이다.✨✨✨✨-->

                <!--2. 출근시간 어기면 욕먹고, 퇴근시간 지키면 욕먹고-->

                <!--3. 행복은 회사 밖에 있다.-->

                <!--4. 원수는 회사에서 만난다.🔪🔪🔪-->

                <!--5. 내가 일으킬 수 있는 아주 작은 기적은 밍기적이다.-->

                <!--6. 기회는 놓치지 말아라. 딴 놈이 잡는다.-->

                <!--7. 잠을 자면 꿈을 꾸지만, 안자면 졸리다.-->

                <!--8. 내가 잘하면 아무도 기억하지 않는다. 내가 못하면 누구도 잊지 않는다.-->

                <!--9. 오늘 힘들다고 슬퍼하지 마세요. 어차피 내일도 힘드니까요.-->

                <!--10. 티끌 모아봐야 티끌이다.-->

                <!--[끝]-->
                <!--        [공감하면 추천]-->

                <!--        1. 어제보다 나은 내일은 토요일이다.✨✨✨✨-->

                <!--        2. 출근시간 어기면 욕먹고, 퇴근시간 지키면 욕먹고-->

                <!--        3. 행복은 회사 밖에 있다.-->

                <!--        4. 원수는 회사에서 만난다.🔪🔪🔪-->

                <!--        5. 내가 일으킬 수 있는 아주 작은 기적은 밍기적이다.-->

                <!--        6. 기회는 놓치지 말아라. 딴 놈이 잡는다.-->

                <!--        7. 잠을 자면 꿈을 꾸지만, 안자면 졸리다.-->

                <!--        8. 내가 잘하면 아무도 기억하지 않는다. 내가 못하면 누구도 잊지 않는다.-->

                <!--        9. 오늘 힘들다고 슬퍼하지 마세요. 어차피 내일도 힘드니까요.-->

                <!--        10. 티끌 모아봐야 티끌이다.-->

                <!--        [끝]-->
            </div>
        </div>
    </section>
    <section class="sec3">
        <a name="target"></a>
        <div class="like-hate-wrap">
            <div class="like-btn">
                <div class="inner-wrap">
                    <div class="btn-img">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-heart like"
                                viewBox="0 0 16 16"
                        >
                            <path
                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                            />
                        </svg>

                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-heart-fill like none"
                                viewBox="0 0 16 16"
                        >
                            <path
                                    fill-rule="evenodd"
                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                            />
                        </svg>

                    </div>
                    <div class="like-number">0</div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec4">
        <div class="info-wrap">
            <div class="info-sub-wrap">
                <span class="info-text"> 🔊 여러분의 작은 관심이 큰 힘이 됩니다. 구체적이고 정성스러운 질문에 <strong>"좋아요♡" </strong>를 눌러주세요:) </span>
            </div>
        </div>
    </section>
    <div class="sec5">
        <div class="comment-form">
            <form id="comment-form">
                <input type="hidden" class="careerInfo-num" name="boardNumber" th:value="${career.careerInfoNumber}">
                <div class="form-group">
                    <textarea name="content" id="content" placeholder="댓글 내용을 입력하세요."></textarea>
                </div>
                <button type="button" class="submit-btn">댓글 작성</button>
            </form>
        </div>
        <div class="reply">
<!--            <div class="reply-cardbox" data-index="0" style="">-->
<!--                <div class="reply-content1">-->
<!--                    <div class="profile-wrap">-->
<!--                        <div class="profile-icon-wrap">-->
<!--                            <img class="profile-icon-img" src="../../static/img/careerpathdetail.png">-->
<!--                        </div>-->
<!--                        <div class="profile-text-wrap">-->
<!--                            <div><span class="profile-text-id">sjlee723</span></div>-->
<!--                            <div><span class="profile-text-date">7일전</span></div>-->
<!--                        </div>-->
<!--                        <div class="reply-time">-->
<!--                            <span class="time-text">2023-06-08 23:30:31</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="reply-content2">-->
<!--                    <div class="reply-content">-->
<!--            <span class="reply-text">-->
<!--                이런 대현자분께서 이곳에 있다니!!!!!!!!!!!!!!!!!!🩲🩲-->
<!--                늘 명심하며 회사생활을 잘 해보겠습니다.-->
<!--                혹시 궁금한점이 있으면 추가로 문의드려도 될까요??-->
<!--              </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="reply-content3">-->
<!--                    <div class="btn-wrap">-->
<!--                        <div class="btn-sub-wrap">-->
<!--                            <div class="modify-btn">수정</div>-->
<!--                            <div class="remove-btn">삭제</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
<footer class="footer" th:replace="fragment/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script type="module" th:src="@{/js/careerInfo/careerInfoDetail.js}"></script>
<script th:inline="javascript">
    let loginNumber = [[${session.userNumber}]];
</script>
</body>
</html>
