<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>진로 정보 상세게시판</title>
    <link rel="stylesheet" th:href="@{/css/user/loginModal.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/police/reportModal.css}" />
    <link rel="stylesheet" th:href="@{/css/careerInfo/careerInfoDetail.css}"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <style>
        body {
            font-family: "NanumSquareLight";
            font-family: "NanumSquare";
            font-family: "NanumSquareBold";
            font-family: "NanumSquareExtraBold";
            font-family: "NanumSquareAcb";
            font-family: "NanumSquareAceb";
            font-family: "NanumSquareAcl";
            font-family: "NanumSquareAcr";
        }
    </style>
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<div class="container">
    <!-- 신고하기 모달창 -->
    <div class="reportModal">
        <div class="reportModal-content">
            <h2>신고하기</h2>
            <!-- 신고 카테고리 -->
            <form action="#">
                <div class="report-category">
                    <div class="report-list">
                        <input type="checkbox" id="report-language" name="report-checkbox" value="1"/>
                        <label for="report-language" class="label1 check">
                        </label>
                        <span>욕설/비방글</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-copyright" name="report-checkbox" value="2"/>
                        <label for="report-copyright" class="label2 check"></label>
                        <span>저작권 침해</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-adult" name="report-checkbox" value="3"/>
                        <label for="report-adult" class="label3 check"></label>
                        <span>음란성</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="false-maketing" name="report-checkbox" value="4"/>
                        <label for="false-maketing" class="label4 check"></label>
                        <span>불법 광고</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-info-honor" name="report-checkbox" value="5"/>
                        <label for="report-info-honor" class="label5 check"></label>
                        <span>개인정보 침해 및 명예훼손</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="reprot-disgust" name="report-checkbox" value="6"/>
                        <label for="reprot-disgust" class="label6 check"></label>
                        <span>폭력/잔인/혐오</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-castle" name="report-checkbox" value="7"/>
                        <label for="report-castle" class="label7 check"></label>
                        <span>도배성</span>
                    </div>
                </div>
            </form>
            <!--  -->

            <!-- 신고하기 버튼 -->
            <div class="report-button">
                <button type="submit" class="report-btn">신고하기</button>
            </div>
            <!--  -->
        </div>
    </div>
    <!--    -->
    <section class="sec1">
        <!-- 멘토 인증태그 가져오기 -->
        <div class="tag-wrap">
            <span class="tag" th:text="${career.subName}">@기타</span>
        </div>
        <!--        -->
        <!-- 유저 프로필 -->
        <div class="status-wrap">
            <div class="profile-box">
                <div class="icon-wrap">
                    <img th:if="${career.pfpSystemname == null}" class="icon-img" th:src="@{/img/profile-basic.png}">
                    <img th:unless="${career.pfpSystemname == null}" class="icon-img"
                         th:style="${'background-image: url(/profile/' + career.pfpUuid + '_' + career.pfpSystemname + ')'}">
                </div>
                <div class="text-wrap">
                    <div><span class="text-id" th:text="${career.userNickname}"></span></div>
                    <div><span class="text-date"
                               th:text="${#strings.substring(#strings.replace(career.careerInfoDate, '-', '.'), 0, 10)}"></span>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                                <span class="dropbtn_icon"> <svg data-v-bd9f2bcc="" data-v-3035bc76="" width="24"
                                                                 height="24" fill="black"
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 class="c-Applicatio c-icon"
                                                                 style="fill: rgb(148, 155, 160);"><circle
                                        data-v-bd9f2bcc="" cx="12" cy="5.5" r="1.5"></circle><circle data-v-bd9f2bcc=""
                                                                                                     cx="12" cy="12"
                                                                                                     r="1.5"></circle><circle
                                        data-v-bd9f2bcc="" cx="12" cy="18.5" r="1.5"></circle></svg></span>
                </button>
                <div class="dropdown-content" th:if="${session.userNumber == career.userNumber} and ${session.mentorNumber == career.mentorNumber}">
<!--                    <a class="detail-police-btn">신고</a>-->
                    <a class="detail-modify-btn" >수정</a>
                    <a class="detail-remove-btn">삭제</a>
                    <input class="careerinfo-num" type="hidden" th:value="${career.careerInfoNumber}">
                </div>
                <div class="dropdown-content" th:unless="${session.userNumber == career.userNumber} and ${session.mentorNumber == career.mentorNumber}">
                    <a class="detail-police-btn">신고</a>
<!--                    <a class="detail-modify-btn" >수정</a>-->
<!--                    <a class="detail-remove-btn">삭제</a>-->
                    <input class="careerinfo-num" type="hidden" th:value="${career.careerInfoNumber}">
                </div>
            </div>
        </div>
        <p class="view-line">
            <span class="view">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                 viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg>
    </span>
            <span class="view-count" th:text="${career.careerInfoCnt}"></span>
        </p>
        <div class="title" th:text="${career.careerInfoTitle}">
            <h1></h1>
        </div>
    </section>
    <div class="content-wrap">
        <div class="content" th:utext="${career.careerInfoContent}"></div>
    </div>
    <section class="sec3">
        <a name="target"></a>
        <div class="like-hate-wrap">
            <!--  유저가 이 글을 좋아요 했는지, 체크 careerInfoUserCnt-->
            <div class="like-btn">
                <div class="inner-wrap">
                    <div class="btn-img" th:data-num="${userLike}">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-heart like"
                                viewBox="0 0 16 16"
                                th:classappend="${userLike == 0 ? '' : 'none'}"
                        >
                            <path
                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                            />
                        </svg>

                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-heart-fill like"
                                viewBox="0 0 16 16"
                                th:classappend="${userLike == 0 ? 'none' : ''}"
                        >
                            <path
                                    fill-rule="evenodd"
                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                            />
                        </svg>

                    </div>
                    <div class="like-number" th:text="${careerInfoLikeCnt}"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec4">
        <div class="info-wrap">
            <div class="info-sub-wrap">
                <span class="info-text"> 🔊 여러분의 작은 관심이 큰 힘이 됩니다. 구체적이고 정성스러운 질문에 <strong>"좋아요♡" </strong>를 눌러주세요:) </span>
            </div>
        </div>
    </section>
    <section class="sec2">
        <div class="qna-wrap">
            <div class="qna-sub-wrap">
                <span class="qna-text">궁금한 내용을 확인하고 댓글과 추천을 남겨보세요!</span><br/><br/>
                <div class="qna-text-box">
                    <span class="qna-sub-text">간편하게 내용을 확인하고, <br/>조금 더 궁금한 사항을 댓글로 문의해보세요:)</span>
                </div>

            </div>
            <!--            <div class="qna-btn"><a href="#">댓글 남기러 가기</a></div>-->
        </div>
    </section>
    <div class="sec5">
        <div class="comment-form">
            <form id="comment-form">
                <input type="hidden" class="careerInfo-num" name="boardNumber" th:value="${career.careerInfoNumber}">
                <div class="form-group">
                    <textarea name="content" id="content" placeholder="댓글 내용을 입력하세요."></textarea>
                </div>
                <button type="button" class="submit-btn">댓글 작성</button>
            </form>
        </div>
        <div class="reply">
            <!-- careerInfoDetail.js 댓글 작성코드 참고! -->
        </div>
    </div>
</div>
<footer class="footer" th:replace="fragment/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<script th:src="@{/js/user/loginModal.js}"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/police/reportModal.js}"></script>
<script type="module" th:src="@{/js/careerInfo/careerInfoDetail.js}"></script>
<script th:inline="javascript">
    let loginNumber = [[${session.userNumber}]];
</script>
</body>
</html>
