<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindPassword</title>
    <link rel="stylesheet" href="/winwin/css/user/findPassword.css" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <main>
      <div class="find-pw-container">
        <div class="find-pw-wrap">
          <div class="find-pw-box">
            <h3>비밀번호 찾기</h3>
            <span>아이디</span>
            <input type="text" class="find-pw-input" placeholder="아이디 입력" />
            <span>휴대전화 인증</span>
            <input type="text" class="find-pw-input find-pw-certified-input" placeholder="휴대전화 번호 입력" />
            <button class="find-pw-certified">인증 요청</button>
            <input type="text" class="find-pw-input find-pw-certified-input" placeholder="인증 번호 입력" />
            <button class="find-pw-certified">확인</button>
          </div>
          <button class="find-pw-next"><span>다음</span></button>
        </div>
      </div>
    </main>
  </body>
</html>
