<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goal</title>
    <link rel="stylesheet" href="/winwin/css/user/goal.css" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <main>
      <div class="goal-container">
        <div class="goal-wrap">
          <div class="goal-box none" th:fragment="goal">
            <h3>어떤 목적으로 오셨나요?</h3>
            <h6>멘토 가입 시 추가 인증이 필요합니다.</h6>
            <input type="hidden" class="goal-mm-value" value="">
            <button type="button" class="goal-mm-btn btn1" id="goal-mentor" value="mentor" name="userPosition">MENTOR + MENTEE
<!--              <input type="hidden" name="userPosition" value="mentor" class="positionInput"/>-->
            </button>
            <button type="button" class="goal-mm-btn btn2" value="mentee" name="userPosition">MENTEE
<!--              <input type="hidden" name="userPosition" value="mentee" class="positionInput"/>-->
            </button>
          </div>
          <button type="button" class="goal-next"><span>다음</span></button>
        </div>
      </div>
    </main>
    <script
            th:src="@{https://code.jquery.com/jquery-3.6.3.js}"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/user/goal.js}"></script>
  </body>
</html>
