<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JoinTotal</title>
</head>
<body>

<div class="join-total" th:fragment="joinTotal">


<div class="self-box none" >
  <h3>본인 인증</h3>
  <h6>본인인증을 위해 필요한 정보를 입력해 주세요.</h6>
  <span id="self-first">이름</span>
  <input type="text" class="self-input" name="userName" placeholder="이름 입력" required/>
  <span>주민등록번호</span>
  <input type="text" class="self-input" id="self-number" name="userRrnumber" placeholder="주민번호 앞 6자리" required/>
  - <input type="text" id="self-gender" required/><span id="self-char">●●●●●●</span>
  <span>휴대전화 인증</span>
  <input type="text" class="self-input self-certified-input" name="userPhoneNumber" placeholder="휴대전화 번호 입력" required/>
  <button class="self-certified">인증 요청</button>
  <input type="text" class="self-input self-certified-input" placeholder="인증 번호 입력" required/>
  <button class="self-certified">확인</button>
</div>

<div class="join-box none">
  <h3>회원가입</h3>
  <span class="join-title" id="join-first">아이디</span>
  <input type="text" class="join-input" name="userId" placeholder="아이디 입력" required/>
  <span class="join-check-msg" id="join-check-id-msg"></span>
  <span class="join-title">비밀번호</span>
  <input
          type="text"
          class="join-input"
          id="join-pw-input"
          name="userPassword"
          placeholder="대문자/특수문자 포함 8자리 이상 입력해주세요."
          required
  />
  <span class="join-check-msg" id="join-check-pw-msg"></span>
  <span class="join-title">비밀번호 확인</span>
  <input type="text" class="join-input" id="join-pw-input2" placeholder="비밀번호 확인" />
  <span class="join-check-msg" id="join-check-pw-msg2"></span>
  <span class="join-title">이메일</span>
  <input type="text" class="join-input" name="userEmail" placeholder="이메일 입력" required/>
</div>

<div class="job-dep-box none">
  <h3>직무/학과</h3>
  <h6>관심있는 직무 또는 학과를 선택해 주세요.</h6>
  <!-- 1차 카테고리(직무/학과) -->
  <div class="select">
    <div class="selected">
      <div class="selected-value">1차 카테고리(선택)</div>
      <div class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
          <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
                  d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
          />
        </svg>
      </div>
    </div>
    <ul class="first-option-box" >
      <li class="option first-option-category1" value="1">직무</li>
      <li class="option first-option-category2" value="2">학과</li>
    </ul>
  </div>
  <!--  -->

  <!-- 2차 카테고리 직무별/학과별 카테고리 -->
  <div class="select">
    <div class="selected">
      <div class="selected-value">2차 카테고리(선택)</div>
      <div class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
          <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
                  d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
          />
        </svg>
      </div>
    </div>
    <!-- 2차 카테고리 직무일 때 -->
    <ul class="second-job-box">
      <!-- <li class="option second-job1">서비스업</li>
      <li class="option second-job2">의료/제약</li>
      <li class="option second-job3">제조/화학</li>
      <li class="option second-job4">판매/유통</li>
      <li class="option second-job5">IT/웹/통신</li>
      <li class="option second-job6">건설업</li>
      <li class="option second-job7">교육업</li>
      <li class="option second-job8">미디어/디자인</li>
      <li class="option second-job9">은행/금융업</li>
      <li class="option second-job10">기관/협회</li> -->
    </ul>
    <!--  -->
  </div>
  <!--  -->

  <!-- 3차 카테고리 -->
  <div class="select">
    <div class="selected">
      <div class="selected-value">3차 카테고리(선택)</div>
      <div class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
          <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
                  d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
          />
        </svg>
      </div>
    </div>

    <!-- 2차 카테고리 직무 선택시 3차 소분류 -->
    <ul class="third-job-box">
      <!-- <li class="option thrid-job-smallcategory1 service-job" value="1">서비스업1</li>
      <li class="option thrid-job-smallcategory2 service-job" value="2">서비스업2</li>
      <li class="option thrid-job-smallcategory3 service-job" value="3">서비스업3</li>
      <li class="option thrid-job-smallcategory4 service-job" value="4">서비스업4</li>
      <li class="option thrid-job-smallcategory5 service-job" value="5">서비스업5</li>
      <li class="option thrid-job-smallcategory6 service-job" value="6">서비스업6</li>
      <li class="option thrid-job-smallcategory7 service-job" value="7">서비스업7</li>
      <li class="option thrid-job-smallcategory8 service-job" value="8">서비스업8</li>
      <li class="option thrid-job-smallcategory9 service-job" value="9">서비스업9</li>
      <li class="option thrid-job-smallcategory10 service-job" value="10">서비스업10</li> -->
    </ul>
  </div>
  <!--  -->

  <!-- 1, 2, 3차 카테고리 선택 시 태그 출력 -->
  <div class="tag-wrap">
    <div class="select-tag">
      <!-- <span class="tag">@계열1</span>
      <span class="tag">@계열2</span>
      <span class="tag">@계열3</span> -->
    </div>
  </div>
  <!--  -->
</div>

<div class="goal-box none">
  <h3>어떤 목적으로 오셨나요?</h3>
  <h6>멘토 가입 시 추가 인증이 필요합니다.</h6>
  <button type="button" class="goal-mm-btn btn1" id="goal-mentor">MENTOR</button>
  <button type="button" class="goal-mm-btn btn2">MENTEE</button>
  <button type="button" class="goal-mm-btn btn3">MENTOR + MENTEE</button>
</div>

<div class="identity-belong-box none">
  <h3>어디에 소속되어 있나요?</h3>
  <h6>당신의 재능으로</h6>
  <h6>멘티들의 고민을 해결해 주세요!</h6>
  <select name="identity-belong" id="identity-belong">
    <option name="userIdentity" value="identity-office-worker" >직장인</option>
    <option name="userIdentity" value="identity-university-student" >대학생</option>
  </select>
  <select name="identity-business-type" id="identity-business-type">
    <option value="1">it개발</option>
    <option value="2">디자인</option>
  </select>
</div>

<div class="mentor-goal-box none" >
  <h3>직장인 인증서류 확인</h3>
  <h6>경력을 증명해 주세요!</h6>
  <hr class="mentor-goal-hr" />
  <input
          type="file"
          id="mentor-goal-file"
          accept=".jpg, .jpeg, .png, .bmp, .pdf, .ppt, .hwp, .xlsx, .txt"
          multiple
  />
  <label for="mentor-goal-file" id="mentor-goal-label">┾ 파일 첨부하기 (최대 2개)</label>
  <hr class="mentor-goal-hr" />
  <div class="mentor-goal-name-box">
              <span class="mentor-goal-file-name mentor-goal-none mentor-goal-name1"
              ><span class="mentor-goal-file-name1">파일명</span>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="mentor-goal-bi bi-trash3"
                        viewBox="0 0 16 16"
                >
                  <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                  /></svg
                ></span>
  </div>
  <div class="mentor-goal-name-box">
              <span class="mentor-goal-file-name mentor-goal-none mentor-goal-name2"
              ><span class="mentor-goal-file-name2">파일명</span>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="mentor-goal-bi bi-trash3"
                        viewBox="0 0 16 16"
                >
                  <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                  /></svg
                ></span>
  </div>
  <div class="mentor-goal-preview"></div>
  <div class="mentor-goal-text">
    <span id="mentor-goal-file-span">재직 증명 서류를 첨부해 주세요.</span>
    <span id="mentor-goal-file-delete">첨부해주신 서류는 인증 완료 후 자동 파기됩니다.</span>
  </div>
  <div class="mentor-goal-info">
    <span id="mentor-goal-icon">📌</span>
    <span>'신분증(사본)+사원증/명함' 또는 '재직증명서'만 가능해요! *주민등록번호는 가려주세요.</span>
  </div>
</div>

<div class="mentor-goal-2-box none">
  <h3>대학생 인증서류 확인</h3>
  <h6>학력을 증명해 주세요!</h6>
  <hr class="mentor-goal-2-hr" />
  <input
          type="file"
          id="mentor-goal-2-file"
          accept=".jpg, .jpeg, .png, .bmp, .pdf, .ppt, .hwp, .xlsx, .txt"
          multiple
  />
  <label for="mentor-goal-2-file" id="mentor-goal-2-label">┾ 파일 첨부하기 (최대 2개)</label>
  <hr class="mentor-goal-2-hr" />
  <div class="mentor-goal-2-name-box">
              <span class="mentor-goal-2-file-name mentor-goal-2-none mentor-goal-2-name1"
              ><span class="mentor-goal-2-file-name1">파일명</span>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="mentor-goal-2-bi bi-trash2"
                        viewBox="0 0 16 16"
                >
                  <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                  /></svg
                ></span>
  </div>
  <div class="mentor-goal-2-name-box">
              <span class="mentor-goal-2-file-name mentor-goal-2-none mentor-goal-2-name2"
              ><span class="mentor-goal-2-file-name2">파일명</span>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="mentor-goal-2-bi bi-trash2"
                        viewBox="0 0 16 16"
                >
                  <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                  /></svg
                ></span>
  </div>
  <div class="mentor-goal-2-preview"></div>
  <div class="mentor-goal-2-text">
    <span id="mentor-goal-2-file-span">재학 증명 서류를 첨부해 주세요.</span>
    <span id="mentor-goal-2-file-delete">첨부해주신 서류는 인증 완료 후 자동 파기됩니다.</span>
  </div>
  <div class="mentor-goal-2-info">
    <span id="mentor-goal-2-icon">📌</span>
    <span>'신분증(사본)+학생증' 또는 '재학증명서'만 가능해요! *주민등록번호는 가려주세요.</span>
  </div>
</div>

</div>
</body>
</html>