<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/winwin/css/user/login.css" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
    <title>Login</title>
    <link rel="stylesheet" href="../springProject/login.css" />
  </head>
  <body>
    <main>
      <div class="login-container">
        <div class="login-wrap">
          <div class="login-box" th:fragment="login">
            <img th:src="@{/img/winwin-logo.png}" alt="" />
            <h4>안녕하세요.</h4>
            <h4>WinWin입니다.</h4>
            <input type="text" class="login-input" id="login-id" placeholder="아이디" />
            <input type="text" class="login-input" id="login-password" placeholder="비밀번호" />
            <div class="login-page-wrap">
              <div class="login-page-move">
                <a href="" class="find-id-link">아이디 찾기&nbsp;&nbsp;&nbsp;&nbsp; |</a
                ><a href="" class="find-pw-link">비밀번호 찾기&nbsp;&nbsp;&nbsp;&nbsp; | </a>
                <a href="" class="join-link">회원가입</a>
              </div>
            </div>
            <div class="login-kakao-btn">
              <button class="login-kakao">
                <img th:src="@{/img/kakao.png}" alt="" />
                <span>카카오 로그인</span>
              </button>
            </div>
          </div>
          <button class="login-next"><span>다음</span></button>
        </div>
      </div>
    </main>
  </body>
</html>
