<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
    <link rel="stylesheet" href="/winwin/css/user/message.css" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <main>
      <div class="message-container">
        <div class="message-wrap">
          <div class="message-box none" th:fragment="message">
            <div class="message-img"><span>📬</span></div>
            <span>아이디 또는 비밀번호가</span>
            <span>문자로 발송되었습니다.</span>
          </div>
          <button class="message-next"><span>로그인 하기</span></button>
        </div>
      </div>
    </main>
  </body>
</html>
