<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SelfCheck</title>
    <link rel="stylesheet" href="/winwin/css/user/selfCheck.css" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <main>
      <div class="self-container">
        <div class="self-wrap">
          <div class="self-box none" th:fragment="selfCheck">
            <h3>본인 인증</h3>
            <h6>본인인증을 위해 필요한 정보를 입력해 주세요.</h6>
            <span id="self-first" class="title-name">이름</span>
            <input type="text" class="self-input" id="user-name" name="userName" placeholder="이름 입력" required/>
            <span id="user-name-msg"  class="self-msg"></span>
            <span class="title-name">주민등록번호</span>
            <input type="text" maxlength="6" class="self-input" id="self-number" name="userRrnumber" placeholder="주민번호 앞 6자리" required/>
            - <input type="text" maxlength="1" id="self-gender" required/>
              <span id="self-char">●●●●●●</span>
              <span id="user-rrnumber-msg"  class="self-msg"></span>
            <span class="title-name">신원</span>
            <div class="identity-radio">
              직장인&nbsp&nbsp<input type="radio" class="radioInput" name="identity" value="identity-worker" checked/>
              대학생&nbsp&nbsp<input type="radio" class="radioInput" name="identity" value="identity-un-student"/>
              고등학생&nbsp&nbsp<input type="radio" class="radioInput" name="identity" value="identity-high-student"/>
            </div>
            <span class="title-name">휴대전화 인증</span>
            <input type="text" maxlength="11" class="self-input self-certified-input" id="userPhoneNumber" name="userPhoneNumber" placeholder="하이픈(-)은 빼고 입력해 주세요." required/>
            <button type="button" class="self-certified" id="sms-check">인증 요청</button>
            <span class="self-timer-wrap">
              <input type="text" maxlength="6" class="self-input self-certified-input" id="userVerification" placeholder="인증 번호 입력" required/>
              <span class="self-timer"></span>
            </span>
            <button type="button" class="self-certified-check" id="self-check-number">확인</button>
              <span type="button" id="user-phone-msg"  class="self-msg"></span>
          </div>
          <button class="self-next"><span>다음</span></button>
        </div>
      </div>
    </main>
  </body>
</html>
