<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="/winwin/css/user/signUp.css" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
    <style>
      body {
        font-family: "NanumSquareLight";
        font-family: "NanumSquare";
        font-family: "NanumSquareBold";
        font-family: "NanumSquareExtraBold";
        font-family: "NanumSquareAcb";
        font-family: "NanumSquareAceb";
        font-family: "NanumSquareAcl";
        font-family: "NanumSquareAcr";
      }
    </style>
  </head>
  <body>
    <main>
      <div class="sign-container">
        <div class="sign-wrap">
          <div class="sign-box">
            <div class="sign-img"><span>🎉</span></div>
            <span>축하합니다 ! </span>
            <span>가입이 완료되었습니다.</span>
          </div>
          <button class="sign-next"><span>로그인 하기</span></button>
        </div>
      </div>
    </main>
  </body>
</html>
