<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.winwin.mapper.user.UserMapper">

    <!--회원가입-->
    <insert id="join">
        <selectKey keyProperty="userNumber" order="BEFORE" resultType="Long">
            SELECT SEQ_WWUSER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO WW_USER (USER_NUMBER, USER_NAME, USER_ID, USER_PASSWORD, USER_EMAIL, USER_RRNUMBER, USER_NICKNAME,
        USER_PHONE_NUMBER, USER_BELONG, USER_GENDER, USER_IDENTITY, USER_POSITION)
        VALUES (#{userNumber}, #{userName}, #{userId}, #{userPassword}, #{userEmail}, #{userRrnumber}, #{userNickname},
        #{userPhoneNumber}, #{userBelong},
        <trim suffix=",">
            <if test="userGender == 1 or userGender == 3">
                '남'
            </if>
            <if test="userGender == 2 or userGender == 4">
                '여'
            </if>
        </trim>
        <trim suffix=",">
            <if test="userIdentity.equals('identity-worker')">
                '직장인'
            </if>
            <if test="userIdentity.equals('identity-un-student')">
                '대학생'
            </if>
            <if test="userIdentity.equals('identity-high-student')">
                '고등학생'
            </if>
        </trim>
        <trim suffix=")">
            <if test="userPosition.equals('mentor')">
                '멘토'
            </if>
            <if test="userPosition.equals('mentee')">
                '멘티'
            </if>
        </trim>
    </insert>

    <!--로그인-->
    <select id="login" resultType="long">
        SELECT USER_NUMBER, USER_WING
        FROM WW_USER
        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>

    <!--회원번호로 이름, 윙 갯수, 상태 조회-->
    <select id="findUserInfo" resultType="userDto">
        SELECT USER_NICKNAME, USER_WING, USER_STATUS , USER_POSITION
        FROM WW_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <!-- 아이디 중복 체크 -->
    <select id="checkId" resultType="_int">
        SELECT COUNT (*)
        FROM WW_USER
        WHERE USER_ID = #{userId}
    </select>

    <!-- 닉네임 중복 체크 -->
    <select id="checkNickname" resultType="_int">
        SELECT COUNT (*)
        FROM WW_USER
        WHERE USER_NICKNAME = #{userNickname}
    </select>

<!--    <insert id="mentorInsert">-->
<!--        INSERT INTO MENTOR (MENTOR_NUMBER, MENTOR_STATUS, USER_NUMBER, SUB_NUMBER)-->
<!--        VALUES ();-->
<!--    </insert>-->

    <!-- 관심분야 카테고리 -->
    <select id="categoryH" resultType="categoryVo">
        SELECT *
        FROM MAIN_CATEGORY mc
        WHERE MAIN_CODE LIKE '1__'
    </select>

    <select id="categoryJ" resultType="categoryVo">
        SELECT *
        FROM MAIN_CATEGORY mc
        WHERE MAIN_CODE LIKE '2__'
    </select>

    <select id="subCategory" resultType="categoryVo">
        SELECT *
        FROM SUB_CATEGORY sc
        WHERE main_code = #{mainCode}
    </select>

    <!-- 관심분야 태그 bridge -->
    <insert id="categoryBridge">
        <selectKey keyProperty="bridgeNumber" order="BEFORE" resultType="Long">
            SELECT SEQ_BRIDGE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO SU_BRIDGE (BRIDGE_NUMBER, SUB_NUMBER, USER_NUMBER)
        VALUES (#{bridgeNumber}, #{subNumber}, #{userNumber})
    </insert>

    <!-- 회원가입 시 멘토테이블 등록 -->
    <insert id="joinMentor">
        <selectKey keyProperty="mentorNumber" order="BEFORE" resultType="Long">
            SELECT SEQ_MENTOR.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO MENTOR (MENTOR_NUMBER, USER_NUMBER, SUB_NUMBER)
        VALUES (#{mentorNumber}, #{userNumber}, #{certificationNumber})
    </insert>

    <!-- 회원가입 시 프로필 테이블 등록-->
<!--    <insert id="joinPfp">-->
<!--        <selectKey keyProperty="pfpNumber" order="BEFORE" resultType="Long">-->
<!--            SELECT SEQ_USERPFP.NEXTVAL FROM DUAL-->
<!--        </selectKey>-->
<!--        INSERT INTO USER_PFP (PFP_NUMBER, PFP_UPLOAD_PATH, PFP_SYSTEM_NAME, PFP_UUID, USER_NUMBER)-->
<!--        VALUES (#{pfpNumber}, #{pfpUploadPath}, #{pfpSystemName}, #{pfpUuid}, #{userNumber})-->
<!--    </insert>-->

    <!-- 인증 태그 -->
    <select id="certificationH" resultType="userCategoryVo">
        SELECT *
        FROM MAIN_CATEGORY
        WHERE MAIN_CODE LIKE '1__'
    </select>

    <select id="certificationJ" resultType="userCategoryVo">
        SELECT *
        FROM MAIN_CATEGORY
        WHERE MAIN_CODE LIKE '2__'
    </select>

    <select id="certificationSub" resultType="userCategoryVo">
        SELECT *
        FROM SUB_CATEGORY sc
        WHERE main_code = #{mainCode}
    </select>

    <!-- 아이디 찾기 -->
    <select id="findId" resultType="String">
        SELECT USER_ID
        FROM WW_USER
        WHERE USER_NAME = #{userName} AND USER_PHONE_NUMBER = #{userPhoneNumber}
    </select>

    <!-- 비밀번호 찾기 -->
    <select id="findPw" resultType="String">
        SELECT USER_PASSWORD
        FROM WW_USER
        WHERE USER_ID = #{userId} AND USER_PHONE_NUMBER = #{userPhoneNumber}
    </select>

<!--    회원 보유 윙 수정-->
    <update id="updateUserWing">
        UPDATE WW_USER
        SET USER_WING = USER_WING + #{wingAmount}
        WHERE USER_NUMBER = #{userNumber}
    </update>
</mapper>