*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.big-box{
    margin: auto;
}

.head{
    width: 600px;
}

.smallTitle{
    margin: 25px 35px;
    padding: 2px 0;
    background-color: #efeeee;
    font-size: 11px;
    color: gray;
    border-radius: 3.5px;
    width: 90px;
    text-align: center;
    height: 20px;
    font-weight: bold;
}

.smallTitle p {
    margin: 2.5px;
    padding: 1px 0 2px 0;
}

.Title{
    margin: 0 35px;
}

.blueTitle{
    height: 50px;
}

.blueTitle>h3{
    font-size: 20px;
    color: rgb(22, 163, 74);
    font-weight: 600;
}

h3>span{
    color: black;
}

.justTitle{
    display: flex;
    font-size: 10px;
    margin-top: 15px;
}

.cnt{
    margin: 0 4.5px;
    display: flex;
}

.cnt span{
    margin: 6px 1.5px;
}

.cnt p{
    margin-top: 2.5px;
}

.chatting{
    display: flex;
}

.chatting span{
    margin: 7px 5px;
}

.chatting p{
    margin-top: 2px;
}

p>span{
    font-weight: bold;
}

.date p{
    margin-top: 3px;
}

.bi-eye{
    margin-top: -23px;
}

.bi-chat-dots{
    margin-top: -21px;
}

.first-box{
    margin: 30px 35px;
}

.icon{
    font-size: 15px;
}

.comment{
    font-size: 14px;
    line-height: 23px;
}

.second-box{
    margin: 30px 35px;
    height: 75px;
}

.recruitment{
    font-size: 14px;
}

.recruitment p{
    margin-top: 4px;
}

.third-box{
    margin: 30px 35px;
    height: 75px;
}
.other-box{
    font-weight: bold;
    text-decoration-line: none;
    font-size: 17px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.fourth-box{
    margin: 30px 35px;
    height: 75px;
}

.radioButton{
    display: flex;
    margin-top: 13px;
}

.radioButton p{
    font-size: 11px;
}

.time{
    display: flex;
    margin-top: 13px;
}

.time p{
    font-size: 11px;
    margin: 2px 15px;
}

.fifth-box{
    margin: 0 35px;
}

.content{
    white-space: pre-wrap;
}

.content p{
    margin-left: -31px;
    margin-top: -25px;
    font-size: 14px;
    line-height: 23px;
}

.last-box{
    border-radius: 3.5px;
    background-color: #eff3f8;
    width: 1000px;
    margin: 0 25px;
}

.last-big-box{
    background-color: #eff3f8;
}

.lastTitle{
    display: flex;
    margin-left: 11px;
    justify-content: space-between;
}

.lastTitle h3{
    font-size: 17px;
    margin-top: 15px;
}

.viewAll{
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.next p{
    font-size: 11px;
    margin: 16.5px 0;
    cursor: pointer;
}

.next-button{
    border: none;
    cursor: pointer;
    background-color: #eff3f8;
    font-weight: 700;
    font-size: 16px;
}

.prev{
    cursor: pointer;
    border: none;
    background-color: #eff3f8;
}

.next2{
    cursor: pointer;
    border: none;
    background-color: #eff3f8;
}

.icon2{
    display: flex;
    margin: 17px 25px 0px 34px;
}

.empty-box{
    width: 10px;
}

.otherProject{
    display: flex;
    overflow: hidden;
    width: 960px;
    margin: auto;
}

.otherProject-box{
    display: flex;
    transition: 0.5s;
}

.front{
    background-color: #fff;
    margin: 30px 35px;
    border-radius: 5px;
    width: 480px;
    padding: 20px;
}
.content{
    line-height: 1.5;
    font-size: 15px;
}

.study-tag{
    background-color: #efeeee;
    padding: 3px 10px;
    font-size: 11px;
    border-radius: 3px;
    color: gray;
    font-weight: 600;
}

.bigTitle h3{
    font-size: 17px;
    margin: 15px 0px;
}

.lastContent{
    margin: 15px 0px;
    height: 90px;
    width: 390px;
}


.lastContent p{
    color: #5e5e5e;
    font-size: 13px;
    line-height: 1.5;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.sentence{
    font-size: 12px;
}

.icon3{
    display: flex;
}

.icon3 p{
    font-size: 12px;
    font-weight: 600;
}

.profil{
    width: 400px;
    position: sticky;
    top: 6rem;
    padding-bottom: 15px;
}

.profil-box{
    background-color: #f0f0f0;
    width: 250px;
    margin: auto;
    border-radius: 3px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profil-box img{
    border-radius: 70%;
    margin: 20px 95px;
}

.name{
    font-weight: bold;
    white-space: nowrap;
}
.nickname-box{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.department{
    font-size: 11px;
    margin: 13px 102px;
}

.profil-box2{
    margin: 0 75px;
}

.box1{
    display: flex;
}

.chat-box{
    width: 250px;
    margin: 10px 0;
    text-align: center;
    height: 40px;
    cursor: pointer;
    background-color: #1b5192;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 11px;
}

.Like{
    width: 250px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    font-family: 'abc';
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid #1b5192;
}

.Like span{
    font-weight: bold;
    margin-left: -5px;
}

.bi-heart{
    margin: -2px 2px;
    color: black;
}

.hide{
    display: none;
    margin: -2px 2px;
    color: black;
}

.bi-heart-fill{
    margin: -4px 6px;
    color: black;
}

.dropdown{
    position: absolute;
    display: inline-block;
    margin-left: 570px;
    margin-top: -7px;
}

.dropbtn{
    border: none;
    background-color: white;
    font-weight: 400;
    color : rgb(37, 37, 37);
    padding : 5px;
    text-align: left;
    cursor : pointer;
    font-size : 12px;
}
.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 100px;
    font-weight: bold;
    border-radius: 3.5px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 10px 20px;
    cursor: pointer;
}

.dropdown-content a:hover{
    background-color : #ececec
}

.dropdown:hover .dropdown-content {
    display: block;
}
.otherLike{
    font-size: 13px;
    color: rgb(148, 163, 184);
    font-weight: 600;
    display: flex;
}
.otherLike> span{
    margin-inline-start: 0.25em;
}