* {
    margin: 0px;
    padding: 0px;
  }

a{
  color: black;
}

  .wrap {
    display: flex;
    justify-content: center;
  }
  
  .container {
    width: 1050px;
    display: flex;
  }
  
  .side-container {
    width: 220px;
    padding: 20px;
  }
  
  .profile-icon {
    cursor: pointer;
  }
  
  .pfp-icon-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  
  #profile-img-upload {
    display: none;
  }
  
  .profile-img > label {
    cursor: pointer;
  }
  
  .profile-wrap {
    display: flex;
    margin: 5px;
  }
  
  .user-name {
    display: block;
    padding-top: 8px;
    margin-left: 10px;
    font-weight: 700;
    color: black;
  }
  
  .user-email {
    display: block;
    margin-left: 10px;
    margin-top: 3px;
    color: rgb(118, 125, 130);
    font-size: 14px;
  }
  
  .user-email > img {
    width: 15px;
    border-radius: 50%;
  }
  
  /* 사이드 바 */
  .list {
    margin-top: 50px;
    margin-left: 25px;
  }
  
  .list > a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    margin-bottom: 25px;
  }
  
  #point-list-3 {
    font-weight: 700;
  }
  
  .list > a:hover {
    font-weight: 700;
  }
  
  .list-plus {
    margin-top: 20px;
  }
  
  hr {
    width: 90%;
    border: 1px solid #ddd;
  }
  
  .sub-category {
    margin: 15px 15px 15px 340px;
  }
  
  .sub-category > span {
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
    color: #000;
  }
  
  #sub-point {
    font-weight: 700;
  }
  
  /* =========================================================== */
  .mypage-main {
    width: 700px;
    padding: 30px 0px;
    margin-left: 250px;
    min-height: 450px;
  }
  
  .category {
    margin-top: 30px;
    display: flex;
  }
  
  .category-contain {
    height: 39px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .category-contain > h4 {
    color: #9e9e9e;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }

.category-contain > h4:hover{
  margin-top: -1px;
}
  
  #point-page {
    border-bottom: 3px solid #000;
    color: #000;
  }
  
  .category-contain:hover {
    color: #000;
    background-color: rgba(198, 198, 198, 0.251);
    border-radius: 5px;
  }
  
  .page-move {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
  }

  /* =============================== */
  /* 작성 글이 없을 때 */
  .community-main-box {
    margin-top: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  
  .community-main-box > span {
    line-height: 28px;
    text-align: center;
    color: #8f8f8f;
  }
  
  .page-move-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  button {
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #d4e5f9;
    color: #2a7de1;
    font-weight: 500;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c4dcf6;
  }

  /*======================================================*/
  /* 나눔 글들 */

.give-box{
  display: flex;
  width: 650px;
  /* height: 150px; */
  border: 1px solid#ddd;
  border-radius: 5px;
  padding: 15px 15px 15px 20px;
  cursor: pointer;
}

.give-img-box{
  width: 110px;
  height: 110px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.give-img-box>img{
  width: 110px;
}

.img-box{
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 50px;
  background-size: cover;
}

.give-wrap{
  padding: 15px 5px 0px 5px;
  width: 510px;
}

.give-title-box{
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;

}

.give-title{
  text-overflow: ellipsis;
  /* line-height: 1.5; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.give-status{
  display: block;
}

.give-status-box{
  display: flex;
}

.give-content{
  font-size: 13px;
  font-weight: lighter;
  color: gray;
  margin: 15px 0px;
  line-height: 1.5;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.give-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.give-count{
  color: rgb(148, 155, 160);
  font-size: 13px;
  margin-left: 3px;
  display: block;
}

.give-icon{
  display: flex;
  align-items: center;
}

.give-date{
  font-size: 13px;
  color: rgb(148, 155, 160);
  display: block;
}

.give-click{
  display: block;
}

.give-container{
  padding: 10px 0px;
}

/* 내가 작성한 나눔글이 없을경우 */
.community-main-box-size {
  margin-top: 100px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
}

.community-main-box-size > span {
  line-height: 28px;
  text-align: center;
  color: #8f8f8f;
}

.page-move-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 10px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #d4e5f9;
  color: #2a7de1;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: #c4dcf6;
}








