* {
    margin: 0px;
    padding: 0px;
}

a{
    color: black;
}

.wrap {
    display: flex;
    justify-content: center;
}

.container {
    width: 1050px;
    display: flex;
}

.side-container {
    width: 220px;
    padding: 20px;
}

.profile-icon {
    cursor: pointer;
}

.pfp-icon-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#profile-img-upload {
    display: none;
}

.profile-img > label {
    cursor: pointer;
}

.profile-wrap {
    display: flex;
    margin: 5px;
}

.user-name {
    display: block;
    padding-top: 8px;
    margin-left: 10px;
    font-weight: 700;
    color: black;
}

.user-email {
    display: block;
    margin-left: 10px;
    margin-top: 3px;
    color: rgb(118, 125, 130);
    font-size: 14px;
}

.user-email > img {
    width: 15px;
    border-radius: 50%;
}

/* 사이드 바 */
.list {
    margin-top: 50px;
    margin-left: 25px;
}

.list > a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    margin-bottom: 25px;
}

#point-list-3 {
    font-weight: 700;
}

.list > a:hover {
    font-weight: 700;
}

.list-plus {
    margin-top: 20px;
}

hr {
    width: 90%;
    border: 1px solid #ddd;
}

.sub-category {
    margin: 15px 15px 15px 109px;
}

.sub-category > span {
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
    color: #000;
}

.sub-category a {
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
    color: #000;
}

#sub-point {
    font-weight: 700;
}

/* =========================================================== */
.mypage-main {
    width: 700px;
    padding: 30px 0px;
    margin-left: 250px;
    min-height: 450px;
}

.category {
    margin-top: 30px;
    display: flex;
}

.category-contain {
    height: 39px;
    margin-right: 20px;
    cursor: pointer;
}

.category-contain > h4 {
    color: #9e9e9e;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

#point-page {
    border-bottom: 3px solid #000;
    color: #000;
}

/*.category-contain > h4:hover {*/
/*  margin-top: 1px;*/
/*}*/

/*.category h4:hover{*/
/*  margin-top: 1px;*/
/*}*/

.category-contain:hover {
    color: #000;
    background-color: rgba(198, 198, 198, 0.251);
    border-radius: 5px;
    margin-top: -1px;
}

.page-move {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
}

/* =============================== */
/* 내 글들 */

.community-main-box {
    padding: 10px 0 10px 0;
    display: block;
    color: black;
}

.community-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    /* height: 150px; */
    border: 1px solid#ddd;
    border-radius: 5px;
    padding: 15px 15px 15px 20px;
    cursor: pointer;
}

.user-identity {
    background-color: rgb(242, 242, 242);
    border-radius: 2px;
    font-size: 10px;
    padding: 3px;
    color: #5e5e5e;
    font-weight: 600;
    padding: 3px 10px;
}

.community-title {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.community-content {
    font-size: 13px;
    font-weight: lighter;
    color: gray;
    margin: 15px 0px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.community-sub-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: -12px;*/
}

.community-btn {
    display: flex;
    align-items: center;
}

.icon{
    display: flex;
    margin: 0 180px;
    height: 40px;
}

.read-count{
    display: flex;
    align-items: center;
    margin-right: 10px;
    /*height: 17px;*/
}

.readCount-btn{
    background-color: white;
    border: none;
    width: 10px;
    margin: 24px 10px;
    cursor: pointer;
}

.readCount-num{
    color: rgb(148, 155, 160);
    /*margin: 27px 8px;*/
    font-size: 13px;
    /*margin-top: 2px;*/
    margin-left: 3px;
}

.readCount-num p{
    margin: 0px -2px;
}

.check{
    display: flex;
    align-items: center;
    margin-right: 10px;
    /*margin-top: 1.5px;*/
    /*margin-left: -13px;*/
    /*height: 10px;*/
}

.check-btn{
    background-color: white;
    border: none;
    width: 10px;
    margin: 23px 18px;
    cursor: pointer;
}

.checkCnt{
    color: rgb(148, 155, 160);
    /*margin: -13px -2px;*/
    font-size: 13px;
    margin-left: 3px;
}

.checkCnt > p {
    /*margin: 38.5px -4px;*/
}

.hide{
    display: none;
}

.like{
    display: flex;
    align-items: center;
    margin-right: 10px;
    /*margin-top: -11px;*/
    /*margin-left: 11px;*/
}

.like-btn{
    border: none;
    background: none;
    /*margin: 33px 5px;*/
    cursor: pointer;
}

.likeCnt{
    font-size: 13px;
    color: rgb(148, 155, 160);
    margin-left: 3px;
    /*margin: 38px -1px;*/
}

.good{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.goodCnt{
    font-size: 13px;
    color: rgb(148, 155, 160);
    margin-left: 3px;
}
/* svg 아이콘 ================================ */

.date{
    /*margin: 27px 406px;*/
    font-size: 13px;
    color: rgb(148, 155, 160);
}


/* 내 글들 */

/* 내가 작성한 QnA가 없을경우 */
.community-main-box-size {
    margin-top: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
}

.community-main-box-size > span {
    line-height: 28px;
    text-align: center;
    color: #8f8f8f;
}

.page-move-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #d4e5f9;
    color: #2a7de1;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #c4dcf6;
}

