* {
    margin: 0px;
    padding: 0px;
}

.wrap {
    display: flex;
    justify-content: center;
}

.container {
    width: 1050px;
    display: flex;
}

/*전체 사이드바*/
.side-container {
    width: 220px;
    padding: 20px;
}

.profile-icon {
    cursor: pointer;
}

.pfp-icon-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#profile-img-upload {
    display: none;
}

.profile-img > label {
    cursor: pointer;
}

.profile-wrap {
    display: flex;
    margin: 5px;
}

.user-name {
    display: block;
    padding-top: 8px;
    margin-left: 10px;
    font-weight: 700;
    color: black;
}

.user-email {
    display: block;
    margin-left: 10px;
    margin-top: 3px;
    color: rgb(118, 125, 130);
    font-size: 14px;
}

.user-email > img {
    width: 15px;
    border-radius: 50%;
}

/* 사이드 바 */
.list {
    margin-top: 50px;
    margin-left: 25px;
}

.list > a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    margin-bottom: 25px;
}

#point-list-3 {
    font-weight: 700;
}

.list > a:hover {
    font-weight: 700;
}

.list-plus {
    margin-top: 20px;
}

hr {
    width: 90%;
    border: 1px solid #ddd;
}

.sub-category {
    margin: 15px 15px 15px 190px;
}

.sub-category > span {
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
    color: #000;
}

.sub-category a {
    cursor: pointer;
    font-size: 14px;
    color: #000;
}

#sub-point {
    font-weight: 700;
}

/* =========================================================== */
.mypage-main {
    width: 700px;
    padding: 30px 0px;
    margin-left: 250px;
    min-height: 450px;
}

.category {
    margin-top: 30px;
    display: flex;
}

.category-contain {
    height: 39px;
    margin-right: 20px;
    cursor: pointer;
}

.category-contain > h4 {
    color: #9e9e9e;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

#point-page {
    border-bottom: 3px solid #000;
    color: #000;
}

.category-contain:hover {
    color: #000;
    background-color: rgba(198, 198, 198, 0.251);
    border-radius: 5px;
}

.page-move {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
}


/* =============================== */
/* 작성 글이 없을 때 */
.community-main-box {
    margin-top: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.community-main-box > span {
    line-height: 28px;
    text-align: center;
    color: #8f8f8f;
}

.page-move-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #d4e5f9;
    color: #2a7de1;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #c4dcf6;
}

/* =========================================== */
/* 내 댓글 목록들 */
.commu-move{
    display: block;
    padding: 10px 0px;
    cursor: pointer;
}

.reply-box {
    width: 650px;
    border-radius: 5px;
    border: 1px solid #ddd;
     padding: 15px 15px 15px 20px;
}

.reply-content {
    line-height: 40px;
    font-size: 16px;
    display: block;
}

.reply-title {
    font-size: 18px;
    font-weight: 700;
    /* display: block; */
}

.reply-bottom > span {
    display: block;
    font-size: 13px;
    color: #7e7e7e;
}

.commu-tag{
    background-color: rgb(242, 242, 242);
    border-radius: 2px;
    font-size: 10px;
    padding: 3px;
    color: #5e5e5e;
    font-weight: 600;
    padding: 3px 10px;
}

.commu-title{
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000;
    text-overflow: ellipsis;
    /*line-height: 1.5;*/
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.commu-content{
    font-size: 13px;
    color: gray;
    margin: 15px 0px;
    text-overflow: ellipsis;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.commu-bottom{
    display: flex;
    justify-content: space-between;
}

.commu-icon{
    display: flex;
}

.commu-good,
.commu-date,
.commu-no-good{
    color: rgb(148, 155, 160);
    font-size: 13px;
    margin-left: 3px;
    display: block;
}

.commu-good-box,
.commu-no-good-box{
    display: flex;
}

.commu-no-good-box{
    margin-left: 5px;
}

/* 내가 작성한 커뮤니티 댓글 없을경우 */
.community-main-box-size {
    margin-top: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
}

.community-main-box-size > span {
    line-height: 28px;
    text-align: center;
    color: #8f8f8f;
}

.page-move-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #d4e5f9;
    color: #2a7de1;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #c4dcf6;
}












