* {
  margin: 0px;
  padding: 0px;
}

.wrap {
  display: flex;
  justify-content: center;
}

.container {
  width: 1050px;
  display: flex;
}

.side-container {
  width: 220px;
  padding: 20px;
}

.profile-icon {
  cursor: pointer;
}

.pfp-icon-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#profile-img-upload {
  display: none;
}

.profile-img > label {
  cursor: pointer;
}

.profile-wrap {
  display: flex;
  margin: 5px;
}

.user-name {
  display: block;
  padding-top: 8px;
  margin-left: 10px;
  font-weight: 700;
}

.user-email {
  display: block;
  margin-left: 10px;
  margin-top: 3px;
  color: rgb(118, 125, 130);
  font-size: 14px;
}

.user-email > img {
  width: 15px;
  border-radius: 50%;
}

/* 사이드 바 */
.list {
  margin-top: 50px;
  margin-left: 25px;
}

.list > a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  display: block;
  margin-bottom: 25px;
}

#point-list-1 {
  font-weight: 700;
}

.list > a:hover {
  font-weight: 700;
}

#list-plus {
  margin-top: 20px;
}

hr {
  width: 90%;
  border: 1px solid #ddd;
}

/* =========================================================== */
.mypage-main {
  width: 700px;
  padding: 30px 0px;
  margin-left: 250px;
  min-height: 450px;
}

.category {
  margin-top: 30px;
  display: flex;
}

.category-contain {
  height: 39px;
  margin-right: 20px;
  cursor: pointer;
}

.category-contain > h4 {
  color: #9e9e9e;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

#point-page1 {
  border-bottom: 3px solid #000;
  color: #000;
}

#point-page2 {
  border-bottom: 3px solid #000;
  color: #000;
}

#point-page3 {
  border-bottom: 3px solid #000;
  color: #000;
}

.category-contain:hover {
  color: #000;
  background-color: rgba(198, 198, 198, 0.251);
  border-radius: 5px;
}

.category-contain > h4:hover {
  margin-top: -1px;
}

/* =============================== */
/* 멘토 프로필 */

.my-mentee-content {
  margin-top: 30px;
}

.mentee-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 600px;
  padding: 20px;
  display: flex;
  margin-top: 15px;
}

.mentee-profile {
  width: 150px;
  display: flex;
  align-items: center;
}

.mentee-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eeeeee;
  margin-right: 10px;
}

.mentee-name {
  font-weight: 600;
}

.mentee-age,
.mentee-gender,
.mentee-date {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ddd;
}

/* =============================== */
/* 내 프로필 올려두기 토글 스위치 */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  vertical-align: middle;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1b5192;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1b5192;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-ment {
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #bfbfbf;
}
/* /내 프로필 올려두기 토글 스위치 */

.item {
  border: 1px solid rgb(226 232 240);
  margin-bottom: 25px;
  border-radius: 3px;
  margin-top: 20px;
  width: 600px;
}

.item:hover {
  box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
}

.mento-myProfile {
  display: flex;
  align-items: center;
  margin: 15px;
}

.mento-profile-photo-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  margin-right: 10px;
}

.mento-profile-photo {
  object-fit: cover;
  align-content: center;
  justify-items: center;
}

.toggle-switch {
  margin-left: auto;
  display: flex;
}

.page-move {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #000;
}

.img-box1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: pink;
  overflow: hidden;
  /*object-fit: cover;*/
  background-size: cover;
}

/*메세지 버튼*/
.message-button {
  background: #e3f3ff;
  color: #46699d;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.message-button:hover {
  background-color: #d7e4f8;
}

.btn {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.mentee1 {
  background: #e3f3ff;
  color: #46699d;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.mentee2 {
  background: #ffdce3;
  color: red;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

/* 내 멘티가 없을 때 */
.community-main-box {
  margin-top: 100px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
}

.community-main-box > span {
  line-height: 28px;
  text-align: center;
  color: #8f8f8f;
}

.page-move-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 10px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #d4e5f9;
  color: #2a7de1;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: #c4dcf6;
}
