#point-list-2 {
    font-weight: 700;
}

.wrap {
    display: flex;
    justify-content: center;
}

.container {
    width: 1050px;
    display: flex;
}

.main{
    /*width: 700px;*/
    padding: 30px 0px;
    margin-left: 250px;
    min-height: 450px;
}

.category {
    margin-top: 30px;
    display: flex;
}

.category-contain {
    height: 39px;
    margin-right: 20px;
    cursor: pointer;
}

.category-contain > h4 {
    color: #9e9e9e;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.category-contain > h4:hover{
    margin-top: -1px;
}

#point-page {
    border-bottom: 3px solid #000;
    color: #000;
}

.category-contain:hover {
    color: #000;
    background-color: rgba(198, 198, 198, 0.251);
    border-radius: 5px;
}

.diary-container{
    margin-top: 30px;
    width: 700px;
}

/* 플러스 버튼 + 서머노트 */
.plus-btn{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 60px;
    cursor: pointer;
}

.plus-btn > button {
    border: 0;
    background-color: white;
    cursor: pointer;
}

.plus-btn img {
    width: 30px;
    height: 30px;
    filter: opacity(0.5) drop-shadow(0 0 0 gray);
}


/* 서머노트 form */

.mypageDiary-title{
    margin-top: 20px;
}

.mypageDiary-title>input{
    width: 645px;
}

.diary {
    display: none;
}


.title {
    border: 1px solid #ddd;
    width: 690px;
    border-radius: 5px;
    padding: 7px 5px;
    margin-bottom: 20px;
    height: 30px;
}

textarea {
    resize: none;
}

.btn-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

.cancle-btn {
    text-align: end;
}

.cancle , .edit-cancle{
    border: 1px solid #1b5192;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    color: #1b5192;
}

.cancle:hover{
    background-color: #1b5192;
    color: white;
}

.edit-cancle:hover{
    background-color: #1b5192;
    color: white;
}

.submit-btn {
    text-align: end;
    margin-left: 10px;
}

.submit , .edit-submit {
    border: 1px solid #1b5192;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    color: #1b5192;
}

.submit:hover{
    background-color: #1b5192;
    color: white;
}

.edit-submit:hover{
    background-color: #1b5192;
    color: white;
}

/* 서머노트 form 끝 */
/* 플러스 버튼 + 서머노트 끝 */

/* 다이어리 리스트 시작 */
.diary-main {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
}

.diary-list {
    display: flex;
    flex-direction: column;
    /*height: 300px;*/
}

.list-btn {
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.title2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.list-title {
    font-size: 24px;
}

.list-content{
    margin: 15px 0px;
}

.diary-content {
    display: none;
}

/* 다이어리 상세 수정+취소 버튼 */
.edit-btn {
    text-align: end;
}

.editBtn {
    border: 1px solid #1b5192;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    color: #1b5192;
}

.editBtn:hover{
    background-color: #1b5192;
    color: white;
}

.close-btn {
    text-align: end;
    margin-left: 10px;
}

.closeBtn {
    border: 1px solid #1b5192;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    color: #1b5192;
}

.closeBtn:hover{
    background-color: #1b5192;
    color: white;
}

.list-date{
    color: #9e9e9e;
    font-size: 14px;
}

/* 다이어리 상세 수정 + 취소 버튼 끝 */
/* 다이어리 리스크 끝 */


/* 수정 버튼 눌렀을 때 서머노트 */
.diary2 {
    display: none;
}


/* 서머노트 파일 첨부 */
.note-image-input {
    display: none;
}

.note-group-select-from-files > .note-form-label {
    border : 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
}

.note-image-url{
    border : 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
}

.note-btn-primary{
    background-color: #1b5192;
    border: 1px solid #1b5192;
    color : white;
}

.note-btn-primary:hover{
    background-color: #163f71;
    border-radius: 3px;
}

.note-modal .note-modal-body label {
    padding: 7px 5px;
}

.note-input {
    border-radius: 5px;
}