* {
  margin: 0px;
  padding: 0px;
}

.wrap {
  display: flex;
  justify-content: center;
}

.container {
  margin: 60px 0px;
}

h3 {
  margin: 15px 0px;
}

#title,
#title-s {
  width: 600px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  margin-bottom: 30px;
  padding: 15px;
  font-family: "NanumSquare";
  font-size: 15px;
}

#growth,
#personality,
#case,
#motive {
  width: 600px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  padding: 15px;
  font-size: 15px;
  font-family: "NanumSquare";
  resize: none;
}

.text-box {
  display: flex;
  justify-content: flex-end;
  color: #5e5e5e;
  margin-top: 5px;
  margin-right: 5px;
}

.growth-count,
.personality-count,
.case-count,
.motive-count,
.text-total {
  font-size: 14px;
}

/* 등록 버튼 */
.btn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

button:hover {
  background-color: #164a8a;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #1b5192;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  margin-left: 10px;
}

#delete {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
}

#delete:hover {
  background-color: #ededed;
}
