* {
  margin: 0px;
  padding: 0px;
}

.wrap {
  display: flex;
  justify-content: center;
}

.container {
  width: 1050px;
  display: flex;
}

.side-container {
  width: 220px;
  padding: 20px;
}

.profile-icon {
  cursor: pointer;
}

.pfp-icon-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#profile-img-upload {
  display: none;
}

.profile-img > label {
  cursor: pointer;
}

.profile-wrap {
  display: flex;
  margin: 5px;
}

.user-name {
  display: block;
  padding-top: 8px;
  margin-left: 10px;
  font-weight: 700;
  color: black;
}

.user-email {
  display: block;
  margin-left: 10px;
  margin-top: 3px;
  color: rgb(118, 125, 130);
  font-size: 14px;
}

.user-email > img {
  width: 15px;
  border-radius: 50%;
}

/* 사이드 바 */
.list {
  margin-top: 50px;
  margin-left: 25px;
}

.list > a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  display: block;
  margin-bottom: 25px;
}

#point-list-6 {
  font-weight: 700;
}

.list > a:hover {
  font-weight: 700;
}

#list-plus {
  margin-top: 20px;
}

hr {
  width: 90%;
  border: 1px solid #ddd;
}

.sub-category {
  margin: 15px;
  margin-left: 88px;
}

.sub-category > span {
  cursor: pointer;
  margin-right: 15px;
  font-size: 14px;
  color: #000;
}

#sub-point {
  font-weight: 700;
}

/* =========================================================== */
.mypage-main {
  width: 700px;
  padding: 30px 0px;
  margin-left: 250px;
  min-height: 450px;
}

.category {
  margin-top: 30px;
  display: flex;
}

.category-contain {
  height: 39px;
  margin-right: 20px;
  cursor: pointer;
}

.category-contain > h4 {
  color: #9e9e9e;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

#point-page {
  border-bottom: 3px solid #000;
  color: #000;
}

.category-contain:hover {
  color: #000;
  background-color: rgba(198, 198, 198, 0.251);
  border-radius: 5px;
}

.category-contain > h4:hover {
  margin-top: -1px;
}

.page-move {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #000;
}

/* =============================== */
/* 회원 탈퇴 문구 */

.modify-content {
  margin-top: 30px;
}

p {
  font-size: 15px;
  line-height: 45px;
  color: #6c6c6c;
}

p > strong {
  color: #000;
  font-size: 16px;
}

.delete-btn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

button {
  width: 130px;
  height: 35px;
  border: none;
  background-color: #d4e5f9;
  border-radius: 5px;
  cursor: pointer;
  color: #2a7de1;
  font-weight: 800;
}

/* =============================== */
