* {
    margin: 0px;
    padding: 0px;
}

.note-flex {
    border-style: solid;
    grid-template-rows: repeat(1, minmax(0, 1fr));
    overflow: hidden;
    border-width: 1px;
    max-width: 48rem;
    width: 100%;
    height: 100%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}
.note-peple {
    width: 250px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    grid-column: span 3 / span 3;
    display: flex;
}
.note-peple-can {
    width: 250px;
    height: 64px;
    border-width: 1px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 4rem;
    border-style: solid;
    border: 1px solid#ddd;
    background-color: #1b5192;
}
.note-up {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
}
.outbox-flex {
    flex: 1 1 0%;
    overflow-y: scroll;
    width: 250px;
}
.outbox-scroll {
    height: auto;
    overflow: auto;
    padding-bottom: 90px;
}
.board-bottom {
    height: 90px;
    background-color: rgba(255, 237, 238, 0.5);
    display: flex;
    border-color: #e2e8f0 !important;
    border-bottom: 1px solid #cbd5e1 !important;
    cursor: pointer;
}
.mento-profile-flex {
    display: flex;
    text-decoration: none;
    color: black;
    background-color: transparent;
    flex-direction: row;
    padding: 1rem;
}
.mento-profile-img {
    width: 36px;
    height: 36px;
    min-width: 36px;
    border-radius: 9999px;
    overflow: hidden;
    border: 1px solid #cbd5e1 !important;
    border-color: #e2e8f0 !important;
}

.name-flex {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.name-mid-flex {
    display: flex;
    justify-content: space-between;
}
.name {
    margin-top: 0;
    margin-bottom: 0;
    text-overflow: ellipsis;
    font-size: 0.875rem;
}
.date {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.75rem;
    min-width: 64px;
}
.note-content {
    margin-top: 9px;
    margin-bottom: 0;
    font-size: 0.75rem;
}

.note-page-flex {
    height: 100%;
    display: flex;
    grid-column: span 5 / span 5;
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.note-high-page {
    padding-left: 0.5rem;
    align-items: center;
    width: 100%;
    height: 4rem;
    display: flex;
    padding-right: 0.5rem;
    border: 1px solid#ddd;
    background-color: pink;
}
.back-btn {
    border: 0;
    background: none;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    cursor: pointer;
}

.in-note-flex {
    width: 515px;
    overflow-y: scroll;
    border: 1px solid#ddd;
    background-color: #6ce29a;
}
.in-note {
    border-width: 1px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 4rem;
}

.chatting-content {
    width: 100%;
    height: 18%;
    border: 1px solid;
}

.name-flex2 {
    width: 100%;
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.chatting-flex {
    padding-bottom: 80px;
}
