* {
  margin: 0px;
  padding: 0px;
}

/*header {*/
/*  position: sticky;*/
/*  top: 0px;*/
/*  z-index: 10;*/
/*}*/

/*hr {*/
/*  width: 100%;*/
/*  height: 1px;*/
/*  border: 0px;*/
/*  background-color: #ddd;*/
/*  margin: 0px;*/
/*}*/

/*a {*/
/*  text-decoration-line: none;*/
/*}*/

/*.hwrap {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  background-color: #fff;*/
/*}*/

/*.hcontainer {*/
/*  width: 1050px;*/
/*  height: 70px;*/
/*  display: flex;*/
/*}*/

/*.logo {*/
/*  font-size: 40px;*/
/*  font-weight: bold;*/
/*  text-decoration-line: none;*/
/*  color: rgb(40, 106, 76);*/
/*  margin-top: 30px;*/
/*}*/

/*.logo > img {*/
/*  width: 130px;*/
/*}*/

/*.hctg-container {*/
/*  width: 100%;*/
/*  height: 30px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.hcenter {*/
/*  height: 100%;*/
/*  display: flex;*/
/*  margin-left: 30px;*/
/*}*/

/*.hctg-list {*/
/*  display: flex;*/
/*  align-items: flex-end;*/
/*  height: 70px;*/
/*}*/

/*.hctg-list > li {*/
/*  font-size: 14px;*/
/*  font-weight: 600;*/
/*  list-style: none;*/
/*  padding: 15px;*/
/*}*/

/*.sub {*/
/*  margin-top: 30px;*/
/*  margin-bottom: 10px;*/
/*  position: absolute;*/
/*}*/

/*.h-font {*/
/*  color: #868686;*/
/*}*/

/*.header-nav-l {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.header-nav-r {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  margin-top: 25px;*/
/*  position: relative;*/
/*  left: 28%;*/
/*}*/

/*.header-nav-r > a {*/
/*  font-size: 15px;*/
/*  color: #949ba0;*/
/*  margin-right: 10px;*/
/*  font-weight: bold;*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.header-nav-r > a > span {*/
/*  display: block;*/
/*}*/

/*.basic-img {*/
/*  width: 30px;*/
/*  position: relative;*/
/*  left: 7px;*/
/*}*/

/*.sub-wrap {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.sub-ctg-box {*/
/*  width: 1050px;*/
/*  display: flex;*/
/*}*/

/*.sub > a {*/
/*  font-size: 14px;*/
/*  font-weight: 700;*/
/*  color: #1b5192;*/
/*  padding: 15px 10px 10px 10px;*/
/*}*/

/*.sub-ctg-1 {*/
/*  margin-left: 7px;*/
/*}*/

/*.sub-ctg-2 {*/
/*  margin-left: -15px;*/
/*}*/

/*.sub-ctg-3 {*/
/*  margin-left: 30px;*/
/*}*/

/*.login-join {*/
/*  border: none;*/
/*  background-color: #fff;*/
/*  cursor: pointer;*/
/*}*/

/*.login-join > span {*/
/*  font-weight: 700;*/
/*  color: #868686;*/
/*}*/

/* =================================================== */
/* 로그인 했을 때 헤더 */
/*.h-profile {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.wing-point {*/
/*  margin-right: 10px;*/
/*  font-size: 16px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.wing-icon {*/
/*  width: 15px;*/
/*}*/

/*.h-user-name {*/
/*  font-size: 16px;*/
/*  color: #000;*/
/*  font-weight: 600;*/
/*}*/

/*.profile-img {*/
/*  width: 30px;*/
/*  margin-left: 10px;*/
/*}*/

/* ================================================================= */

.container {
  display: flex;
  justify-content: center;
}

.wrap {
  width: 1050px;
  height: 2100px;
  /* background-color: paleturquoise; */
  margin-top: 40px;
}

.ctg-top {
  display: flex;
  justify-content: space-between;
}

.ctg-box {
  width: 600px;
  height: 550px;
  /* background-color: purple; */
}

.ctg-box > h1 {
  /* text-align: center; */
  margin-top: 10px;
  margin-bottom: 20px;
}

h4 {
  /* text-align: center; */
  margin-top: 10px;
}

.img-box {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.img-box > img {
  width: 480px;
  height: 340px;
}

.shadow {
  border-radius: 15px;
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
  padding: 40px;
  transition: all 0.2s ease-in-out;
}

.shadow:hover {
  top: -4px;
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  /* z-index: 0; */
}

.ctg-right {
  margin-left: 10px;
  height: 550px;
}

.ctg-right-1,
.ctg-right-2 {
  width: 260px;
  height: 210px;
}

.ctg-right-2 {
  margin-top: 50px;
}

.ctg-bottom {
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.bottom-box {
  height: 150px;
  width: 255px;
}

/* ========================================================= */

/* .banner {
    width: 100%;
    height: 400px;
    background-color: rgb(40, 106, 76);
    display: flex;
    justify-content: center;
  }
  
  .btn-box {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .banner-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    opacity: 0;
    visibility: none;
    transition: all 1s ease-in-out;
    border: 1px solid#ddd;
    font-size: 25px;
  }
  
  .banner:hover .banner-btn {
    display: block;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  } */

/* ============================================================= */

.project {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}
.title-2 {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

.title-s {
  font-size: 26px;
  line-height: 33px;
  color: rgb(4, 5, 5);
  font-weight: 600;
}

.project-wrap {
  margin-top: 30px;
  align-items: center;
}

.project-slide {
  width: 985px;
  display: flex;
  overflow: hidden;
}

.project-box {
  width: 430px;
  min-height: 250px;
  border-radius: 10px;
  border: 1px solid#ddd;
  border-color: rgb(234, 236, 238);
  padding: 18px 20px 16px;
  margin-right: 15px;
  flex-shrink: 0;
  position: relative;
}

#first-box {
  margin-left: 15px;
}

.icon {
  display: flex;
  align-items: center;
}

.project-tag {
  width: 70px;
  height: 20px;
  background-color: #f1f5f9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tag > a {
  font-size: 13px;
  color: #94a3b8;
  font-weight: 1200;
}

.project-title {
  margin-top: 20px;
  margin-bottom: 30px;
}

.project-title > span {
  font-size: 23px;
  font-weight: 700;
  width: 418px; /* 너비는 변경될수 있습니다. */
  text-overflow: ellipsis; /* 위에 설정한 100px 보다 길면 말줄임표처럼 표시합니다. */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; /* 내용이 길면 감춤니다 */
}

.project-content > span {
  font-size: 14px;
  font-weight: 500;
  width: 418px; /* 너비는 변경될수 있습니다. */
  text-overflow: ellipsis; /* 위에 설정한 100px 보다 길면 말줄임표처럼 표시합니다. */
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; /* 내용이 길면 감춤니다 */
}

.goal {
  margin-top: 50px;
}

.goal > span {
  font-size: 14px;
  font-weight: 700;
  color: #94a3b8;
}

.goal > svg {
  color: #94a3b8;
}

.icon {
  background-color: white;
  border: none;
  cursor: pointer;
}

.worries {
  margin-top: 200px;
  height: 400px;
}

.worries-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.worries-box {
  width: 340px;
  height: 110px;
  background-color: #f3f4f5;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.worries-box:hover {
  background-color: #eaebec;
}

.worries-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.worries-content > svg {
  margin-right: 20px;
}

.worries-content > span {
  font-size: 18px;
  color: rgb(60, 65, 68);
  font-weight: 500;
}

/* ============================================== */

.slide-wrap {
  overflow: hidden;
  margin-top: 100px;
  position: relative;
  height: 480px;
  width: 100%;
}

@keyframes slide_a {
  from {
    left: 0px;
  }

  to {
    left: -3025px;
  }
}

.infinity-slide {
  position: absolute;
  animation: slide_a 45s linear;
  animation-iteration-count: infinite;
  display: flex;

  /* animation-name: slide_a;
    margin-bottom: 300px;
    display: flex;
    animation-duration: 45s;
    animation-iteration-count: infinite; */
}

.infinity-slide > img {
  height: 400px;
}

.slide-span {
  display: flex;
  justify-content: center;
}

.slide-content > h2 {
  text-align: center;
  margin: 10px 0px;
}

.slide-content > span {
  text-align: center;
  font-size: 18px;
  color: rgb(89, 95, 99);
  display: block;
  margin-top: 10px;
}

.mentor-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.mentor-btn > button > span {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.mentor-btn > button {
  width: 250px;
  height: 70px;
  background-color: #1b5192;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mentor-btn > button:hover {
  background-color: #174987;
}

/* ========================================================== */

.f-container {
  height: 200px;
  /* background-color: #c7c8c9; */
  border: 1px solid #ddd;
  padding: 48px 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-cs {
  padding: 40px;
  margin-top: 45px;
}

.f-cs > h5 {
  margin-bottom: 20px;
}

.f-cs > span {
  font-size: 12px;
  color: #767d82;
}

.q-a-btn {
  width: 280px;
  height: 36px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.q-a-btn > a {
  color: black;
}

.f-service {
  padding-left: 40px;
  padding-right: 80px;
  margin-top: 50px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.box {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 30px 1fr;
  margin-bottom: 40px;
}

.box-2 {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 30px 1fr;
}

.box > a,
.box-2 > a {
  font-size: 12px;
  color: #767d82;
}

.f-right {
  padding: 40px;
  margin-top: 40px;
}

.f-right > span {
  font-size: 11px;
  color: #949ba0;
}

.none {
  display: none;
}

/* =============================================== */
/* 로그인 모달창 */

.login-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding: 30px;
  padding-left: 35px;
  width: 250px;
  height: 300px;
}

.login-box > img {
  width: 160px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.login-box > h4 {
  margin-top: 8px;
  margin-left: 5px;
}

.login-input {
  border: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  padding-left: 5px;
  width: 230px;
  height: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  outline: none;
  font-size: 15px;
}

.login-input::placeholder {
  font-weight: 600;
  font-size: 12px;
  color: #9d9d9d;
}

#login-id {
  margin-top: 15px;
}

.login-page-wrap {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.login-page-move {
  width: 190px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.login-page-move > a {
  font-size: 10px;
  text-decoration-line: none;
  color: black;
  font-weight: 900;
}

.login-kakao-btn {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  cursor: pointer;
}

.login-kakao {
  width: 240px;
  height: 35px;
  background-color: #fee500;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login-kakao > img {
  width: 15px;
  margin-left: 70px;
}

.login-kakao > span {
  font-size: 11px;
  margin-left: 7px;
  font-weight: 600;
}

.login-next {
  width: 315px;
  height: 55px;
  background-color: #1b5192;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  border: none;
  cursor: pointer;
  display: block;
}

.login-next > a {
  font-size: 15px;
  font-weight: 900;
  color: #fff;
}

.none {
  display: none;
}

/* ===================================================== */
/* 아이디 찾기 모달창 */

.find-id-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-id-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding: 20px;
  padding-left: 35px;
  padding-bottom: 35px;
  width: 260px;
  /* height: 320px; */
}

.find-id-box > h3 {
  margin-top: 20px;
}

.find-id-input {
  border: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  padding-left: 3px;
  width: 230px;
  height: 20px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  outline: none;
  font-size: 13px;
  margin-top: 5px;
}

.find-id-box > span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 30px;
}

.find-id-input::placeholder {
  font-weight: 500;
  font-size: 11px;
  color: #9d9d9d;
}

.find-id-certified {
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 3px;
  width: 65px;
  cursor: pointer;
  font-size: 12px;
}

.find-id-certified-input {
  width: 170px;
  display: inline;
}

.find-id-next {
  width: 315px;
  height: 55px;
  background-color: #1b5192;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  border: none;
  cursor: pointer;
}

.find-id-next > a {
  font-size: 15px;
  font-weight: 900;
  color: #fff;
}

.none {
  display: none;
}
