<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.winwin.mapper.mentor.LoginMapper">
    <select id="loginMentor" resultType="Long">
        SELECT NVL(mentor_number, -1) mentor_number , mentor_status
        FROM WW_USER w LEFT OUTER JOIN MENTOR m
        ON w.USER_NUMBER = m.MENTOR_NUMBER
        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>

</mapper>