<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.winwin.mapper.board.CommunityMapper">

    <!-- 커뮤니티 게시글 작성 -->
    <insert id="insert">
        <selectKey keyProperty="communityNumber" order="BEFORE" resultType="long">
            SELECT SEQ_COMMUNITY.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO COMMUNITY(COMMUNITY_NUMBER, COMMUNITY_TITLE, COMMUNITY_CONTENT, CATEGORY_NUMBER, USER_NUMBER)
        VALUES (#{communityNumber}, #{communityTitle}, #{communityContent}, #{categoryNumber}, #{userNumber})
    </insert>

    <!-- 커뮤니티 게시글 업데이트 -->
    <update id="update">
        UPDATE COMMUNITY
        SET COMMUNITY_TITLE = #{communityTitle} , COMMUNITY_CONTENT = #{communityContent}, COMMUNITY_DATE = SYSDATE
        WHERE COMMUNITY_NUMBER = #{communityNumber}
    </update>

    <!-- 커뮤니티 게시글 조회수 누적 & 카운트 -->
    <update id="upHit">
        UPDATE COMMUNITY
        SET COMMUNITY_CNT = COMMUNITY_CNT+1
        WHERE COMMUNITY_NUMBER = #{communityNumber}
    </update>

    <!-- 커뮤니티 댓글 카운트 -->
    <select id="commentCnt">
        SELECT COUNT(*)
        FROM COMMUNITY_COMMENT
        WHERE COMMUNITY_NUMBER = #{communityNumber}
    </select>

    <!-- 커뮤니티 게시글 삭제 -->
    <delete id="delete">
        DELETE FROM COMMUNITY
        WHERE COMMUNITY_NUMBER = #{communityNumber}
    </delete>

    <!-- 커뮤니티 게시글 조회 -->
    <select id="select" resultType="communityVo">
        SELECT C.COMMUNITY_NUMBER, C.COMMUNITY_CONTENT, C.COMMUNITY_TITLE, C.COMMUNITY_DATE
               , C.USER_NUMBER, C.COMMUNITY_CNT, U.USER_NICKNAME, U.USER_BELONG, U.USER_IDENTITY
        FROM COMMUNITY C JOIN WW_USER U
        ON C.USER_NUMBER = U.USER_NUMBER
        WHERE C.COMMUNITY_NUMBER = #{communityNumber}
    </select>

    <!-- 커뮤니티 게시글 리스트 조회 & 좋아요, 조회수 카운트 조회 -->
    <select id="selectAll" resultType="communityVo">
        SELECT (SELECT COUNT(*) FROM COMMUNITY_COMMENT WHERE COMMUNITY_COMMENT.COMMUNITY_NUMBER = C.COMMUNITY_NUMBER) AS COMMENT_CNT,
               (SELECT COUNT(*) FROM COMMUNITY_GOOD WHERE COMMUNITY_GOOD.COMMUNITY_NUMBER = C.COMMUNITY_NUMBER) AS LIKE_CNT
               ,C.COMMUNITY_NUMBER, C.COMMUNITY_TITLE, C.COMMUNITY_CONTENT, C.COMMUNITY_DATE, C.COMMUNITY_CNT, C.CATEGORY_NUMBER
             ,C.USER_NUMBER, T.CATEGORY_NAME
        FROM COMMUNITY C JOIN WW_USER U
        ON C.USER_NUMBER = U.USER_NUMBER
        JOIN COMMUNITY_CATEGORY T
        ON C.CATEGORY_NUMBER = T.CATEGORY_NUMBER
        <if test="categoryTypeStr != 'all'">
            AND C.CATEGORY_NUMBER = #{categoryNumber}
        </if>
        ORDER BY C.COMMUNITY_NUMBER DESC
    </select>

    <!-- 커뮤니티(로그인시) 프로필 조회 -->
    <select id="selectUserProfile" resultType="CommunityProfileVo">
        SELECT MC.CAREER_COMPANY, MC.CAREER_TITLE, P.PFP_SYSTEM_NAME, P.PFP_UUID, MC.CAREER_START_DATE, U.USER_NICKNAME
        FROM WW_USER U
                 LEFT OUTER JOIN USER_PFP P
                                 ON U.USER_NUMBER = P.USER_NUMBER
                 LEFT OUTER JOIN MENTOR M
                                 ON U.USER_NUMBER = M.USER_NUMBER
                 LEFT OUTER JOIN MENTOR_CAREER MC
                                 ON MC.MENTOR_NUMBER = M.MENTOR_NUMBER
        <if test="userNumber  != null ">
            WHERE U.USER_NUMBER = #{userNumber}
        </if>
        ORDER BY MC.CAREER_START_DATE DESC
    </select>

    <!-- 커뮤니티 페이지 무한스크롤 -->
    <select id="selectScroll" resultType="communityVo">
        SELECT COMMUNITY_NUMBER, COMMUNITY_TITLE, COMMUNITY_CONTENT, COMMUNITY_DATE, USER_NUMBER, COMMUNITY_CNT, COMMENT_CNT, CATEGORY_NAME, LIKE_CNT
        FROM(
                SELECT ROWNUM RN, COMMUNITY_NUMBER, COMMUNITY_TITLE, COMMUNITY_CONTENT, COMMUNITY_DATE, USER_NUMBER,COMMENT_CNT, LIKE_CNT,
                       COMMUNITY_CNT, CATEGORY_NAME
                FROM(
                        SELECT
                               (SELECT COUNT(*) FROM COMMUNITY_COMMENT WHERE COMMUNITY_COMMENT.COMMUNITY_NUMBER = C.COMMUNITY_NUMBER) AS COMMENT_CNT,
                               (SELECT COUNT(*) FROM COMMUNITY_GOOD WHERE COMMUNITY_GOOD.COMMUNITY_NUMBER = C.COMMUNITY_NUMBER) AS LIKE_CNT,
                                C.COMMUNITY_NUMBER, C.COMMUNITY_TITLE, C.COMMUNITY_CONTENT, C.COMMUNITY_DATE, C.COMMUNITY_CNT, C.CATEGORY_NUMBER,
                                C.USER_NUMBER, T.CATEGORY_NAME
        FROM COMMUNITY C JOIN WW_USER U
        ON C.USER_NUMBER = U.USER_NUMBER
        JOIN COMMUNITY_CATEGORY T
        ON C.CATEGORY_NUMBER = T.CATEGORY_NUMBER
        <if test="categoryTypeStr != 'all'">
            AND C.CATEGORY_NUMBER = #{categoryNumber}
        </if>
        WHERE U.USER_STATUS != '3'
        AND C.COMMUNITY_STATUS != '0'
        ORDER BY C.COMMUNITY_NUMBER DESC

                    )
        <![CDATA[
                WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        )
        WHERE RN > ( #{page} - 1) * #{amount}
    </select>

    <!-- 커뮤니티 게시글 전체 카운트 -->
    <select id="selectTotal" resultType="_int">
        SELECT COUNT(COMMUNITY_NUMBER) FROM COMMUNITY
    </select>

</mapper>

