<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.winwin.mapper.board.CommunityCommentMapper">

    <insert id="insert">
        <selectKey keyProperty="commentNumber" order="BEFORE" resultType="long">
            select SEQ_COMMUNITY_COMMENT.NEXTVAL from dual
        </selectKey>
        INSERT INTO COMMUNITY_COMMENT (COMMENT_NUMBER, COMMENT_CONTENT, COMMUNITY_NUMBER, USER_NUMBER)
        VALUES (#{commentNumber}, #{commentContent}, #{communityNumber}, #{userNumber})
    </insert>

    <select id="selectList" resultType="communityCommentVo">
        SELECT COMMENT_NUMBER, COMMENT_CONTENT, COMMENT_DATE, COMMUNITY_NUMBER, R.USER_NUMBER,
               USER_ID, USER_BELONG,P.PFP_SYSTEM_NAME, P.PFP_UUID
        FROM WW_USER U JOIN COMMUNITY_COMMENT R
        ON COMMUNITY_NUMBER = #{communityNumber} AND U.USER_NUMBER = R.USER_NUMBER
        LEFT OUTER JOIN USER_PFP P
        ON U.USER_NUMBER = P.USER_NUMBER
        ORDER BY COMMENT_NUMBER DESC
    </select>

    <select id="findCommentUdList" resultType="communityCommentVo">
        SELECT R.COMMENT_NUMBER, R.COMMENT_CONTENT, R.COMMENT_DATE, R.COMMUNITY_NUMBER, R.USER_NUMBER,
               U.USER_ID, U.USER_BELONG, P.PFP_SYSTEM_NAME, P.PFP_UUID,
               NVL(CCU.UD_STATUS,'x') AS UD_STATUS
             ,(SELECT COUNT(UD_STATUS) FROM COMMUNITY_COMMENT_UD WHERE COMMUNITY_COMMENT_UD.COMMENT_NUMBER = R.COMMENT_NUMBER AND CCU.UD_STATUS = 'u') AS UD_CNT
        FROM WW_USER U JOIN COMMUNITY_COMMENT R
        ON COMMUNITY_NUMBER = #{communityNumber} AND U.USER_NUMBER = R.USER_NUMBER
        LEFT OUTER JOIN COMMUNITY_COMMENT_UD CCU
        ON R.COMMENT_NUMBER = CCU.COMMENT_NUMBER
        LEFT OUTER JOIN USER_PFP P
        ON R.USER_NUMBER = P.USER_NUMBER
        ORDER BY R.COMMENT_NUMBER DESC
    </select>
<!--        <choose>-->
<!--            <when test="sessionUserNumber != null">-->
<!--                AND CCU.USER_NUMBER = #{sessionUserNumber}-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                AND 1=0-->
<!--            </otherwise>-->
<!--        </choose>-->


    <select id="select" resultType="communityCommentVo">
        SELECT COMMENT_NUMBER, COMMENT_CONTENT, COMMENT_DATE, COMMUNITY_NUMBER, R.USER_NUMBER,
               USER_ID
        FROM WW_USER U JOIN COMMUNITY_COMMENT R
        ON COMMENT_NUMBER = #{commentNumber} AND U.USER_NUMBER = R.USER_NUMBER
    </select>

    <update id="update">
        UPDATE COMMUNITY_COMMENT
        SET COMMENT_CONTENT = #{commentContent}, COMMENT_DATE = SYSDATE
        WHERE COMMENT_NUMBER = #{commentNumber}
    </update>
<!---->
    <delete id="delete">
        DELETE FROM COMMUNITY_COMMENT
        WHERE COMMENT_NUMBER = #{commentNumber}
    </delete>

    <!--    댓글 삭제(커뮤니티 삭제에서 사용)-->
    <delete id="deleteCommunity">
        DELETE FROM COMMUNITY_COMMENT
        WHERE COMMUNITY_NUMBER = #{communityNumber}
    </delete>




</mapper>