<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.winwin.mapper.board.CsCommentMapper">

<!--  댓글 작성(관리자만 가능)  -->
    <insert id="insert">
        <selectKey keyProperty="commentNumber" order="BEFORE" resultType="long">
            SELECT SEQ_CS_COMMENT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO CS_COMMENT (COMMENT_NUMBER, COMMENT_CONTENT, USER_NUMBER, CS_NUMBER)
        VALUES (#{commentNumber}, #{commentContent}, #{userNumber}, #{csNumber})
    </insert>

    <select id="selectList" resultType="csReplyVo">
        SELECT COMMENT_NUMBER, COMMENT_CONTENT, COMMENT_DATE, U.USER_NUMBER, CS_NUMBER, USER_ID, USER_STATUS
        FROM WW_USER U
                 JOIN CS_COMMENT C
                      ON CS_NUMBER = #{csNumber} AND U.USER_NUMBER = C.USER_NUMBER
        ORDER BY COMMENT_NUMBER DESC
    </select>

    <!-- 댓글 수정-->
    <update id="update">
        UPDATE CS_COMMENT
        SET COMMENT_CONTENT = #{commentContent},
            COMMENT_DATE = SYSDATE
        WHERE COMMENT_NUMBER = #{commentNumber}
    </update>

    <delete id="delete">
        DELETE FROM CS_COMMENT
        WHERE COMMENT_NUMBER = #{commentNumber}
    </delete>

</mapper>
