<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.winwin.mapper.board.QnaMapper">
    <!--  qna 글 등록하기  -->
    <insert id="insertQna">
        <selectKey keyProperty="qnaNumber" order="BEFORE" resultType="long">
            SELECT SEQ_QNA.NEXTVAL FROM DUAL
        </selectKey>
        insert into QNA(QNA_NUMBER, QNA_TITLE, QNA_CONTENT, USER_NUMBER)
        values (#{qnaNumber}, #{qnaTitle}, #{qnaContent}, #{userNumber})
    </insert>

    <insert id="insertQs">
        insert into QS_BRIDGE (QNA_NUMBER, SUB_NUMBER)
        values (#{qnaNumber}, #{subNumber})
    </insert>

    <select id="selectQna" resultType="qnaVo">
        SELECT (SELECT COUNT(*) FROM QNA_COMMENT WHERE QNA_comment.qna_NUMBER = q.qna_number) AS QNA_COMMENT_CNT,
            (SELECT COUNT(*) FROM qna_GOOD WHERE qna_GOOD.qna_NUMBER = q.qna_number) AS QNA_LIKE_CNT
             ,q.qna_number, q.qna_title, q.qna_content, q.qna_date, q.qna_CNT
             ,q.USER_NUMBER, SC.sub_NAME, Sc.sub_number, u.user_nickname
        FROM qna q
                 JOIN qs_bridge qs on q.qna_number = qs.qna_number
                 join sub_category sc on qs.sub_number = sc.sub_number
                 JOIN WW_USER U ON q.USER_NUMBER = U.USER_NUMBER
        ORDER BY q.qna_number DESC
    </select>

<!--  <select id="selectSub" resultType="qsBridgeDto">-->
<!--      SELECT-->
<!--          SC.sub_NAME, Sc.sub_number-->
<!--      FROM qna q-->
<!--               JOIN qs_bridge qs on q.qna_number = qs.qna_number-->
<!--               join sub_category sc on qs.sub_number = sc.sub_number-->
<!--      ORDER BY q.qna_number DESC-->
<!--  </select>-->

<!-- QNA 상세페이지-->
    <select id="selectQnaByQnaNumber" resultType="qnaVo">
        SELECT qna_number, QNA_TITLE, QNA_CNT, QNA_CONTENT, USER_NICKNAME, USER_BELONG, TO_CHAR(QNA_DATE, 'YYYY-MM-DD') AS QNA_DATE
        FROM QNA Q
                 JOIN WW_USER WU on Q.qna_number = #{qnaNumber} AND Q.USER_NUMBER = WU.USER_NUMBER
    </select>

<!--  게시글 삭제  -->
    <delete id="deleteQna">
        DELETE FROM qna
        WHERE QNA_NUMBER = #{qnaNumber}
    </delete>
    <delete id="deleteQs">
        DELETE FROM QS_BRIDGE
        WHERE QNA_NUMBER = #{qnaNumber}
    </delete>

<!--  게시글 수정  -->
    <update id="updateQna">
        update qna
set qna_title = #{qnaTitle}, qna_content = #{qnaContent}, qna_date = sysdate
where qna_number = #{qnaNumber}
    </update>

<!--  태그 수정  -->
    <update id="updateQs">
    update qs_bridge
    set sub_number = #{subNumber}
    where qna_number = #{qnaNumber}
    </update>

<!--  조회수  -->
    <update id="upQna">
        UPDATE QNA
        SET QNA_CNT = QNA_CNT+1
        WHERE QNA_NUMBER = #{qnaNumber}
    </update>

<!--  댓글 조회수  -->
    <select id="qnaCommentCnt">
        SELECT COUNT(*)
        FROM QNA_COMMENT
        WHERE QNA_NUMBER = #{qnaNumber}
    </select>

    <!-- qna(로그인시) 프로필 조회 -->
    <select id="selectUserProfile" resultType="QnaProfileVo">
        SELECT MC.CAREER_COMPANY, MC.CAREER_TITLE, P.PFP_SYSTEM_NAME, P.PFP_UUID, MC.CAREER_START_DATE, U.USER_NICKNAME
        FROM WW_USER U
        LEFT OUTER JOIN USER_PFP P
        ON U.USER_NUMBER = P.USER_NUMBER
        LEFT OUTER JOIN MENTOR M
        ON U.USER_NUMBER = M.USER_NUMBER
        LEFT OUTER JOIN MENTOR_CAREER MC
        ON MC.MENTOR_NUMBER = M.MENTOR_NUMBER
        <if test="userNumber  != null ">
            WHERE U.USER_NUMBER = #{userNumber}
        </if>
        ORDER BY MC.CAREER_START_DATE DESC
    </select>

</mapper>