<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.winwin.mapper.board.QnaMapper">
    <!--  qna 글 등록하기  -->
    <insert id="insertQna">
        <selectKey keyProperty="qnaNumber" order="BEFORE" resultType="long">
            SELECT SEQ_QNA.NEXTVAL FROM DUAL
        </selectKey>
        insert into QNA(QNA_NUMBER, QNA_TITLE, QNA_CONTENT, USER_NUMBER)
        values (#{qnaNumber}, #{qnaTitle}, #{qnaContent}, #{userNumber})
    </insert>

    <insert id="insertQs">
        insert into QS_BRIDGE (QNA_NUMBER, SUB_NUMBER)
        values (#{qnaNumber}, #{subNumber})
    </insert>

    <select id="selectQna" resultType="qnaVo">
        SELECT QNA_NUMBER, QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_CNT, USER_NUMBER, SUB_NAMES,
        QNA_LIKE_CNT, COMMENT_CNT
        FROM (
            SELECT ROWNUM AS RNUM, QNA_NUMBER, QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_CNT, USER_NUMBER, SUB_NAMES,
            QNA_LIKE_CNT, COMMENT_CNT
            FROM (
                SELECT Q.QNA_NUMBER, QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_CNT, USER_NUMBER,
                SUB_NAMES,
                (SELECT COUNT(QG.QNA_NUMBER) FROM QNA_GOOD QG WHERE Q.QNA_NUMBER = QG.QNA_NUMBER) AS QNA_LIKE_CNT,
                (SELECT COUNT(QC.QNA_NUMBER) FROM QNA_COMMENT QC WHERE Q.QNA_NUMBER = QC.QNA_NUMBER) AS COMMENT_CNT
                FROM QNA Q JOIN (
                    SELECT QNA_NUMBER, LISTAGG(SC.SUB_NAME, ',') WITHIN GROUP(ORDER BY QB.SUB_NUMBER) AS SUB_NAMES
                    FROM QS_BRIDGE QB JOIN SUB_CATEGORY SC
                    ON QB.SUB_NUMBER = SC.SUB_NUMBER
                    <if test="cateList != null and cateList.size != 0">
                        WHERE QB.SUB_NUMBER IN
                        <foreach collection="cateList" open="(" close=")" index="index" separator="," item="cate">
                            #{cate}
                        </foreach>
                    </if>
                    GROUP BY QNA_NUMBER
                ) S1
                ON Q.QNA_NUMBER = S1.QNA_NUMBER
                WHERE Q.QNA_STATUS != '0'
                ORDER BY Q.QNA_NUMBER DESC
            )
            <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
        )
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>




    <select id="selectTotal" resultType="_int">
        SELECT COUNT(QNA_NUMBER) FROM QNA
    </select>

<!--  <select id="selectSub" resultType="qsBridgeDto">-->
<!--      SELECT-->
<!--          SC.sub_NAME, Sc.sub_number-->
<!--      FROM qna q-->
<!--               JOIN qs_bridge qs on q.qna_number = qs.qna_number-->
<!--               join sub_category sc on qs.sub_number = sc.sub_number-->
<!--      ORDER BY q.qna_number DESC-->
<!--  </select>-->

<!-- QNA 상세페이지-->
    <select id="selectQnaByQnaNumber" resultType="qnaVo">
        SELECT qna_number, QNA_TITLE, QNA_CNT, QNA_CONTENT, USER_NICKNAME, GRADE_NAME, USER_BELONG, Q.USER_NUMBER, TO_CHAR(QNA_DATE, 'YYYY-MM-DD') AS QNA_DATE
        FROM QNA Q
                 JOIN WW_USER WU on Q.qna_number = #{qnaNumber} AND Q.USER_NUMBER = WU.USER_NUMBER
                JOIN GRADE G on WU.USER_GRADE = G.GRADE_NUMBER
    </select>

<!--  게시글 태그 삭제&입력(수정)  -->
    <delete id="deleteQna">
        DELETE FROM qna
        WHERE QNA_NUMBER = #{qnaNumber}
    </delete>
    <delete id="deleteQs">
        DELETE FROM QS_BRIDGE
        WHERE QNA_NUMBER = #{qnaNumber}
    </delete>



<!--  게시글 수정  -->
    <update id="updateQna">
    update qna
    set qna_title = #{qnaTitle}, qna_content = #{qnaContent}, qna_date = sysdate
    where qna_number = #{qnaNumber}
    </update>

<!--  태그 수정  -->
<!--    <update id="updateQs">-->
<!--    update qs_bridge-->
<!--    set sub_number = #{subNumber}-->
<!--    where qna_number = #{qnaNumber}-->
<!--    </update>-->

<!--  조회수  -->
    <update id="upQna">
        UPDATE QNA
        SET QNA_CNT = QNA_CNT+1
        WHERE QNA_NUMBER = #{qnaNumber}
    </update>

<!--  댓글 조회수  -->
    <select id="commentCnt">
        SELECT COUNT(*)
        FROM QNA_COMMENT
        WHERE QNA_NUMBER = #{qnaNumber}
    </select>

    <select id="commentAuth">
        SELECT COUNT(*) FROM MENTOR MT
        WHERE USER_NUMBER = #{userNumber}
          AND SUB_NUMBER IN
              (
                  SELECT QB.SUB_NUMBER
                  FROM QS_BRIDGE QB
                  WHERE QB.QNA_NUMBER = #{qnaNumber})
    </select>

    <!-- qna(로그인시) 프로필 조회 -->
    <select id="selectUserProfile" resultType="QnaProfileVo">
        SELECT P.PFP_SYSTEM_NAME, P.PFP_UUID, U.USER_NICKNAME, G.GRADE_NAME, U.USER_POSITION
        FROM WW_USER U
        LEFT OUTER JOIN USER_PFP P
        ON U.USER_NUMBER = P.USER_NUMBER
        LEFT OUTER JOIN MENTOR M
        ON U.USER_NUMBER = M.USER_NUMBER
        LEFT OUTER JOIN GRADE G
        ON U.USER_GRADE = G.GRADE_NUMBER
        <if test="userNumber  != null ">
            WHERE U.USER_NUMBER = #{userNumber}
        </if>
    </select>

</mapper>