<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나눔 - 글 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/user/loginModal.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/share/shareRead.css}"/>
    <link rel="stylesheet" th:href="@{/css/police/reportModal.css}" />
    <link rel="stylesheet" th:href="@{/css/chatting/inputModal.css}" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <style>
        body {
            font-family: "NanumSquareLight";
            font-family: "NanumSquare";
            font-family: "NanumSquareBold";
            font-family: "NanumSquareExtraBold";
            font-family: "NanumSquareAcb";
            font-family: "NanumSquareAceb";
            font-family: "NanumSquareAcl";
            font-family: "NanumSquareAcr";
        }
    </style>
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
<!-- 쪽지 모달창 -->
<div th:replace="chatting/inputModal :: inputModal(nickname=${share.userNickname}, chattingTo=${share.userNumber})"></div>
<section>
    <!-- 신고하기 모달창 -->
    <div class="reportModal">
        <div class="reportModal-content">
            <h2>신고하기</h2>
            <!-- 신고 카테고리 -->
            <form action="#">
                <div class="report-category">
                    <div class="report-list">
                        <input type="checkbox" id="report-language" name="report-checkbox" value="1"/>
                        <label for="report-language" class="label1 check">
                        </label>
                        <span>욕설/비방글</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-copyright" name="report-checkbox" value="2"/>
                        <label for="report-copyright" class="label2 check"></label>
                        <span>저작권 침해</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-adult" name="report-checkbox" value="3"/>
                        <label for="report-adult" class="label3 check"></label>
                        <span>음란성</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="false-maketing" name="report-checkbox" value="4"/>
                        <label for="false-maketing" class="label4 check"></label>
                        <span>불법 광고</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-info-honor" name="report-checkbox" value="5"/>
                        <label for="report-info-honor" class="label5 check"></label>
                        <span>개인정보 침해 및 명예훼손</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="reprot-disgust" name="report-checkbox" value="6"/>
                        <label for="reprot-disgust" class="label6 check"></label>
                        <span>폭력/잔인/혐오</span>
                    </div>

                    <div class="report-list">
                        <input type="checkbox" id="report-castle" name="report-checkbox" value="7"/>
                        <label for="report-castle" class="label7 check"></label>
                        <span>도배성</span>
                    </div>
                </div>
            </form>
            <!--  -->

            <!-- 신고하기 버튼 -->
            <div class="report-button">
                <button type="submit" class="report-btn">신고하기</button>
            </div>
            <!--  -->
        </div>
    </div>
    <!--    -->
    <div class="container-box">
        <div class="first1">
            <div class="first">
                <div class="first-wrap">
                <div class="Profil">
                    <div class="profile-box">
                        <div class="profile-img-box">
                            <img th:if="${profile.pfpSystemName == null}" class="main-img" src="/img/profile-basic.png"/>
                            <div th:unless="${profile.pfpSystemName == null}" class="plusimg"
                                 th:style="${'background-image: url(/profile/' + profile.pfpUuid + '_' + profile.pfpSystemName + ')'}"></div>

                        </div>
                        <div class="id"><p th:text="${share.userNickname}"></p><p class="imfor" th:text="Lv.+${share.gradeName}"></p></div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <span class="dropbtn_icon"> <svg data-v-bd9f2bcc="" data-v-3035bc76="" width="24"
                                                             height="24" fill="black" xmlns="http://www.w3.org/2000/svg"
                                                             class="c-Applicatio c-icon"
                                                             style="fill: rgb(148, 155, 160);"><circle
                                    data-v-bd9f2bcc="" cx="12" cy="5.5" r="1.5"></circle><circle data-v-bd9f2bcc=""
                                                                                                 cx="12" cy="12"
                                                                                                 r="1.5"></circle><circle
                                    data-v-bd9f2bcc="" cx="12" cy="18.5" r="1.5"></circle></svg></span>
                        </button>
                        <div class="dropdown-content" th:if="${session.userNumber == share.userNumber}">
<!--                            <a class="police-btn">신고</a>-->
                            <a th:onclick="'fn_modify('+ ${share.shareNumber} +');'">수정</a>
                            <a th:onclick="'fn_remove('+ ${share.shareNumber} +');'">삭제</a>
                            <input type="hidden" class="share-num" th:value="${share.shareNumber}">
                        </div>
                        <div class="dropdown-content" th:unless="${session.userNumber == share.userNumber}">
                                                        <a class="police-btn">신고</a>
<!--                            <a th:onclick="'fn_modify('+ ${share.shareNumber} +');'">수정</a>-->
<!--                            <a th:onclick="'fn_remove('+ ${share.shareNumber} +');'">삭제</a>-->
                            <input type="hidden" class="share-num" th:value="${share.shareNumber}">
                        </div>
                    </div>
                </div>

                <div class="question">
                    <span class="Q">T.</span>
                    <span class="title" th:text="${share.shareTitle}"></span>
                </div>
                <div class="content"><p th:text="${share.shareContent}"></p></div>
                    <div class="content-img"></div>

                <div class="icon">
                    <!-- 조회 수  -->
                    <div class="read-count">
                        <div class="readCount-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                 style="fill: rgb(148, 155, 160);" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                        <div class="readCount-num"><p class="read-count" th:text="${share.shareReadCnt}"></p></div>
                        <input type="hidden" class="sessionUser" th:value="${session.userWing}"/>
                        </div>
                    </div>
                    <div class="date"
                         th:text="${#strings.substring(#strings.replace(share.shareDate, '-', '.'), 0, 10)}"></div>
                </div>
                    <div class="share-bottom">
                        <div class="share-wing-box">
                            <span class="share-wing-count" th:text="${share.shareWing}" th:data-wing="${share.shareWing}"></span>
                            <img th:src="@{/img/wing-icon.png}" class="share-wing-img"/>
                        </div>
                    </div>
                    <div class="comment">
                        <button type="button" class="commentBtn" style="font-family:NanumSquareLight;">신청하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer" th:replace="fragment/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="text/javascript" th:src="@{/js/share/shareRead.js}"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/user/loginModal.js}"></script>
<script th:src="@{/js/police/reportModal.js}"></script>
<script th:src="@{/js/chatting/inputModal.js}"></script>
<script th:inline="javascript">
    let loginNumber = [[${session.userNumber}]];
</script>
</body>
</html>