<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/user/loginModal.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/share/share.css}">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet"/>
    <style>
        body {
            font-family: "NanumSquareLight";
            font-family: "NanumSquare";
            font-family: "NanumSquareBold";
            font-family: "NanumSquareExtraBold";
            font-family: "NanumSquareAcb";
            font-family: "NanumSquareAceb";
            font-family: "NanumSquareAcl";
            font-family: "NanumSquareAcr";
        }
    </style>
    <title>나눔 메인페이지</title>
</head>

<body>
<header class="header" th:replace="fragment/header :: header"></header>

<div class="wrap">
        <!-- 회원 프로필&질문하기 버튼 / 로그인 했을 때 -->
        <div class="community-pfp" th:unless="${session.userNumber == null}">
            <div class="community-user">
                <div class="community-pfp-img">
                    <img th:if="${profile.pfpSystemName == null}" class="main-img" src="/img/profile-basic.png"/>
                    <div th:unless="${profile.pfpSystemName == null}" class="plusimg"
                         th:style="${'background-image: url(/profile/' + profile.pfpUuid + '_' + profile.pfpSystemName + ')'}"></div>
                </div>
                <div>
                    <div class="community-user-name" th:text="${session.userNickname}"></div>
                    <div class="community-pfp-belong" th:text="${profile.userPosition}"></div>
                    <div class="community-pfp-department" th:text="'Lv.' + ${profile.gradeName}"></div>
                </div>
            </div>
            <div class="community-pfp-main-btn">
                <a th:href="@{/share/write}" class="pfp-main-btn-css" th:data-usernumber="${session.userNumber}">작성하기</a>
            </div>
            <div class="community-pfp-sub-btn">
            <!-- 병합하고 마이페이지에 있는 이력서, 자소서 이동 -->
                <button type="button" class="pfp-sub-btn" th:data-usernumber="${session.userNumber}">이력서</button>
                <button type="button" class="pfp-sub-btn" th:data-usernumber="${session.userNumber}">자소서</button>
            </div>
        </div>
        <!-- 회원 프로필&질문하기 버튼 끝 -->

        <!-- 회원 프로필&질문하기 버튼 / 로그인 안했을 때 -->
        <div class="community-pfp" th:if="${session.userNumber == null}">
            <div class="community-user">
                <div class="community-pfp-img">
                    <img src="../../img/profile-basic.png" class="userpfp"/>
                </div>
                <div>
                    <div class="not-login">
                        <a><span class="pfp-main-btn">로그인</span>이 필요합니다.</a>
                    </div>
                    <div class="not-login-comment">나의 고민을 공유해보아요 :)</div>
                </div>
            </div>
            <div class="community-pfp-main-btn">
                <a class="pfp-main-btn-css pfp-main-btn">작성하기</a>
            </div>
            <div class="community-pfp-sub-btn">
                <!-- 병합하고 마이페이지에 있는 이력서, 자소서 이동 -->
                <button type="button" class="pfp-sub-btn">이력서</button>
                <button type="button" class="pfp-sub-btn">자소서</button>
            </div>
        </div>
        <!-- 회원 프로필&질문하기 버튼 끝 -->
    <div class="community">
        <span class="big-title">📩나눔📩</span>

        <!-- 나눔 게시글 리스트 -->

        <!-- share.js 참고!  -->

        <!--        -->

        <!-- 시작! -->
        <!-- share.js 참고!  -->
        <!-- 끝! -->


    </div>
</div>
<footer class="footer" th:replace="fragment/footer :: footer"></footer>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/fragment/header.js}"></script>
<script th:src="@{/js/user/loginModal.js}"></script>
<script th:src="@{/js/share/share.js}"></script>
</body>

</html>