<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>reportModal</title>
  <link rel="stylesheet" th:href="@{/css/police/reportModal.css}" />
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet" />
  <style>
    body {
      font-family: "NanumSquareLight";
      font-family: "NanumSquare";
      font-family: "NanumSquareBold";
      font-family: "NanumSquareExtraBold";
      font-family: "NanumSquareAcb";
      font-family: "NanumSquareAceb";
      font-family: "NanumSquareAcl";
      font-family: "NanumSquareAcr";
    }
  </style>
</head>
<body>
<div class="reportModal none" th:fragment="reportModal">
  <div class="reportModal-content">
    <h2>신고하기</h2>
    <!-- 신고 카테고리 -->
    <form action="#">
      <div class="report-category">
        <div class="report-list">
          <input type="checkbox" id="report-language" name="report-checkbox" />
          <label for="report-language" class="label1 check"></label>
          <span>욕설/비방글</span>
        </div>

        <div class="report-list">
          <input type="checkbox" id="report-copyright" name="report-checkbox" />
          <label for="report-copyright" class="label2 check"></label>
          <span>저작권 침해</span>
        </div>

        <div class="report-list">
          <input type="checkbox" id="report-adult" name="report-checkbox" />
          <label for="report-adult" class="label3 check"></label>
          <span>음란성</span>
        </div>

        <div class="report-list">
          <input type="checkbox" id="false-maketing" name="report-checkbox" />
          <label for="false-maketing" class="label4 check"></label>
          <span>불법 광고</span>
        </div>

        <div class="report-list">
          <input type="checkbox" id="report-info-honor" name="report-checkbox" />
          <label for="report-info-honor" class="label5 check"></label>
          <span>개인정보 침해 및 명예훼손</span>
        </div>

        <div class="report-list">
          <input type="checkbox" id="reprot-disgust" name="report-checkbox" />
          <label for="reprot-disgust" class="label6 check"></label>
          <span>폭력/잔인/혐오</span>
        </div>

        <div class="report-list">
          <input type="checkbox" id="report-castle" name="report-checkbox" />
          <label for="report-castle" class="label7 check"></label>
          <span>도배성</span>
        </div>
      </div>
    </form>
    <!--  -->

    <!-- 신고하기 버튼 -->
    <div class="report-button">
      <button class="report-btn">신고하기</button>
    </div>
    <!--  -->
  </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<script th:src="@{/js/police/reportModal.js}"></script>
</body>
</html>
